ETL PROCESAMIENTO SISTEMATICO CERTIFICADOS ANALITICOS MLP

PROCESAMIENTO INFO CERTIFICADOS

In [1]:
"""@author: Francisco Donaire"""

#IMPORTAMOS LAS LIBRERIAS NECESARIAS
import pandas as pd
import openpyxl
import os
import datetime


directory_path = r'G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYuXbB3Pj0UXueIKJ\09. Contrato CS115 EIA 2024\03.WIP\03.Hidroquímica\2. Actualizacion BDD\3. Nuevo Obras lineales (27-06-24)\Certificados revisados'


data_certificados = pd.DataFrame()

excel_files = [file for file in os.listdir(directory_path) if file.endswith(('.xlsx'))]

# Procesar cada archivo Excel encontrados
for file in excel_files:
    file_path = os.path.join(directory_path, file)  # Construye la ruta completa al archivo
    xls = pd.ExcelFile(file_path)
    wb = openpyxl.load_workbook(file_path)

    #DETERMINAMOS LA EXTENSION HORIZONTAL DE MANERA AUTOMATICA
    for hoja_archivo in xls.sheet_names:
        hoja = wb[hoja_archivo]
        rango = hoja['C133:EZ133']

        ultima_celda_con_datos = None
        for celda in rango[0]:
            if celda.value is not None:
                ultima_celda_con_datos = celda

        if ultima_celda_con_datos:
            columna = ''.join(filter(str.isalpha, ultima_celda_con_datos.coordinate))
            print(f'La última columna con datos es {columna}, en la hoja: {hoja_archivo}, del archivo: {file}')
    
    
            data_identificacion = pd.read_excel(xls, sheet_name= hoja_archivo, skiprows=132, nrows=8, usecols=f"C:{columna}")


            data_identificacion_transposed = data_identificacion.transpose()


            data_identificacion_transposed.columns = data_identificacion_transposed.iloc[0]
            data_identificacion_transposed = data_identificacion_transposed.drop(data_identificacion_transposed.index[0])
            
            # ASIGNACION DE NOMBRES A LAS COLUMNAS
            data_identificacion_transposed.columns = ['Fecha', 'Id_Certificado', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales']
            data_identificacion_transposed['Index_Column'] = data_identificacion_transposed.index

            # RESET DEL INDICE PARA OBTENER UNO NUEVO E INCREMENTAL
            data_identificacion_transposed.reset_index(drop=True, inplace=True)
            
            # AGREGA COLUMNA CON LA RUTA DEL ARCHIVO
            data_identificacion_transposed['Ruta_Archivo'] = file_path
            data_identificacion_transposed.columns = ['Fecha', 'Id_Certificado', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales', 'Estacion', 'Ruta_Archivo']
            
            # ORDEN DE LA COLUMNAS 
            data_identificacion_transposed = data_identificacion_transposed[['Estacion','Fecha', 'Id_Certificado', 'Ruta_Archivo', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales']]
            
            # SE LIMPIA COLUMNA "ESTACION"
            data_identificacion_transposed['Estacion'] = data_identificacion_transposed['Estacion'].str.replace(r'\..*$', '', regex=True)
            
            # SE UNE LA DATA NUEVA AL DATAFRAME PRINCIPAL
            data_certificados = pd.concat([data_certificados, data_identificacion_transposed], ignore_index=True)
            
            
        else:
            print(f'No hay datos en el rango C133:AZ133, para la hoja: {hoja_archivo}, para el archivo: {file}')

La última columna con datos es AD, en la hoja: 14 AS (2021), del archivo: 14 AS_CIGF.xlsx
La última columna con datos es W, en la hoja: 14 AS (2022), del archivo: 14 AS_CIGF.xlsx
La última columna con datos es H, en la hoja: 14 AS (2023), del archivo: 14 AS_CIGF.xlsx
La última columna con datos es O, en la hoja: 2021, del archivo: 6.12 (AS 17)_CIGF.xlsx
La última columna con datos es O, en la hoja: 2022, del archivo: 6.12 (AS 17)_CIGF.xlsx
La última columna con datos es O, en la hoja: 2023, del archivo: 6.12 (AS 17)_CIGF.xlsx
La última columna con datos es H, en la hoja: 2024, del archivo: 6.12 (AS 17)_CIGF.xlsx
La última columna con datos es O, en la hoja: 2021, del archivo: 6.11 (AS 14)_CIGF.xlsx
La última columna con datos es O, en la hoja: 2022, del archivo: 6.11 (AS 14)_CIGF.xlsx
La última columna con datos es O, en la hoja: 2023, del archivo: 6.11 (AS 14)_CIGF.xlsx
La última columna con datos es H, en la hoja: 2024, del archivo: 6.11 (AS 14)_CIGF.xlsx

IMPRIMIR DATA PARA REVISAR CANTIDAD DE DATOS

In [2]:
data_certificados

,Estacion,Fecha,Id_Certificado,Ruta_Archivo,Comentarios,Año_QAQC,Fecha_QAQC,Mes_QAQC,Muestras_Con_Datos,Muestras_Totales
0,14 AS,2021-01-07 00:00:00,ES21-00837,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,07-01-2021,Enero,22,27
1,14 AS,2021-01-12 00:00:00,ES21-01523,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,12-01-2021,Enero,22,27
2,14 AS,2021-01-21 00:00:00,ES21-03235,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,21-01-2021,Enero,22,27
3,14 AS,2021-01-26 00:00:00,ES21-04005,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,26-01-2021,Enero,22,27
4,14 AS,2021-02-03 00:00:00,ES21-05466,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,03-02-2021,Febrero,22,27
...,...,...,...,...,...,...,...,...,...,...
129,AS 14,2024-01-02 00:00:00,2024-342650,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,02-01-2024,Enero,0,5
130,AS 14,2024-02-03 00:00:00,2024-361140,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,03-02-2024,Febrero,0,5
131,AS 14,2024-03-03 00:00:00,2024-367918,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,03-03-2024,Marzo,0,5
132,AS 14,2024-04-13 00:00:00,2024-382142,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,13-04-2024,Abril,0,5
133,AS 14,2024-05-01 00:00:00,2024-386096,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,01-05-2024,Mayo,0,5

PROCESAR DATA PARAMETROS

In [4]:
import pandas as pd
import openpyxl
import os

directory_path = r'G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYuXbB3Pj0UXueIKJ\09. Contrato CS115 EIA 2024\03.WIP\03.Hidroquímica\2. Actualizacion BDD\3. Nuevo Obras lineales (27-06-24)\Certificados revisados'

data_parametros = pd.DataFrame()

# ENCONTRAR ARCHIVOS EXCEL EN EL DIRECTORIO
excel_files = [file for file in os.listdir(directory_path) if file.endswith(('.xlsx'))]

# LEER CADA ARCHIVO EXCEL ENCONTRADO
for file in excel_files:
    file_path = os.path.join(directory_path, file)  # CONSTRUYE LA RUTA COMPLETA AL ARCHIVO
    xls = pd.ExcelFile(file_path)
    wb = openpyxl.load_workbook(file_path)
    # EVALUA COLUMNAS CON DATOS EN EL RANGO
    for hoja_archivo in xls.sheet_names:
        hoja = wb[hoja_archivo]
        rango = hoja['C133:EZ133']
        # DETERMINA LA ULTIMA COLUMNA CON DATOS
        ultima_celda_con_datos = None
        for celda in rango[0]:
            if celda.value is not None:
                ultima_celda_con_datos = celda
        # SI HAY DATOS EN EL RANGO OBTIENE LA COORDENADA DE LA ULTIMA COLUMNA
        if ultima_celda_con_datos:
            columna = ''.join(filter(str.isalpha, ultima_celda_con_datos.coordinate))
            print(f'La última columna con datos es >>> {columna} <<< , en la hoja: >>> {hoja_archivo}, en el {file} <<<')
    
            # SE LEE EL RANGO DE CELDAS CON LOS DATOS DE LOS PARAMETROS
            data_df = pd.read_excel(xls, sheet_name= hoja_archivo, skiprows=141, nrows=120, usecols=f"B:{columna}", header=None) #nrows= filas hacia abajo Skiprows= filas de donde parte
            # data_df.columns = data_df.reset_index()
            data_df.drop(data_df.columns[1], axis=1, inplace=True) #ELIMINA COLUMNA VACIA
            
            # data_df.reset_index(drop=False, inplace=False)
            #PIVOTEO DEL DATAFRAME
            data_pivoted = data_df.T

            # PARAMETROS COMO COLUMNAS, PRIMERA FILA COMO ENCABEZADO
            new_header = data_pivoted.iloc[0]  
            data_pivoted = data_pivoted[1:]  
            data_pivoted.columns = new_header  

            #RESETEA EL INDICE
            data_pivoted.reset_index(drop=True, inplace=True)

            # SE UNE LA NUEVA DATA 
            data_parametros = pd.concat([data_parametros, data_pivoted], ignore_index=True)
            # for column in data_parametros.columns:
            #     data_parametros[column] = pd.to_numeric(data_parametros[column], errors='coerce')
            
        else:
            print(f'No hay datos en el rango C133:AZ133, para la hoja: {hoja_archivo}')
            
         
data_parametros

La última columna con datos es >>> AD <<< , en la hoja: >>> 14 AS (2021), en el 14 AS_CIGF.xlsx <<<
La última columna con datos es >>> W <<< , en la hoja: >>> 14 AS (2022), en el 14 AS_CIGF.xlsx <<<
La última columna con datos es >>> H <<< , en la hoja: >>> 14 AS (2023), en el 14 AS_CIGF.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2021, en el 6.12 (AS 17)_CIGF.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2022, en el 6.12 (AS 17)_CIGF.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2023, en el 6.12 (AS 17)_CIGF.xlsx <<<
La última columna con datos es >>> H <<< , en la hoja: >>> 2024, en el 6.12 (AS 17)_CIGF.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2021, en el 6.11 (AS 14)_CIGF.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2022, en el 6.11 (AS 14)_CIGF.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2023, en el 6.11 (AS 14)_CIGF.xlsx <<<
La última columna con datos es >>> H <<< , en la hoja: >>> 2024, en el 6.11 (AS 14)_CIGF.xlsx <<<

1,"2,4_D_µg/L",Aceites_y_Grasas_mg/L,Alcalinidad_Carbonatos_(Laboratorio)_CaCO3_mg/L,Alcalinidad_Total_CaCO3_mg/L,Aluminio_Total_mg/L,Amoniaco_mg/L,Antimonio_Total_mg/L,Arsenico_Total_mg/L,Balance_Ionico_Total_(Laboratorio)_%,Bario_Total_mg/L,...,DBO5_a_20degC_mg/L,Fosforo_Total_mg/L,Hidrocarburos_Fijos_mg/L,Hierro_Disuelto_mg/L,Indice_de_Fenol_mg/L,Nitrógeno_Total_Kjeldahl_mg/L,Poder_Espumógeno_mg/L,Sulfuros_mg/L,Turbidez_(Campo)_NTU,Altura Limnimétrica_m
0,NaN,NaN,NaN,3,3.95,NaN,NaN,"<0,001",3.92,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN
1,NaN,NaN,NaN,2,3.45,NaN,NaN,"<0,001",4.02,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.18,NaN
2,NaN,NaN,NaN,2,4.43,NaN,NaN,"<0,001",4.78,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.42,NaN
3,NaN,NaN,NaN,<2,3.48,NaN,NaN,"<0,001",0.61,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72,NaN
4,NaN,NaN,NaN,<2,3.07,NaN,NaN,"<0,001",3.15,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

REVISAR DATA PARAMETROS

In [5]:
data_parametros

1,"2,4_D_µg/L",Aceites_y_Grasas_mg/L,Alcalinidad_Carbonatos_(Laboratorio)_CaCO3_mg/L,Alcalinidad_Total_CaCO3_mg/L,Aluminio_Total_mg/L,Amoniaco_mg/L,Antimonio_Total_mg/L,Arsenico_Total_mg/L,Balance_Ionico_Total_(Laboratorio)_%,Bario_Total_mg/L,...,DBO5_a_20degC_mg/L,Fosforo_Total_mg/L,Hidrocarburos_Fijos_mg/L,Hierro_Disuelto_mg/L,Indice_de_Fenol_mg/L,Nitrógeno_Total_Kjeldahl_mg/L,Poder_Espumógeno_mg/L,Sulfuros_mg/L,Turbidez_(Campo)_NTU,Altura Limnimétrica_m
0,NaN,NaN,NaN,3,3.95,NaN,NaN,"<0,001",3.92,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN
1,NaN,NaN,NaN,2,3.45,NaN,NaN,"<0,001",4.02,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.18,NaN
2,NaN,NaN,NaN,2,4.43,NaN,NaN,"<0,001",4.78,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.42,NaN
3,NaN,NaN,NaN,<2,3.48,NaN,NaN,"<0,001",0.61,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72,NaN
4,NaN,NaN,NaN,<2,3.07,NaN,NaN,"<0,001",3.15,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

SE JUNTAN AMBOS DATA_FRAME PARA LOGRAR FORMATO COLUMNAR INDEXADO|

In [6]:
df_merged = pd.concat([data_certificados, data_parametros], axis=1)

In [7]:
df_merged

,Estacion,Fecha,Id_Certificado,Ruta_Archivo,Comentarios,Año_QAQC,Fecha_QAQC,Mes_QAQC,Muestras_Con_Datos,Muestras_Totales,...,DBO5_a_20degC_mg/L,Fosforo_Total_mg/L,Hidrocarburos_Fijos_mg/L,Hierro_Disuelto_mg/L,Indice_de_Fenol_mg/L,Nitrógeno_Total_Kjeldahl_mg/L,Poder_Espumógeno_mg/L,Sulfuros_mg/L,Turbidez_(Campo)_NTU,Altura Limnimétrica_m
0,14 AS,2021-01-07 00:00:00,ES21-00837,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,07-01-2021,Enero,22,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN
1,14 AS,2021-01-12 00:00:00,ES21-01523,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,12-01-2021,Enero,22,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.18,NaN
2,14 AS,2021-01-21 00:00:00,ES21-03235,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,21-01-2021,Enero,22,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.42,NaN
3,14 AS,2021-01-26 00:00:00,ES21-04005,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,26-01-2021,Enero,22,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72,NaN
4,14 AS,2021-02-03 00:00:00,ES21-05466,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2021,03-02-2021,Febrero,22,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,AS 14,2024-01-02 00:00:00,2024-342650,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,02-01-2024,Enero,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,AS 14,2024-02-03 00:00:00,2024-361140,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,03-02-2024,Febrero,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,AS 14,2024-03-03 00:00:00,2024-367918,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,03-03-2024,Marzo,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,AS 14,2024-04-13 00:00:00,2024-382142,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,13-04-2024,Abril,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,AS 14,2024-05-01 00:00:00,2024-386096,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,01-05-2024,Mayo,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

SE LIMPIA COLUMNA ESTACION

In [ ]:
# df_merged['Estacion'] = df_merged['Estacion'].str.replace(r'\..*$', '', regex=True)

In [9]:
df_merged.to_excel(r'G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYuXbB3Pj0UXueIKJ\09. Contrato CS115 EIA 2024\03.WIP\03.Hidroquímica\2. Actualizacion BDD\3. Nuevo Obras lineales (27-06-24)\Certificados revisados\Compilado_01-07-24.xlsx', index=False)

CREAMOS CONECCION  A LA TABLA EN LA BD

In [ ]:
import psycopg2
from sqlalchemy import create_engine

# Credenciales db
host = 'localhost'
database = 'certificados_dbo'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name = 'certificados_procesados'

df_data_bd = pd.read_sql_table('certificados_procesados', con=engine)#Trae la tabla de la bda un dataframe

df_data_bd

SE UNE LA DATA PROVENIENTE DE LA BBDD A LA DATA NUEVA QUE SE ACTUALIZARÁ

In [ ]:



df_update = pd.concat([df_data_bd, df_merged], ignore_index=True, axis=0) # se le añade la nueva info
df_update

CARGAMOS A LA BBDD LA NUEVA DATA COMPILADA

In [ ]:


# df_update = df_merged #DESCOMENTAR PARA SOLO INSERTAR UNA TABLA NUEVA

df_update.to_sql(table_name, engine, index=False, if_exists='replace',)

BAJAMOS LA DATA DE LA BBDD A UN DATA-FRAME PARA REVISAR CANTIDADES Y CONSISTENCIA

In [ ]:
table_name = 'certificados_procesados'

df_data_bd_rev = pd.read_sql_table('certificados_procesados', con=engine)  #Trae la tabla de la bda un dataframe


df_data_bd_rev