ETL PROCESAMIENTO SISTEMATICO CERTIFICADOS ANALITICOS MLP

PROCESAMIENTO INFO CERTIFICADOS

In [1]:
"""@author: Francisco Donaire"""

#IMPORTAMOS LAS LIBRERIAS NECESARIAS
import pandas as pd
import openpyxl
import os
import datetime


directory_path = r'G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYuXbB3Pj0UXueIKJ\09. Contrato CS115 EIA 2024\03.WIP\03.Hidroquímica\2. Actualizacion BDD\2. Nuevo - Mauro\1. Certificados\1. Revision final'


data_certificados = pd.DataFrame()

excel_files = [file for file in os.listdir(directory_path) if file.endswith(('.xlsx'))]

# Procesar cada archivo Excel encontrados
for file in excel_files:
    file_path = os.path.join(directory_path, file)  # Construye la ruta completa al archivo
    xls = pd.ExcelFile(file_path)
    wb = openpyxl.load_workbook(file_path)

    #DETERMINAMOS LA EXTENSION HORIZONTAL DE MANERA AUTOMATICA
    for hoja_archivo in xls.sheet_names:
        hoja = wb[hoja_archivo]
        rango = hoja['C133:AZ133']

        ultima_celda_con_datos = None
        for celda in rango[0]:
            if celda.value is not None:
                ultima_celda_con_datos = celda

        if ultima_celda_con_datos:
            columna = ''.join(filter(str.isalpha, ultima_celda_con_datos.coordinate))
            print(f'La última columna con datos es {columna}, en la hoja: {hoja_archivo}, del archivo: {file}')
    
    
            data_identificacion = pd.read_excel(xls, sheet_name= hoja_archivo, skiprows=132, nrows=8, usecols=f"C:{columna}")


            data_identificacion_transposed = data_identificacion.transpose()


            data_identificacion_transposed.columns = data_identificacion_transposed.iloc[0]
            data_identificacion_transposed = data_identificacion_transposed.drop(data_identificacion_transposed.index[0])
            
            # ASIGNACION DE NOMBRES A LAS COLUMNAS
            data_identificacion_transposed.columns = ['Fecha', 'Id_Certificado', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales']
            data_identificacion_transposed['Index_Column'] = data_identificacion_transposed.index

            # RESET DEL INDICE PARA OBTENER UNO NUEVO E INCREMENTAL
            data_identificacion_transposed.reset_index(drop=True, inplace=True)
            
            # AGREGA COLUMNA CON LA RUTA DEL ARCHIVO
            data_identificacion_transposed['Ruta_Archivo'] = file_path
            data_identificacion_transposed.columns = ['Fecha', 'Id_Certificado', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales', 'Estacion', 'Ruta_Archivo']
            
            # ORDEN DE LA COLUMNAS 
            data_identificacion_transposed = data_identificacion_transposed[['Estacion','Fecha', 'Id_Certificado', 'Ruta_Archivo', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales']]
            
            # SE LIMPIA COLUMNA "ESTACION"
            data_identificacion_transposed['Estacion'] = data_identificacion_transposed['Estacion'].str.replace(r'\..*$', '', regex=True)
            
            # SE UNE LA DATA NUEVA AL DATAFRAME PRINCIPAL
            data_certificados = pd.concat([data_certificados, data_identificacion_transposed], ignore_index=True)
            
            
        else:
            print(f'No hay datos en el rango C133:AZ133, para la hoja: {hoja_archivo}, para el archivo: {file}')

La última columna con datos es F, en la hoja: ATM 2008, del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es M, en la hoja: ATM (2011), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es Z, en la hoja: ATM (2012), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es AB, en la hoja:  ATM (2013), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es V, en la hoja:  ATM (2014), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja:  ATM (2015), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja:  ATM (2016), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja:  ATM (2017), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja:  ATM (2018), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja:  ATM (2019), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja: ATM (2020), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja: ATM (2021), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja: ATM (2022), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es O, en la hoja: ATM (2023), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es F, en la hoja: ATM (2024), del archivo: ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx
La última columna con datos es G, en la hoja: 2017, del archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es J, en la hoja: 2018, del archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es I, en la hoja: (2019), del archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es G, en la hoja: (2020), del archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es H, en la hoja: (2021), del archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es N, en la hoja: (2022), del archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es O, en la hoja: (2023), del archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es G, en la hoja: (2024), del archivo: Sentina Dren Mauro_MM_MM.xlsx
No hay datos en el rango C133:AZ133, para la hoja: terr, para el archivo: Sentina Dren Mauro_MM_MM.xlsx
No hay datos en el rango C133:AZ133, para la hoja: lab, para el archivo: Sentina Dren Mauro_MM_MM.xlsx
La última columna con datos es AC, en la hoja: Cámara recolectora (2020), del archivo: Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: Cámara recolectora (2022), del archivo: Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: Cámara recolectora (2021), del archivo: Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: Cámara recolectora (2023), del archivo: Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: DPDM 2012 , del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es R, en la hoja: DPDM 2013, del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es V, en la hoja: DPDM 2014, del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: DPDM 2015, del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: DPDM 2016, del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es N, en la hoja: DPDM 2017, del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: DPDM 2018, del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es Q, en la hoja: DPDM (2019), del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es Q, en la hoja: DPDM (2020), del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es Q, en la hoja: DPDM (2021), del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: DPDM (2022), del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: DPDM (2023), del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es G, en la hoja: DPDM (2024), del archivo: Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx
La última columna con datos es L, en la hoja: Dren Mauro (2022), del archivo: Dren Mauro_VV.xlsx
La última columna con datos es O, en la hoja: Dren Mauro (2023), del archivo: Dren Mauro_VV.xlsx
La última columna con datos es F, en la hoja: Dren Mauro (2024), del archivo: Dren Mauro_VV.xlsx

IMPRIMIR DATA PARA REVISAR CANTIDAD DE DATOS

In [2]:
data_certificados

,Estacion,Fecha,Id_Certificado,Ruta_Archivo,Comentarios,Año_QAQC,Fecha_QAQC,Mes_QAQC,Muestras_Con_Datos,Muestras_Totales
0,ATM,2008-12-16 00:00:00,815530,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2008,16-12-2008,Diciembre,3,3
1,ATM,2008-12-16 00:00:00,815535,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2008,16-12-2008,Diciembre,3,3
2,ATM,2008-12-29 00:00:00,816205,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2008,29-12-2008,Diciembre,3,3
3,ATM,2011-05-31 00:00:00,1113476,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2011,31-05-2011,Mayo,3,3
4,ATM,2011-06-24 00:00:00,1115896,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2011,24-06-2011,Junio,3,3
...,...,...,...,...,...,...,...,...,...,...
502,Dren Mauro,2023-11-24 00:00:00,ES23-72747,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,24-11-2023,Noviembre,12,12
503,Dren Mauro,2023-12-10 00:00:00,ES23-76318,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,10-12-2023,Diciembre,12,12
504,Dren Mauro,2024-01-05 00:00:00,ES24-01331,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,05-01-2024,Enero,3,3
505,Dren Mauro,2024-02-02 00:00:00,ES24-07890,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,02-02-2024,Febrero,3,3
506,Dren Mauro,2024-03-03 00:00:00,ES24-14517,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,03-03-2024,Marzo,3,3

PROCESAR DATA PARAMETROS

In [3]:
import pandas as pd
import openpyxl
import os

directory_path = r'G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYuXbB3Pj0UXueIKJ\09. Contrato CS115 EIA 2024\03.WIP\03.Hidroquímica\2. Actualizacion BDD\2. Nuevo - Mauro\1. Certificados\1. Revision final'

data_parametros = pd.DataFrame()

# ENCONTRAR ARCHIVOS EXCEL EN EL DIRECTORIO
excel_files = [file for file in os.listdir(directory_path) if file.endswith(('.xlsx'))]

# LEER CADA ARCHIVO EXCEL ENCONTRADO
for file in excel_files:
    file_path = os.path.join(directory_path, file)  # CONSTRUYE LA RUTA COMPLETA AL ARCHIVO
    xls = pd.ExcelFile(file_path)
    wb = openpyxl.load_workbook(file_path)
    # EVALUA COLUMNAS CON DATOS EN EL RANGO
    for hoja_archivo in xls.sheet_names:
        hoja = wb[hoja_archivo]
        rango = hoja['C133:AZ133']
        # DETERMINA LA ULTIMA COLUMNA CON DATOS
        ultima_celda_con_datos = None
        for celda in rango[0]:
            if celda.value is not None:
                ultima_celda_con_datos = celda
        # SI HAY DATOS EN EL RANGO OBTIENE LA COORDENADA DE LA ULTIMA COLUMNA
        if ultima_celda_con_datos:
            columna = ''.join(filter(str.isalpha, ultima_celda_con_datos.coordinate))
            print(f'La última columna con datos es >>> {columna} <<< , en la hoja: >>> {hoja_archivo}, en el {file} <<<')
    
            # SE LEE EL RANGO DE CELDAS CON LOS DATOS DE LOS PARAMETROS
            data_df = pd.read_excel(xls, sheet_name= hoja_archivo, skiprows=141, nrows=120, usecols=f"B:{columna}", header=None) #nrows= filas hacia abajo Skiprows= filas de donde parte
            # data_df.columns = data_df.reset_index()
            data_df.drop(data_df.columns[1], axis=1, inplace=True) #ELIMINA COLUMNA VACIA
            
            # data_df.reset_index(drop=False, inplace=False)
            #PIVOTEO DEL DATAFRAME
            data_pivoted = data_df.T

            # PARAMETROS COMO COLUMNAS, PRIMERA FILA COMO ENCABEZADO
            new_header = data_pivoted.iloc[0]  
            data_pivoted = data_pivoted[1:]  
            data_pivoted.columns = new_header  

            #RESETEA EL INDICE
            data_pivoted.reset_index(drop=True, inplace=True)

            # SE UNE LA NUEVA DATA 
            data_parametros = pd.concat([data_parametros, data_pivoted], ignore_index=True)
            # for column in data_parametros.columns:
            #     data_parametros[column] = pd.to_numeric(data_parametros[column], errors='coerce')
            
        else:
            print(f'No hay datos en el rango C133:AZ133, para la hoja: {hoja_archivo}')
            
         
data_parametros

La última columna con datos es >>> F <<< , en la hoja: >>> ATM 2008, en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> M <<< , en la hoja: >>> ATM (2011), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> Z <<< , en la hoja: >>> ATM (2012), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> AB <<< , en la hoja: >>>  ATM (2013), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> V <<< , en la hoja: >>>  ATM (2014), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>>  ATM (2015), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>>  ATM (2016), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>>  ATM (2017), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>>  ATM (2018), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>>  ATM (2019), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> ATM (2020), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> ATM (2021), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> ATM (2022), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> ATM (2023), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> F <<< , en la hoja: >>> ATM (2024), en el ATM_(Aguas Claras Tranque Mauro)_VV_VV_MM.xlsx <<<
La última columna con datos es >>> G <<< , en la hoja: >>> 2017, en el Sentina Dren Mauro_MM_MM.xlsx <<<
La última columna con datos es >>> J <<< , en la hoja: >>> 2018, en el Sentina Dren Mauro_MM_MM.xlsx <<<
La última columna con datos es >>> I <<< , en la hoja: >>> (2019), en el Sentina Dren Mauro_MM_MM.xlsx <<<
La última columna con datos es >>> G <<< , en la hoja: >>> (2020), en el Sentina Dren Mauro_MM_MM.xlsx <<<
La última columna con datos es >>> H <<< , en la hoja: >>> (2021), en el Sentina Dren Mauro_MM_MM.xlsx <<<
La última columna con datos es >>> N <<< , en la hoja: >>> (2022), en el Sentina Dren Mauro_MM_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> (2023), en el Sentina Dren Mauro_MM_MM.xlsx <<<
La última columna con datos es >>> G <<< , en la hoja: >>> (2024), en el Sentina Dren Mauro_MM_MM.xlsx <<<
No hay datos en el rango C133:AZ133, para la hoja: terr
No hay datos en el rango C133:AZ133, para la hoja: lab
La última columna con datos es >>> AC <<< , en la hoja: >>> Cámara recolectora (2020), en el Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> Cámara recolectora (2022), en el Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> Cámara recolectora (2021), en el Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> Cámara recolectora (2023), en el Cámara Recolectora Mauro Drenes_CIGF_MM.xlsx <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> DPDM 2012 , en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> R <<< , en la hoja: >>> DPDM 2013, en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> V <<< , en la hoja: >>> DPDM 2014, en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> DPDM 2015, en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> DPDM 2016, en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> N <<< , en la hoja: >>> DPDM 2017, en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> DPDM 2018, en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> Q <<< , en la hoja: >>> DPDM (2019), en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> Q <<< , en la hoja: >>> DPDM (2020), en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> Q <<< , en la hoja: >>> DPDM (2021), en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> DPDM (2022), en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> DPDM (2023), en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> G <<< , en la hoja: >>> DPDM (2024), en el Descarga Piscinas Drenes Mauro (NCh1333)_CIGF_MM.xlsx <<<
La última columna con datos es >>> L <<< , en la hoja: >>> Dren Mauro (2022), en el Dren Mauro_VV.xlsx <<<
La última columna con datos es >>> O <<< , en la hoja: >>> Dren Mauro (2023), en el Dren Mauro_VV.xlsx <<<
La última columna con datos es >>> F <<< , en la hoja: >>> Dren Mauro (2024), en el Dren Mauro_VV.xlsx <<<

1,"2,4_D_µg/L",Aceites_y_Grasas_mg/L,Alcalinidad_Carbonatos_(Laboratorio)_CaCO3_mg/L,Alcalinidad_Total_CaCO3_mg/L,Aluminio_Total_mg/L,Amoniaco_mg/L,Antimonio_Total_mg/L,Arsenico_Total_mg/L,Balance_Ionico_Total_(Laboratorio)_%,Bario_Total_mg/L,...,Sólidos Sedimentables Totales,Estaño_Total_mg/L,Hidrocarburos_Total_mg/L,Nitrogeno_Total_mg/L,Clorofila_A_mg/L,Detergente_mg/L,Cumplimiento,Alcalinidad Bicarbonato (Laboratorio)_mg CaCO3/L,tipo_dato,Estaño_(Total)_mg/L
0,NaN,0,NaN,NaN,1.95,NaN,NaN,0.003,NaN,<0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
1,NaN,0,NaN,NaN,<0.5,NaN,NaN,0.04,NaN,<0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
2,NaN,<10,NaN,NaN,0.19,NaN,NaN,0.003,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
3,NaN,NaN,NaN,20,1.04,0.27,NaN,0.001,NaN,0.4,...,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN,operacional,NaN
4,NaN,NaN,NaN,20,0,0,NaN,0.001,NaN,0,...,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN,operacional,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01",0.002,NaN,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
503,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01",0.001,NaN,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
504,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01","<0,001",2.6534,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
505,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01","<0,001",4.3209,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
506,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01",0.001,1.3265,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN

REVISAR DATA PARAMETROS

In [4]:
data_parametros

1,"2,4_D_µg/L",Aceites_y_Grasas_mg/L,Alcalinidad_Carbonatos_(Laboratorio)_CaCO3_mg/L,Alcalinidad_Total_CaCO3_mg/L,Aluminio_Total_mg/L,Amoniaco_mg/L,Antimonio_Total_mg/L,Arsenico_Total_mg/L,Balance_Ionico_Total_(Laboratorio)_%,Bario_Total_mg/L,...,Sólidos Sedimentables Totales,Estaño_Total_mg/L,Hidrocarburos_Total_mg/L,Nitrogeno_Total_mg/L,Clorofila_A_mg/L,Detergente_mg/L,Cumplimiento,Alcalinidad Bicarbonato (Laboratorio)_mg CaCO3/L,tipo_dato,Estaño_(Total)_mg/L
0,NaN,0,NaN,NaN,1.95,NaN,NaN,0.003,NaN,<0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
1,NaN,0,NaN,NaN,<0.5,NaN,NaN,0.04,NaN,<0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
2,NaN,<10,NaN,NaN,0.19,NaN,NaN,0.003,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
3,NaN,NaN,NaN,20,1.04,0.27,NaN,0.001,NaN,0.4,...,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN,operacional,NaN
4,NaN,NaN,NaN,20,0,0,NaN,0.001,NaN,0,...,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN,operacional,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01",0.002,NaN,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
503,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01",0.001,NaN,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
504,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01","<0,001",2.6534,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
505,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01","<0,001",4.3209,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
506,NaN,NaN,NaN,NaN,NaN,NaN,"<0,01",0.001,1.3265,"<0,01",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN

SE JUNTAN AMBOS DATA_FRAME PARA LOGRAR FORMATO COLUMNAR INDEXADO|

In [5]:
df_merged = pd.concat([data_certificados, data_parametros], axis=1)

In [6]:
df_merged

,Estacion,Fecha,Id_Certificado,Ruta_Archivo,Comentarios,Año_QAQC,Fecha_QAQC,Mes_QAQC,Muestras_Con_Datos,Muestras_Totales,...,Sólidos Sedimentables Totales,Estaño_Total_mg/L,Hidrocarburos_Total_mg/L,Nitrogeno_Total_mg/L,Clorofila_A_mg/L,Detergente_mg/L,Cumplimiento,Alcalinidad Bicarbonato (Laboratorio)_mg CaCO3/L,tipo_dato,Estaño_(Total)_mg/L
0,ATM,2008-12-16 00:00:00,815530,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2008,16-12-2008,Diciembre,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
1,ATM,2008-12-16 00:00:00,815535,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2008,16-12-2008,Diciembre,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
2,ATM,2008-12-29 00:00:00,816205,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2008,29-12-2008,Diciembre,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
3,ATM,2011-05-31 00:00:00,1113476,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2011,31-05-2011,Mayo,3,3,...,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN,operacional,NaN
4,ATM,2011-06-24 00:00:00,1115896,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2011,24-06-2011,Junio,3,3,...,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN,operacional,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Dren Mauro,2023-11-24 00:00:00,ES23-72747,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,24-11-2023,Noviembre,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
503,Dren Mauro,2023-12-10 00:00:00,ES23-76318,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,10-12-2023,Diciembre,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
504,Dren Mauro,2024-01-05 00:00:00,ES24-01331,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,05-01-2024,Enero,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
505,Dren Mauro,2024-02-02 00:00:00,ES24-07890,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,02-02-2024,Febrero,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN
506,Dren Mauro,2024-03-03 00:00:00,ES24-14517,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2024,03-03-2024,Marzo,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,operacional,NaN

SE LIMPIA COLUMNA ESTACION

In [ ]:
# df_merged['Estacion'] = df_merged['Estacion'].str.replace(r'\..*$', '', regex=True)

In [7]:
df_merged.to_excel('Mauro_compilado-06-06-2024.xlsx', index=False)

CREAMOS CONECCION  A LA TABLA EN LA BD

In [ ]:
import psycopg2
from sqlalchemy import create_engine

# Credenciales db
host = 'localhost'
database = 'certificados_dbo'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name = 'certificados_procesados'

df_data_bd = pd.read_sql_table('certificados_procesados', con=engine)#Trae la tabla de la bda un dataframe

df_data_bd

SE UNE LA DATA PROVENIENTE DE LA BBDD A LA DATA NUEVA QUE SE ACTUALIZARÁ

In [ ]:



df_update = pd.concat([df_data_bd, df_merged], ignore_index=True, axis=0) # se le añade la nueva info
df_update

CARGAMOS A LA BBDD LA NUEVA DATA COMPILADA

In [ ]:


# df_update = df_merged #DESCOMENTAR PARA SOLO INSERTAR UNA TABLA NUEVA

df_update.to_sql(table_name, engine, index=False, if_exists='replace',)

BAJAMOS LA DATA DE LA BBDD A UN DATA-FRAME PARA REVISAR CANTIDADES Y CONSISTENCIA

In [ ]:
table_name = 'certificados_procesados'

df_data_bd_rev = pd.read_sql_table('certificados_procesados', con=engine)  #Trae la tabla de la bda un dataframe


df_data_bd_rev