In [92]:
"""@author: Francisco Donaire"""

import pandas as pd
import openpyxl
import os
import datetime


directory_path = "G:\\.shortcut-targets-by-id\\1ugEph6zRyoKHbwpiYuXbB3Pj0UXueIKJ\\09. Contrato CS115 EIA 2024\\03.WIP\\03.Hidroquímica\\2. Actualizacion BDD\\Certificados Revisados\\Subterráneas\\Oficiales - Carlos Ignacio\\Mauro Revisado"


data_certificados = pd.DataFrame()


excel_files = [file for file in os.listdir(directory_path) if file.endswith(('.xlsx'))]

# Procesar cada archivo Excel encontrados
for file in excel_files:
    file_path = os.path.join(directory_path, file)  # Construye la ruta completa al archivo
    xls = pd.ExcelFile(file_path)
    wb = openpyxl.load_workbook(file_path)

    for hoja_archivo in xls.sheet_names:
        hoja = wb[hoja_archivo]
        rango = hoja['C133:AZ133']

        ultima_celda_con_datos = None
        for celda in rango[0]:
            if celda.value is not None:
                ultima_celda_con_datos = celda

        if ultima_celda_con_datos:
            columna = ''.join(filter(str.isalpha, ultima_celda_con_datos.coordinate))
            print(f'La última columna con datos es {columna}, en la hoja: {hoja_archivo}, del archivo: {file}')
    
    
            data_identificacion = pd.read_excel(xls, sheet_name= hoja_archivo, skiprows=132, nrows=8, usecols=f"C:{columna}")


            data_identificacion_transposed = data_identificacion.transpose()


            data_identificacion_transposed.columns = data_identificacion_transposed.iloc[0]
            data_identificacion_transposed = data_identificacion_transposed.drop(data_identificacion_transposed.index[0])
            # nombramiento de columnmas
            data_identificacion_transposed.columns = ['Fecha', 'Id_Certificado', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales']
            data_identificacion_transposed['Index_Column'] = data_identificacion_transposed.index

            # Reiniciar el índice para crear un nuevo índice  AUTOincremental
            data_identificacion_transposed.reset_index(drop=True, inplace=True)
            data_identificacion_transposed['Ruta_Archivo'] = file_path
            data_identificacion_transposed.columns = ['Fecha', 'Id_Certificado', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales', 'Estacion', 'Ruta_Archivo']
            # ORDEN DE LA COLUMNAS 
            data_identificacion_transposed = data_identificacion_transposed[['Estacion','Fecha', 'Id_Certificado', 'Ruta_Archivo', 'Comentarios', 'Año_QAQC', 'Fecha_QAQC', 'Mes_QAQC', 'Muestras_Con_Datos', 'Muestras_Totales']]
            data_identificacion_transposed['Estacion'] = data_identificacion_transposed['Estacion'].str.replace(r'\..*$', '', regex=True)
            # data_identificacion total
            
            data_certificados = pd.concat([data_certificados, data_identificacion_transposed], ignore_index=True)
            
            
        else:
            print(f'No hay datos en el rango C133:AZ133, para la hoja: {hoja_archivo}, para')

La última columna con datos es AC, en la hoja: 2020 (ene-jun), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es AG, en la hoja: 2020 (jul-dic), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: 2021 (ene-jun), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: 2021 (jul-dic), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: 2022 (ene-jun), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: 2022 (jul-dic), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: 2023 (ene-jun), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: 2023 (jul-dic), del archivo: 6.16 (SM7-3)_VV_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: 2023, del archivo: 6.27 Pozo Victor Ugarte-1_EG_CIGF_MM.xlsx
La última columna con datos es S, en la hoja: El Romero 1 (2020), del archivo: El Romero 1_VV_CIGF_MM.xlsx
La última columna con datos es AH, en la hoja: El Romero 1 (2021), del archivo: El Romero 1_VV_CIGF_MM.xlsx
La última columna con datos es AA, en la hoja: El Romero 1 (2022), del archivo: El Romero 1_VV_CIGF_MM.xlsx
La última columna con datos es AA, en la hoja: El Romero 1 (2023), del archivo: El Romero 1_VV_CIGF_MM.xlsx

c:\Users\fdona\OneDrive\Escritorio\Tecnologia_Flow\Tecnolog-a_Flow\env\Lib\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: #N/A.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

La última columna con datos es AC, en la hoja: PRP-2 (2020 (ene-jun)), del archivo: 6.23 (PRP-2)_VV_CIGF_MM.xlsx
La última columna con datos es AD, en la hoja: PRP-2 (2020 (jul-dic)), del archivo: 6.23 (PRP-2)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-2 (2021 (ene-jun)), del archivo: 6.23 (PRP-2)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-2 (2021 (jul-dic)), del archivo: 6.23 (PRP-2)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-2 (2022 (ene-jun)), del archivo: 6.23 (PRP-2)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-2 (2022 (jul-dic)), del archivo: 6.23 (PRP-2)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-2 (2023 (ene-jun)), del archivo: 6.23 (PRP-2)_VV_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: 2020, del archivo: 6.18 (PMA-9)_JJ_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: 2021, del archivo: 6.18 (PMA-9)_JJ_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: 2022, del archivo: 6.18 (PMA-9)_JJ_CIGF_MM.xlsx
La última columna con datos es O, en la hoja: 2023, del archivo: 6.18 (PMA-9)_JJ_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-1 (2020 (ene-jun)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx
La última columna con datos es AE, en la hoja: PRP-1 (2020 (jul-dic)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-1 (2021 (ene-jun)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-1 (2021 (jul-dic)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-1 (2022 (ene-jun)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-1 (2022 (jul-dic)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-1 (2023 (ene-jun)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-1 (2023 (jul.dic)), del archivo: 6.22 (PRP-1)_MM_CIGF_MM.xlsx

c:\Users\fdona\OneDrive\Escritorio\Tecnologia_Flow\Tecnolog-a_Flow\env\Lib\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: #N/A.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

La última columna con datos es AC, en la hoja: PRP-3 (2020 (ene-jun)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx
La última columna con datos es AD, en la hoja: PRP-3 (2020 (jul-dic)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx
La última columna con datos es AD, en la hoja: PRP-3 (2021 (ene-jun)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-3 (2021 (jul-dic)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-3 (2022 (ene-jun)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-3 (2022 (jul-dic)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-3 (2023 (ene-jun)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx
La última columna con datos es AC, en la hoja: PRP-3 (2023 (jul-dic)), del archivo: 6.24 (PRP-3)_VV_CIGF_MM.xlsx

In [93]:
data_certificados

,Estacion,Fecha,Id_Certificado,Ruta_Archivo,Comentarios,Año_QAQC,Fecha_QAQC,Mes_QAQC,Muestras_Con_Datos,Muestras_Totales
0,SM7-3,2020-01-02 00:00:00,602176,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,02-01-2020,Enero,56,56
1,SM7-3,2020-01-09 00:00:00,603950,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,09-01-2020,Enero,56,56
2,SM7-3,2020-01-15 00:00:00,605719,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,15-01-2020,Enero,56,56
3,SM7-3,2020-01-22 00:00:00,607622,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,22-01-2020,Enero,56,56
4,SM7-3,2020-01-29 00:00:00,609314,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,29-01-2020,Enero,56,56
...,...,...,...,...,...,...,...,...,...,...
965,PRP-3,2023-11-29 00:00:00,ES23-73894,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,29-11-2023,Noviembre,51,52
966,PRP-3,2023-12-06 00:00:00,ES23-75571,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,06-12-2023,Diciembre,51,52
967,PRP-3,2023-12-13 00:00:00,ES23-77333,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,13-12-2023,Diciembre,51,52
968,PRP-3,2023-12-20 00:00:00,ES23-79095,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,20-12-2023,Diciembre,51,52
969,PRP-3,2023-12-27 00:00:00,ES23-80459,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,27-12-2023,Diciembre,51,52

Procesar data Parametros

In [101]:
import pandas as pd
import openpyxl
import os


directory_path = "G:\\.shortcut-targets-by-id\\1ugEph6zRyoKHbwpiYuXbB3Pj0UXueIKJ\\09. Contrato CS115 EIA 2024\\03.WIP\\03.Hidroquímica\\2. Actualizacion BDD\\Certificados Revisados\\Subterráneas\\Oficiales - Carlos Ignacio\\Mauro Revisado"


data_parametros = pd.DataFrame()


excel_files = [file for file in os.listdir(directory_path) if file.endswith(('.xlsx'))]

# Procesar cada archivo Excel encontrado
for file in excel_files:
    file_path = os.path.join(directory_path, file)  # Construir la ruta completa al archivo
    xls = pd.ExcelFile(file_path)
    wb = openpyxl.load_workbook(file_path)

    for hoja_archivo in xls.sheet_names:
        hoja = wb[hoja_archivo]
        rango = hoja['C133:AZ133']

        ultima_celda_con_datos = None
        for celda in rango[0]:
            if celda.value is not None:
                ultima_celda_con_datos = celda

        if ultima_celda_con_datos:
            columna = ''.join(filter(str.isalpha, ultima_celda_con_datos.coordinate))
            print(f'La última columna con datos es >>> {columna} <<< , en la hoja: >>> {hoja_archivo} <<<')
    
    
            data_df = pd.read_excel(xls, sheet_name= hoja_archivo, skiprows=141, nrows=99, usecols=f"B:{columna}")
            data_df.drop(data_df.columns[1], axis=1, inplace=True)

            data_pivoted = data_df.T

            # PARAMETROS COMO COLUMNAS
            new_header = data_pivoted.iloc[0]  
            data_pivoted = data_pivoted[1:]  
            data_pivoted.columns = new_header  


            data_pivoted.reset_index(drop=True, inplace=True)

            # data_identificacion total
            data_parametros = pd.concat([data_parametros, data_pivoted], ignore_index=True)
            # for column in data_parametros.columns:
            #     data_parametros[column] = pd.to_numeric(data_parametros[column], errors='coerce')
            
        else:
            print(f'No hay datos en el rango C133:AZ133, para la hoja: {hoja_archivo}')
            
         
data_parametros

La última columna con datos es >>> AC <<< , en la hoja: >>> 2020 (ene-jun) <<<
La última columna con datos es >>> AG <<< , en la hoja: >>> 2020 (jul-dic) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> 2021 (ene-jun) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> 2021 (jul-dic) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> 2022 (ene-jun) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> 2022 (jul-dic) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> 2023 (ene-jun) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> 2023 (jul-dic) <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2023 <<<
La última columna con datos es >>> S <<< , en la hoja: >>> El Romero 1 (2020) <<<
La última columna con datos es >>> AH <<< , en la hoja: >>> El Romero 1 (2021) <<<
La última columna con datos es >>> AA <<< , en la hoja: >>> El Romero 1 (2022) <<<
La última columna con datos es >>> AA <<< , en la hoja: >>> El Romero 1 (2023) <<<

c:\Users\fdona\OneDrive\Escritorio\Tecnologia_Flow\Tecnolog-a_Flow\env\Lib\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: #N/A.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-2 (2020 (ene-jun)) <<<
La última columna con datos es >>> AD <<< , en la hoja: >>> PRP-2 (2020 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-2 (2021 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-2 (2021 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-2 (2022 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-2 (2022 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-2 (2023 (ene-jun)) <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2020 <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2021 <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2022 <<<
La última columna con datos es >>> O <<< , en la hoja: >>> 2023 <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-1 (2020 (ene-jun)) <<<
La última columna con datos es >>> AE <<< , en la hoja: >>> PRP-1 (2020 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-1 (2021 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-1 (2021 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-1 (2022 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-1 (2022 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-1 (2023 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-1 (2023 (jul.dic)) <<<

c:\Users\fdona\OneDrive\Escritorio\Tecnologia_Flow\Tecnolog-a_Flow\env\Lib\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: #N/A.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-3 (2020 (ene-jun)) <<<
La última columna con datos es >>> AD <<< , en la hoja: >>> PRP-3 (2020 (jul-dic)) <<<
La última columna con datos es >>> AD <<< , en la hoja: >>> PRP-3 (2021 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-3 (2021 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-3 (2022 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-3 (2022 (jul-dic)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-3 (2023 (ene-jun)) <<<
La última columna con datos es >>> AC <<< , en la hoja: >>> PRP-3 (2023 (jul-dic)) <<<

"2,4_D_µg/L",Aceites_y_Grasas_mg/L,Alcalinidad_Carbonatos_(Laboratorio)_CaCO3_mg/L,Alcalinidad_Total_CaCO3_mg/L,Aluminio_Total_mg/L,Amoniaco_mg/L,Antimonio_Total_mg/L,Arsenico_Total_mg/L,Balance_Ionico_Total_(Laboratorio)_%,Bario_Total_mg/L,Benceno_µg/l,...,Temperatura_(Campo)_ºC,Tetracloroeteno_mg/L,Tolueno_µg/l,Tribromometano_mg/L,Triclorometano_mg/L,Trihalometanos_mg/L,Turbiedad_(Campo)_NTU,Vanadio_Total_mg/L,Xileno_µg/l,Zinc_Total_mg/L
0,NaN,"<10,0",166,0.042,0,NaN,0.001,NaN,0.012,0,...,18.45,0,0,0,0,0,0,0.024,0,0.047
1,NaN,"<10,0",167,"<0,010",0,NaN,0.001,NaN,0.016,0,...,18.85,0,0,0,0,0,0,0.02,0,0.022
2,NaN,"<10,0",167,"<0,010",0,NaN,0.002,NaN,0.007,0,...,21.68,0,0,0,0,0,0,0.02,0,0.002
3,NaN,"<10,0",166,0.032,0,NaN,"<0,001",NaN,0.017,0,...,17.84,0,0,0,0,0,5.04,0.024,0,"<0,002"
4,NaN,"<10,0",165,0.019,0,NaN,"<0,001",NaN,0.021,0,...,19.17,0,0,0,0,0,0,0.021,0,0.012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,NaN,NaN,117.8,"<0,04",0,"<0,01",0.002,ES23-73894,"<0,01",0,...,23.7,0,0,0,0,0,0,"<0,01",0,2.01
966,NaN,NaN,118.2,0.04,"<0,02","<0,01","<0,001",ES23-75571,"<0,01",0,...,20.3,0,0,0,0,0,3,"<0,01",0,1.11
967,NaN,NaN,116,"<0,04",0,"<0,01","<0,001",ES23-77333,"<0,01",0,...,20.4,0,0,0,0,0,0,"<0,01",0,0.87
968,NaN,NaN,121.6,"<0,04",0,"<0,01",0.001,ES23-79095,"<0,01",0,...,20.6,0,0,0,0,0,0,"<0,01",0,1.5
969,NaN,NaN,120.1,"<0,04",0,"<0,01",0.001,ES23-80459,"<0,01",0,...,25.1,0,0,0,0,0,0,"<0,01",0,0.75

In [95]:
data_parametros.dtypes

2,4_D_µg/L
Aceites_y_Grasas_mg/L                              object
Alcalinidad_Carbonatos_(Laboratorio)_CaCO3_mg/L    object
Alcalinidad_Total_CaCO3_mg/L                       object
Aluminio_Total_mg/L                                object
Amoniaco_mg/L                                      object
                                                    ...
Trihalometanos_mg/L                                object
Turbiedad_(Campo)_NTU                              object
Vanadio_Total_mg/L                                 object
Xileno_µg/l                                        object
Zinc_Total_mg/L                                    object
Length: 98, dtype: object

SE JUNTAN AMBOS DATA_FRAME PARA LOGRAR FORMATO COLUMNAR INDEXADO|

In [96]:
df_merged = pd.concat([data_certificados, data_parametros], axis=1)

SE LIMPIA COLUMNA ESTACION

In [97]:
# df_merged['Estacion'] = df_merged['Estacion'].str.replace(r'\..*$', '', regex=True)

In [98]:
df_merged

,Estacion,Fecha,Id_Certificado,Ruta_Archivo,Comentarios,Año_QAQC,Fecha_QAQC,Mes_QAQC,Muestras_Con_Datos,Muestras_Totales,...,Temperatura_(Campo)_ºC,Tetracloroeteno_mg/L,Tolueno_µg/l,Tribromometano_mg/L,Triclorometano_mg/L,Trihalometanos_mg/L,Turbiedad_(Campo)_NTU,Vanadio_Total_mg/L,Xileno_µg/l,Zinc_Total_mg/L
0,SM7-3,2020-01-02 00:00:00,602176,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,02-01-2020,Enero,56,56,...,18.45,0,0,0,0,0,0,0.024,0,0.047
1,SM7-3,2020-01-09 00:00:00,603950,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,09-01-2020,Enero,56,56,...,18.85,0,0,0,0,0,0,0.02,0,0.022
2,SM7-3,2020-01-15 00:00:00,605719,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,15-01-2020,Enero,56,56,...,21.68,0,0,0,0,0,0,0.02,0,0.002
3,SM7-3,2020-01-22 00:00:00,607622,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,22-01-2020,Enero,56,56,...,17.84,0,0,0,0,0,5.04,0.024,0,"<0,002"
4,SM7-3,2020-01-29 00:00:00,609314,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2020,29-01-2020,Enero,56,56,...,19.17,0,0,0,0,0,0,0.021,0,0.012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,PRP-3,2023-11-29 00:00:00,ES23-73894,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,29-11-2023,Noviembre,51,52,...,23.7,0,0,0,0,0,0,"<0,01",0,2.01
966,PRP-3,2023-12-06 00:00:00,ES23-75571,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,06-12-2023,Diciembre,51,52,...,20.3,0,0,0,0,0,3,"<0,01",0,1.11
967,PRP-3,2023-12-13 00:00:00,ES23-77333,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,13-12-2023,Diciembre,51,52,...,20.4,0,0,0,0,0,0,"<0,01",0,0.87
968,PRP-3,2023-12-20 00:00:00,ES23-79095,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,20-12-2023,Diciembre,51,52,...,20.6,0,0,0,0,0,0,"<0,01",0,1.5
969,PRP-3,2023-12-27 00:00:00,ES23-80459,G:\.shortcut-targets-by-id\1ugEph6zRyoKHbwpiYu...,NaN,2023,27-12-2023,Diciembre,51,52,...,25.1,0,0,0,0,0,0,"<0,01",0,0.75

CREAMOS CONECCION PARA GENERAR TABLA EN LA BD

In [99]:
import psycopg2
from sqlalchemy import create_engine

# Credenciales db
host = 'localhost'
database = 'certificados_dbo'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name = 'certificados_procesados'

# df_data_bd = pd.read_sql_table('certificados_procesados', con=engine)#Trae la tabla de la bda un dataframe

# df_update = pd.concat([df_data_bd, df_merged], axis=1) # se le añade la nueva info
df_update = df_merged
# Crear la tabla en la base de datos y BORRA LA EXISTENTE
df_update.to_sql(table_name, engine, index=False, if_exists='replace',)

64