In [25]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name1 = 'SQM-Concentraciones_NEW'
table_name2 = 'SQM-Infraestructuras'


df_concentraciones = pd.read_sql_table(table_name1, con=engine)#Trae la tabla de la bda un dataframe
df_infraestructuras = pd.read_sql_table(table_name2, con=engine)#

In [38]:
df_concentraciones.info

<bound method DataFrame.info of        Nombre Infraestructura Alias Infraestructura    Campanna  \
0                    P-17 SDC                  None   SC_1_2018
1                    P-15 SDC                  None   SC_1_2018
2                   P-23B SDC                  None   SC_1_2018
3                     P-6 SDC                  None   SC_1_2018
4                    P-17 SDC                  None   SC_2_2018
...                       ...                   ...         ...
446400                P-6 SDC                  None  SC_04_2018
446401               P-17 SDC                  None  SC_05_2018
446402               P-15 SDC                  None  SC_05_2018
446403                P-6 SDC                  None  SC_05_2018
446404               Mullay-1                  None     10_2011

                        Nombre Muestra  Coordenada Utm Este  \
0        P-17 SDC|43129|Laboratorio SC         3.710157e+11
1        P-15 SDC|43129|Laboratorio SC         3.697917e+11
2       P-23B SDC|43129|Laboratorio SC         3.713342e+11
3         P-6 SDC|43129|Laboratorio SC         3.696800e+11
4        P-17 SDC|43157|Laboratorio SC         3.710157e+11
...                                ...                  ...
446400    P-6 SDC|43208|Laboratorio SC         3.696800e+11
446401   P-17 SDC|43237|Laboratorio SC         3.710157e+11
446402   P-15 SDC|43236|Laboratorio SC         3.697917e+11
446403    P-6 SDC|43236|Laboratorio SC         3.696800e+11
446404             MULLAY-1|40839|PSAH         5.999190e+07

        Coordenada Utm Norte        Fecha Muestra  Id Analisis Quimico  \
0               7.382242e+12  2018-01-29 00:00:00               248855
1               7.384298e+12  2018-01-29 00:00:00               248248
2               7.385091e+12  2018-01-29 00:00:00               246495
3               7.386406e+12  2018-01-29 00:00:00               246489
4               7.382242e+12  2018-02-26 00:00:00               248861
...                      ...                  ...                  ...
446400          7.386406e+12  2018-04-18 00:00:00               246528
446401          7.382242e+12  2018-05-17 00:00:00               248867
446402          7.384298e+12  2018-05-16 00:00:00               248546
446403          7.386406e+12  2018-05-16 00:00:00               246529
446404          7.422645e+08  2011-10-23 00:00:00               258353

        Id Calidad Tipoanalisis  ... Nombre Analito Nombre Unidad  \
0                1  Laboratorio  ...          Cromo          mg/L
1                1  Laboratorio  ...          Cromo          mg/L
2                1  Laboratorio  ...          Cromo          mg/L
3                1  Laboratorio  ...          Cromo          mg/L
4                1  Laboratorio  ...          Cromo          mg/L
...            ...          ...  ...            ...           ...
446400           1  Laboratorio  ...          Cromo          mg/L
446401           1  Laboratorio  ...          Cromo          mg/L
446402           1  Laboratorio  ...          Cromo          mg/L
446403           1  Laboratorio  ...          Cromo          mg/L
446404           1  Laboratorio  ...           Zinc          mg/L

       Nombre Descriptor Valor Analitico Valor Analitico Num  \
0                   None          0,1094              0.1094
1                   None           0,107               0.107
2                   None          0,1042              0.1042
3                   None          0,1041              0.1041
4                   None          0,1095              0.1095
...                  ...             ...                 ...
446400              None          0,1045              0.1045
446401              None          0,1097              0.1097
446402              None          0,1073              0.1073
446403              None          0,1045              0.1045
446404                 <             5.0                25.0

                                              Procedencia Tipo_analisis_BD  \
0       GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
1       GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
2       GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
3       GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
4       GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
...                                                   ...              ...
446400  GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
446401  GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
446402  GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
446403  GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv          Quimica
446404                   GV_AnalisisQuimicosInfEfec_L1-17          Quimica

       Comentario                     Fuente_D Nombre Analito_Unidad
0            None  Muestreo Complementario DIA            Cromo_mg/L
1            None  Muestreo Complementario DIA            Cromo_mg/L
2            None  Muestreo Complementario DIA            Cromo_mg/L
3            None  Muestreo Complementario DIA            Cromo_mg/L
4            None  Muestreo Complementario DIA            Cromo_mg/L
...           ...                          ...                   ...
446400       None  Muestreo Complementario DIA            Cromo_mg/L
446401       None  Muestreo Complementario DIA            Cromo_mg/L
446402       None  Muestreo Complementario DIA            Cromo_mg/L
446403       None  Muestreo Complementario DIA            Cromo_mg/L
446404       None                         PSAH             Zinc_mg/L

[446405 rows x 32 columns]>

UNIR LOS DATAFRAME

In [63]:
import pandas as pd

# Asumiendo que df_concentraciones y df_infraestructuras ya están definidos
df_combined = pd.merge(df_concentraciones, df_infraestructuras, 
                       left_on='Nombre Infraestructura', 
                       right_on='HOLEID', 
                       how='inner')  # Cambiar a 'left' para asegurar un left join

In [64]:
df_combined

,Nombre Infraestructura,Alias Infraestructura,Campanna,Nombre Muestra,Coordenada Utm Este,Coordenada Utm Norte,Fecha Muestra,Id Analisis Quimico,Id Calidad,Tipoanalisis,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,Mullay-1,None,4_2018,MULLAY-1|26-04-2018|PSAH|SGS,5.999190e+07,7.422645e+08,2018-04-26 00:00:00,258630,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
1,CA-2015,None,4_2017,CA-2015 Abril 2017,5.961357e+11,7.396452e+12,2017-04-27 00:00:00,267540,1,Laboratorio,...,NO,HIDROMORFA,None,POINT (596135.7 7396451.89),-23.539394,-68.058167,None,None,SQM,82
2,L7-14,None,SQM / 2015,241|L7-14,5.922865e+11,7.422403e+12,2015-10-01 00:00:00,172745,1,Laboratorio,...,NO,None,None,POINT (592286.51 7422403.41),-23.305227,-68.097465,None,None,None,277
3,1028,None,SQM / 2003,279|1028,5.844330e+11,7.383998e+12,2003-03-22 00:00:00,158642,1,Laboratorio,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5
4,Mullay-1,None,4_2018,MULLAY-1|26-04-2018|PSAH|SGS,5.999190e+07,7.422645e+08,2018-04-26 00:00:00,258631,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284682,Mullay-1,None,4_2015,MULLAY-1|42121|PSAH,5.999190e+07,7.422645e+08,2015-04-27 00:00:00,261484,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284683,Mullay-1,None,4_2015,MULLAY-1|42121|PSAH,5.999190e+07,7.422645e+08,2015-04-27 00:00:00,261485,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284684,Mullay-1,None,10_2011,MULLAY-1|40839|PSAH,5.999190e+07,7.422645e+08,2011-10-23 00:00:00,258351,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284685,Mullay-1,None,10_2011,MULLAY-1|40839|PSAH,5.999190e+07,7.422645e+08,2011-10-23 00:00:00,258352,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284686,Mullay-1,None,10_2011,MULLAY-1|40839|PSAH,5.999190e+07,7.422645e+08,2011-10-23 00:00:00,258353,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348

In [65]:
table_name3 = 'SQM-Concentraciones_Pivot'
df_BD_PIVOT = pd.read_sql_table(table_name3, con=engine)#

In [7]:
df_BD_PIVOT

Index(['Object_ID', 'Nombre Infraestructura', 'Nombre Muestra',
       'Fecha Muestra', 'Id Analisis Quimico', 'Tipoanalisis',
       'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Origen Agua',
       'Nombre Tipo Muestra',
       ...
       'Zinc_ppm', 'Isotopo 13C_PDB', 'Isotopo 14C_pmC',
       'Isotopo 87Sr/86Sr_s/u', 'Isotopo D_‰', 'Isotopo d11B_‰',
       'Isotopo d18O- H2O_‰', 'Isotopo d18O- SO4_‰', 'Isotopo d34S- SO4_‰',
       'Isotopo d7 Li_‰'],
      dtype='object', length=156)

In [66]:
column_order = [
    'Object_ID', 'Nombre Infraestructura', 'Nombre Muestra',
    'Fecha Muestra', 'Id Analisis Quimico', 'Tipoanalisis',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Origen Agua',
    'Nombre Tipo Muestra', 'Id Calidad'
]

# Reorganizamos las columnas según el orden especificado
df_combined1 = df_combined[column_order + [col for col in df_combined.columns if col not in column_order]]

In [67]:
df_combined1

,Object_ID,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Id Analisis Quimico,Tipoanalisis,Nombre Grupo Trabajo,Nombre Laboratorio,Nombre Origen Agua,Nombre Tipo Muestra,...,TIENE_DATO_QCA,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2
0,348,Mullay-1,MULLAY-1|26-04-2018|PSAH|SGS,2018-04-26 00:00:00,258630,Laboratorio,PSAH,SGS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
1,82,CA-2015,CA-2015 Abril 2017,2017-04-27 00:00:00,267540,Laboratorio,Ambiental,SGS,None,Rutina,...,SI,NO,HIDROMORFA,None,POINT (596135.7 7396451.89),-23.539394,-68.058167,None,None,SQM
2,277,L7-14,241|L7-14,2015-10-01 00:00:00,172745,Laboratorio,Ambiental,NC,Agua Subterránea,Rutina,...,SI,NO,None,None,POINT (592286.51 7422403.41),-23.305227,-68.097465,None,None,None
3,5,1028,279|1028,2003-03-22 00:00:00,158642,Laboratorio,Ambiental,SALAR,Agua Subterránea,Rutina,...,None,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None
4,348,Mullay-1,MULLAY-1|26-04-2018|PSAH|SGS,2018-04-26 00:00:00,258631,Laboratorio,PSAH,SGS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284682,348,Mullay-1,MULLAY-1|42121|PSAH,2015-04-27 00:00:00,261484,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284683,348,Mullay-1,MULLAY-1|42121|PSAH,2015-04-27 00:00:00,261485,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284684,348,Mullay-1,MULLAY-1|40839|PSAH,2011-10-23 00:00:00,258351,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284685,348,Mullay-1,MULLAY-1|40839|PSAH,2011-10-23 00:00:00,258352,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284686,348,Mullay-1,MULLAY-1|40839|PSAH,2011-10-23 00:00:00,258353,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM

In [80]:
import numpy as np

df_combined1['Valor Analitico Num'] = df_combined1['Valor Analitico Num'].fillna('Null')
index_columns = [
    'Object_ID', 'Nombre Infraestructura', 'Nombre Muestra',
    'Fecha Muestra', 'Id Analisis Quimico', 'Tipoanalisis',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Origen Agua',
    'Nombre Tipo Muestra', 'Id Calidad'
    
]

# Creando la tabla pivotada sin aplicar una función de agregación específica
df_pivot = pd.pivot_table(
    df_combined1,
    index=index_columns,
    columns=['Nombre Analito_Unidad'],
    values='Valor Analitico Num',
    aggfunc='first',  # Utilizamos 'first' para tomar el primer valor disponible
   
).reset_index()

In [81]:
df_pivot

Nombre Analito_Unidad,Object_ID,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Id Analisis Quimico,Tipoanalisis,Nombre Grupo Trabajo,Nombre Laboratorio,Nombre Origen Agua,Nombre Tipo Muestra,...,TemperaturaConductividad_°C,TemperaturaPh_°C,TemperaturaTerreno_°C,Titanio Disuelto_mg/L,Titanio_mg/L,Vanadio Disuelto_mg/L,Vanadio_mg/L,Zinc Disuelto_mg/L,Zinc_mg/L,pH_pH
0,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406120,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406121,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406122,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406123,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406124,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135261,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419188,Laboratorio,Ambiental,ALS,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0025,NaN
135262,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419207,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135263,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419208,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135264,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419209,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135265,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419210,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Obteniendo todos los valores únicos para 'Nombre Analito_Unidad'
all_possible_values = df_combined1['Valor Analitico Num'].notnull()

# Contando el número de valores únicos
number_of_unique_values = len(all_possible_values)

print("Número de valores únicos en 'Nombre Analito_Unidad':", number_of_unique_values)

Número de valores únicos en 'Nombre Analito_Unidad': 284687

In [85]:


df_pivot.to_sql('SQM-Concentraciones_PIVOT_07_04', engine, index=False, if_exists='replace',)

26