CONECCION A LA BD

In [127]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name1 = 'SQM-Hidroquimica'
table_name2 = 'SQM-Infraestructuras'


df_concentraciones = pd.read_sql_table(table_name1, con=engine)#Trae la tabla de la bda un dataframe
df_infraestructuras = pd.read_sql_table(table_name2, con=engine)#

In [128]:
df_infraestructuras

,HOLEID,OrigenAgua,Fuente,Nombre_Equivalencia,X_UtmEste,Y_UtmNorte,CotaRef_msnm,DATUM,MIN_FechaCoordenadaNivel,MAX_FechaCoordenadaNivel,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,1001,Agua Subterránea,SQM,None,5.751900e+05,7.392246e+06,2301.100,WGS84,None,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.26314320414922 -23.57848819842006),-23.578488,-68.263143,None,None,None,1
1,1023,Agua Subterránea,Historico MINSAL (1988),None,5.842021e+05,7.415050e+06,2300.580,WGS84,32108,32910,...,NO,None,None,POINT (584202.0600000001 7415049.6),-23.372083,-68.176112,None,None,None,2
2,1024,Agua Subterránea,SQM,None,5.894750e+05,7.391600e+06,2300.950,WGS84,None,None,...,None,Peine,None,POINT (-68.12312414806739 -23.58359588624011),-23.583596,-68.123124,None,None,None,3
3,1027,Agua Subterránea,SQM,None,5.897970e+05,7.424645e+06,2308.776,WGS84,None,None,...,None,Soncor,None,POINT (-68.1219425028462 -23.28511956597051),-23.285120,-68.121943,None,None,None,4
4,1028,Agua Subterránea,SQM,None,5.844330e+05,7.383998e+06,2301.448,WGS84,None,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,ALLANA,Agua Subterránea,GV_AnalisisQuimicosInfEfec_L1-1.csv,ALLANA,5.989576e+07,7.414838e+08,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,L4-12 Efectividad,None,None,526
526,8290,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,8290,6.078698e+09,7.419686e+09,NaN,WGS84,None,None,...,None,Soncor,None,None,NaN,NaN,L4-12 Efectividad,None,None,527
527,AFORO QUEBRADA SONCOR,None,GV_AnalisisQuimicosInfEfec_L1-1.csv,AFORO QUEBRADA SONCOR,6.070760e+05,7.419639e+06,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,L4-12 Efectividad,None,None,528
528,CARV-11,None,GV_AnalisisQuimicosInfEfec_L1-1.csv,CARV-11,5.910639e+08,7.418178e+09,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,L4-12 Efectividad,None,None,529
529,7626,Agua Subterránea,GV_AnalisisQuimicosInfEfec_L1-1.csv,7626,5.926009e+08,7.412746e+09,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,L4-12 Efectividad,None,None,530

UNIR LOS DATAFRAME

In [63]:
import pandas as pd

# Asumiendo que df_concentraciones y df_infraestructuras ya están definidos
df_combined = pd.merge(df_concentraciones, df_infraestructuras, 
                       left_on='Nombre Infraestructura', 
                       right_on='HOLEID', 
                       how='inner')  # Cambiar a 'left' para asegurar un left join

In [64]:
df_combined

,Nombre Infraestructura,Alias Infraestructura,Campanna,Nombre Muestra,Coordenada Utm Este,Coordenada Utm Norte,Fecha Muestra,Id Analisis Quimico,Id Calidad,Tipoanalisis,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,Mullay-1,None,4_2018,MULLAY-1|26-04-2018|PSAH|SGS,5.999190e+07,7.422645e+08,2018-04-26 00:00:00,258630,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
1,CA-2015,None,4_2017,CA-2015 Abril 2017,5.961357e+11,7.396452e+12,2017-04-27 00:00:00,267540,1,Laboratorio,...,NO,HIDROMORFA,None,POINT (596135.7 7396451.89),-23.539394,-68.058167,None,None,SQM,82
2,L7-14,None,SQM / 2015,241|L7-14,5.922865e+11,7.422403e+12,2015-10-01 00:00:00,172745,1,Laboratorio,...,NO,None,None,POINT (592286.51 7422403.41),-23.305227,-68.097465,None,None,None,277
3,1028,None,SQM / 2003,279|1028,5.844330e+11,7.383998e+12,2003-03-22 00:00:00,158642,1,Laboratorio,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5
4,Mullay-1,None,4_2018,MULLAY-1|26-04-2018|PSAH|SGS,5.999190e+07,7.422645e+08,2018-04-26 00:00:00,258631,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284682,Mullay-1,None,4_2015,MULLAY-1|42121|PSAH,5.999190e+07,7.422645e+08,2015-04-27 00:00:00,261484,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284683,Mullay-1,None,4_2015,MULLAY-1|42121|PSAH,5.999190e+07,7.422645e+08,2015-04-27 00:00:00,261485,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284684,Mullay-1,None,10_2011,MULLAY-1|40839|PSAH,5.999190e+07,7.422645e+08,2011-10-23 00:00:00,258351,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284685,Mullay-1,None,10_2011,MULLAY-1|40839|PSAH,5.999190e+07,7.422645e+08,2011-10-23 00:00:00,258352,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348
284686,Mullay-1,None,10_2011,MULLAY-1|40839|PSAH,5.999190e+07,7.422645e+08,2011-10-23 00:00:00,258353,1,Laboratorio,...,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM,348

In [65]:
table_name3 = 'SQM-Concentraciones_Pivot'
df_BD_PIVOT = pd.read_sql_table(table_name3, con=engine)#

In [7]:
df_BD_PIVOT

Index(['Object_ID', 'Nombre Infraestructura', 'Nombre Muestra',
       'Fecha Muestra', 'Id Analisis Quimico', 'Tipoanalisis',
       'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Origen Agua',
       'Nombre Tipo Muestra',
       ...
       'Zinc_ppm', 'Isotopo 13C_PDB', 'Isotopo 14C_pmC',
       'Isotopo 87Sr/86Sr_s/u', 'Isotopo D_‰', 'Isotopo d11B_‰',
       'Isotopo d18O- H2O_‰', 'Isotopo d18O- SO4_‰', 'Isotopo d34S- SO4_‰',
       'Isotopo d7 Li_‰'],
      dtype='object', length=156)

In [66]:
column_order = [
    'Object_ID', 'Nombre Infraestructura', 'Nombre Muestra',
    'Fecha Muestra', 'Id Analisis Quimico', 'Tipoanalisis',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Origen Agua',
    'Nombre Tipo Muestra', 'Id Calidad'
]

# Reorganizamos las columnas según el orden especificado
df_combined1 = df_combined[column_order + [col for col in df_combined.columns if col not in column_order]]

In [67]:
df_combined1

,Object_ID,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Id Analisis Quimico,Tipoanalisis,Nombre Grupo Trabajo,Nombre Laboratorio,Nombre Origen Agua,Nombre Tipo Muestra,...,TIENE_DATO_QCA,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2
0,348,Mullay-1,MULLAY-1|26-04-2018|PSAH|SGS,2018-04-26 00:00:00,258630,Laboratorio,PSAH,SGS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
1,82,CA-2015,CA-2015 Abril 2017,2017-04-27 00:00:00,267540,Laboratorio,Ambiental,SGS,None,Rutina,...,SI,NO,HIDROMORFA,None,POINT (596135.7 7396451.89),-23.539394,-68.058167,None,None,SQM
2,277,L7-14,241|L7-14,2015-10-01 00:00:00,172745,Laboratorio,Ambiental,NC,Agua Subterránea,Rutina,...,SI,NO,None,None,POINT (592286.51 7422403.41),-23.305227,-68.097465,None,None,None
3,5,1028,279|1028,2003-03-22 00:00:00,158642,Laboratorio,Ambiental,SALAR,Agua Subterránea,Rutina,...,None,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None
4,348,Mullay-1,MULLAY-1|26-04-2018|PSAH|SGS,2018-04-26 00:00:00,258631,Laboratorio,PSAH,SGS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284682,348,Mullay-1,MULLAY-1|42121|PSAH,2015-04-27 00:00:00,261484,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284683,348,Mullay-1,MULLAY-1|42121|PSAH,2015-04-27 00:00:00,261485,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284684,348,Mullay-1,MULLAY-1|40839|PSAH,2011-10-23 00:00:00,258351,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284685,348,Mullay-1,MULLAY-1|40839|PSAH,2011-10-23 00:00:00,258352,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM
284686,348,Mullay-1,MULLAY-1|40839|PSAH,2011-10-23 00:00:00,258353,Laboratorio,PSAH,ALS,None,Rutina,...,SI,SI,Soncor,None,POINT (599918.95 7422645.06),-23.302598,-68.022846,None,None,SQM

In [ ]:
import numpy as np

df_combined1['Valor Analitico Num'] = df_combined1['Valor Analitico Num'].fillna('Null')
index_columns = [
    'Object_ID', 'Nombre Infraestructura', 'Nombre Muestra',
    'Fecha Muestra', 'Id Analisis Quimico', 'Tipoanalisis',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Origen Agua',
    'Nombre Tipo Muestra', 'Id Calidad'
    
]

# Creando la tabla pivotada sin aplicar una función de agregación específica
df_pivot = pd.pivot_table(
    df_combined1,
    index=index_columns,
    columns=['Nombre Analito_Unidad'],
    values='Valor Analitico Num',
    aggfunc='first',  # Utilizamos 'first' para tomar el primer valor disponible
   
).reset_index()

In [81]:
df_pivot

Nombre Analito_Unidad,Object_ID,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Id Analisis Quimico,Tipoanalisis,Nombre Grupo Trabajo,Nombre Laboratorio,Nombre Origen Agua,Nombre Tipo Muestra,...,TemperaturaConductividad_°C,TemperaturaPh_°C,TemperaturaTerreno_°C,Titanio Disuelto_mg/L,Titanio_mg/L,Vanadio Disuelto_mg/L,Vanadio_mg/L,Zinc Disuelto_mg/L,Zinc_mg/L,pH_pH
0,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406120,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406121,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406122,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406123,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1001,1001 (Balance Iónico)|19-07-2022,2022-07-19 00:00:00,406124,Laboratorio,PSAH Complementario,ALS,Agua Subterránea,Duplicado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135261,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419188,Laboratorio,Ambiental,ALS,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0025,NaN
135262,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419207,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135263,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419208,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135264,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419209,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135265,520,"PE-9, C-112","PE-9, C-112|27-12-2022",2022-12-27 00:00:00,419210,Terreno,Ambiental,SQM,Agua Subterránea,Rutina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Obteniendo todos los valores únicos para 'Nombre Analito_Unidad'
all_possible_values = df_combined1['Valor Analitico Num'].notnull()

# Contando el número de valores únicos
number_of_unique_values = len(all_possible_values)

print("Número de valores únicos en 'Nombre Analito_Unidad':", number_of_unique_values)

Número de valores únicos en 'Nombre Analito_Unidad': 284687

In [85]:


df_pivot.to_sql('SQM-Concentraciones_PIVOT_07_04', engine, index=False, if_exists='replace',)

26

ACT SQM

In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name1 = 'SQM-Hidroquimica'
table_name2 = 'SQM-Infraestructuras'


df_concentraciones = pd.read_sql_table(table_name1, con=engine)#Trae la tabla de la bda un dataframe
df_infraestructuras = pd.read_sql_table(table_name2, con=engine)#

df_concentraciones.columns

Index(['ID_Union', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
       'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
       'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
       'GrupoTrabajo', 'NombreLaboratorio',
       'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
       'EIA2022'],
      dtype='object')

In [2]:
import pandas as pd

def generar_temporalidad(archivo_csv):
    """
    Genera un DataFrame de temporalidad con la fecha mínima, la fecha máxima y la cantidad de datos
    por 'Nombre infraestructura' a partir de un dataset de concentraciones.

    Returns:
    pd.DataFrame: DataFrame con la temporalidad
    """
    # Cargar el archivo CSV en un DataFrame
    df = archivo_csv
    
    # Convertir la columna 'Fecha' a tipo datetime
    df['Fecha'] = pd.to_datetime(df['FechaMuestra'])
    
    # Agrupar por 'Nombre infraestructura' y calcular fecha mínima, fecha máxima y cantidad de datos
    temporalidad_df = df.groupby('NombreInfraestructura').agg(
        fecha_min=('Fecha', 'min'),
        fecha_max=('Fecha', 'max'),
        cantidad_datos=('Nombre Analito', 'count')
    ).reset_index()
    # temporalidad_df['fecha_min'] = temporalidad_df['fecha_min'].dt.strftime('%d %B %Y')
    # temporalidad_df['fecha_max'] = temporalidad_df['fecha_max'].dt.strftime('%d %B %Y')
    
    return temporalidad_df

# Uso de la función
archivo = 'ruta/al/archivo.csv'  # Reemplaza con la ruta a tu archivo CSV
resultado = generar_temporalidad(df_concentraciones)
print(resultado)
resultado

    NombreInfraestructura           fecha_min           fecha_max  \
0                    1001 2007-08-01 00:00:00 2022-07-19 10:40:00
1                    1027 2016-03-10 19:05:00 2016-03-10 19:05:00
2                    1905 2008-11-14 16:10:00 2008-11-14 16:10:00
3                    1906 2008-01-09 13:40:00 2008-11-14 14:59:00
4                    2021 2008-01-09 16:47:00 2016-03-28 16:20:00
..                    ...                 ...                 ...
274         SOPM-8 (L3-4) 1996-09-03 00:00:00 2022-04-17 11:58:00
275                SOPM-9 1996-09-03 00:00:00 2022-04-17 15:28:00
276             TOCONAO-5 2021-08-24 17:00:00 2021-08-24 17:00:00
277            W-DD16-901 2017-06-02 13:18:00 2017-06-02 13:18:00
278                puilaR 2016-04-14 00:00:00 2018-02-16 16:30:00

     cantidad_datos
0               550
1                27
2                11
3                71
4               124
..              ...
274            1382
275            1566
276              51
277              46
278              70

[279 rows x 4 columns]

,NombreInfraestructura,fecha_min,fecha_max,cantidad_datos
0,1001,2007-08-01 00:00:00,2022-07-19 10:40:00,550
1,1027,2016-03-10 19:05:00,2016-03-10 19:05:00,27
2,1905,2008-11-14 16:10:00,2008-11-14 16:10:00,11
3,1906,2008-01-09 13:40:00,2008-11-14 14:59:00,71
4,2021,2008-01-09 16:47:00,2016-03-28 16:20:00,124
...,...,...,...,...
274,SOPM-8 (L3-4),1996-09-03 00:00:00,2022-04-17 11:58:00,1382
275,SOPM-9,1996-09-03 00:00:00,2022-04-17 15:28:00,1566
276,TOCONAO-5,2021-08-24 17:00:00,2021-08-24 17:00:00,51
277,W-DD16-901,2017-06-02 13:18:00,2017-06-02 13:18:00,46
278,puilaR,2016-04-14 00:00:00,2018-02-16 16:30:00,70

In [10]:
resultado

,NombreInfraestructura,fecha_min,fecha_max,cantidad_datos
0,1001,2007-08-01 00:00:00,2022-07-19 10:40:00,550
1,1027,2016-03-10 19:05:00,2016-03-10 19:05:00,27
2,1905,2008-11-14 16:10:00,2008-11-14 16:10:00,11
3,1906,2008-01-09 13:40:00,2008-11-14 14:59:00,71
4,2021,2008-01-09 16:47:00,2016-03-28 16:20:00,124
...,...,...,...,...
274,SOPM-8 (L3-4),1996-09-03 00:00:00,2022-04-17 11:58:00,1382
275,SOPM-9,1996-09-03 00:00:00,2022-04-17 15:28:00,1566
276,TOCONAO-5,2021-08-24 17:00:00,2021-08-24 17:00:00,51
277,W-DD16-901,2017-06-02 13:18:00,2017-06-02 13:18:00,46
278,puilaR,2016-04-14 00:00:00,2018-02-16 16:30:00,70

In [ ]:
import pandas as pd

def generar_temporalidad(archivo_csv):
    """
    Genera un DataFrame de temporalidad con la fecha mínima, la fecha máxima y la cantidad de datos
    por 'Nombre infraestructura' a partir de un archivo CSV.
    Parameters:
    archivo_csv (str): Ruta al archivo CSV
    Returns:
    pd.DataFrame: DataFrame con la temporalidad
    """
    # Cargar el archivo CSV en un DataFrame
    df = pd.read_excel(archivo_csv)
    
    # Convertir la columna 'Fecha' a tipo datetime
    df['Fecha'] = pd.to_datetime(df['Fecha_Muestra'])
    
    df
    
    # Agrupar por 'Nombre infraestructura' y calcular fecha mínima, fecha máxima y cantidad de datos
    temporalidad_df = df.groupby('Nombre_Infraestructura').agg(
        fecha_min=('Fecha', 'min'),
        fecha_max=('Fecha', 'max'),
        cantidad_datos=('Nombre Analito', 'count')
    ).reset_index()
    
    return temporalidad_df

# Uso de la función
archivo = r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\SQM-Hidroquimica_Pivoted_05122023.xlsx"  # Reemplaza con la ruta a tu archivo CSV
resultado = generar_temporalidad(archivo)
print(resultado)


df

In [4]:
df = pd.read_csv(r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_CalidadPSAH(29.04.2024).csv")
df

,AliasInfraestructura,Campanna,Comentario,FechaMuestra,FUENTE,NombreAnalito,NombreDescriptor,NombreGrupoTrabajo,NombreInfraestructura,NombreLaboratorio,...,NombreMuestraPadre,NombreRecepcion,NombreTipoMuestra,NombreUnidad,TIPOANALISIS,IdAnalisisQuimico,IdCalidad,Prioridad,ValorAnalitico,ValorAnaliticoNum
0,REGLILLA BURRO MUERTO CONAF,PSAH_01_2022,NaN,18/01/2022 12:46:00 p. m.,PSAH,Salinidad,<,PSAH,REGLILLA BURRO MUERTO CONAF,ALS,...,NaN,5833_2022_SQM Salar,Rutina,‰,Laboratorio,395904,0,1,1.000,0.500
1,NaN,Octubre 2022,"3,125 Lts. para muestra, 7 envases. CE medida ...",19/10/2022 11:18:00 a. m.,PSAH,DensidadTerreno,NaN,PSAH,L1-4,SQM,...,NaN,10. F-Q OCTUBRE 2022,Rutina,g/ml,Terreno,409293,0,1,1.205,1.205
2,NaN,Octubre 2022,"BI: 4 envases, Muestra: 3 envases, D-1: 3 enva...",27/10/2022 12:45:00 p. m.,PSAH,DensidadTerreno,NaN,PSAH,L2-3,SQM,...,NaN,10. F-Q OCTUBRE 2022,Rutina,g/ml,Terreno,409297,0,1,1.001,1.001
3,NaN,SDA_07_2023,NaN,16/07/2023 10:57:00 a. m.,PSAH,DensidadTerreno,NaN,PSAH,L1-6,SQM,...,NaN,07. F-Q JULIO 2023,Rutina,g/ml,Terreno,430758,0,1,1.225,1.225
4,NaN,SDA_10_2023,NaN,30/10/2023 03:22:00 p. m.,PSAH,DensidadTerreno,NaN,PSAH,L2-3,SQM,...,NaN,10. F-Q OCTUBRE 2023,Rutina,g/ml,Terreno,444207,0,1,1.002,1.002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15893,REGLILLA BARROS NEGROS CONAF,11_2009,NaN,05/11/2009 12:00:00 a. m.,CONAF,PhTerreno,NaN,PSAH,REGLILLA BARROS NEGROS CONAF,SQM,...,NaN,Desc_Terreno_7_24,Rutina,pH,Terreno,268173,1,1,7.960,7.960
15894,REGLILLA BARROS NEGROS CONAF,11_2016,NaN,03/11/2016 12:00:00 a. m.,CONAF,PhTerreno,NaN,PSAH,REGLILLA BARROS NEGROS CONAF,SQM,...,NaN,Desc_Terreno_7_24,Rutina,pH,Terreno,270312,1,1,7.850,7.850
15895,REGLILLA BARROS NEGROS CONAF,1_1996,NaN,01/01/1996 12:00:00 a. m.,CONAF,PhTerreno,NaN,PSAH,REGLILLA BARROS NEGROS CONAF,SQM,...,NaN,Desc_Terreno_7_24,Rutina,pH,Terreno,261809,1,1,7.800,7.800
15896,REGLILLA BARROS NEGROS CONAF,1_2009,NaN,31/01/2009 12:00:00 a. m.,CONAF,PhTerreno,NaN,PSAH,REGLILLA BARROS NEGROS CONAF,SQM,...,NaN,Desc_Terreno_7_24,Rutina,pH,Terreno,266081,1,1,7.750,7.750
15897,REGLILLA BARROS NEGROS CONAF,1_2010,NaN,26/01/2010 12:00:00 a. m.,CONAF,PhTerreno,NaN,PSAH,REGLILLA BARROS NEGROS CONAF,SQM,...,NaN,Desc_Terreno_7_24,Rutina,pH,Terreno,268188,1,1,7.000,7.000

In [3]:

import pandas as pd

# Cargar el archivo Excel
file_path = r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\SQM-Hidroquimica_Pivoted_05122023.xlsx"

# excel_data = pd.ExcelFile(file_path)

# Cargar los datos de la hoja 'SQM-HQ-PIVOT'
data_df = pd.read_excel(file_path)

# Identificar las columnas a "melt"
columns_to_melt = data_df.columns[6:]  # Comenzando desde la séptima columna hasta el final

# Realizar el melt del dataframe
melted_df = data_df.melt(id_vars=data_df.columns[:6], value_vars=columns_to_melt,
                         var_name='Parametro', value_name='Valor')

# Filtrar solo las filas donde 'Valor' no es nulo y es numérico
melted_df = melted_df[pd.to_numeric(melted_df['Valor'], errors='coerce').notnull()]
# Mostrar las primeras filas del dataframe transformado para verificar
print(melted_df.head())

# Si deseas guardar el dataframe transformado a un nuevo archivo Excel
melted_df

    Object_ID Nombre_Infraestructura Nombre_Recepcion       Nombre_Muestra  \
13         49               AGUADA 1   99873/2016-1.0        3522|AGUADA 1
18         49               AGUADA 1  222570/2017-1.0          85|AGUADA 1
20         49               AGUADA 1   72406/2018-1.0       Aguada 1|43130
26         49               AGUADA 1  435774/2018-1.0  AGUADA 1|29-08-2018
28         53               Allana-1    Desc_ALS_7_24    ALLANA|39287|PSAH

         Fecha_Muestra Laboratorio_Origen  \
13 2016-03-13 17:00:00                ALS
18 2017-06-05 14:17:00                ALS
20 2018-01-30 13:15:00                ALS
26 2018-08-29 15:16:00                ALS
28 2007-07-24 00:00:00                ALS

                              Parametro  Valor
13  Alcalinidad Total (CaCO3)_mgCaCO3/L  150.6
18  Alcalinidad Total (CaCO3)_mgCaCO3/L  156.0
20  Alcalinidad Total (CaCO3)_mgCaCO3/L  217.3
26  Alcalinidad Total (CaCO3)_mgCaCO3/L  154.0
28  Alcalinidad Total (CaCO3)_mgCaCO3/L  103.0

,Object_ID,Nombre_Infraestructura,Nombre_Recepcion,Nombre_Muestra,Fecha_Muestra,Laboratorio_Origen,Parametro,Valor
13,49,AGUADA 1,99873/2016-1.0,3522|AGUADA 1,2016-03-13 17:00:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,150.60
18,49,AGUADA 1,222570/2017-1.0,85|AGUADA 1,2017-06-05 14:17:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,156.00
20,49,AGUADA 1,72406/2018-1.0,Aguada 1|43130,2018-01-30 13:15:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,217.30
26,49,AGUADA 1,435774/2018-1.0,AGUADA 1|29-08-2018,2018-08-29 15:16:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,154.00
28,53,Allana-1,Desc_ALS_7_24,ALLANA|39287|PSAH,2007-07-24 00:00:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,103.00
...,...,...,...,...,...,...,...,...
1937573,242,L4-11,NaN,NaN,2021-08-24 15:29:00,NaN,Isotopo d11B_‰,-7.24
1937878,243,L4-12,NaN,NaN,2021-08-24 14:58:00,NaN,Isotopo d11B_‰,-6.36
1937948,246,L4-15,NaN,NaN,2021-08-25 17:05:00,NaN,Isotopo d11B_‰,-6.85
1938012,247,L4-16,NaN,NaN,2021-08-25 18:00:00,NaN,Isotopo d11B_‰,-5.95
1938386,251,L4-5,NaN,NaN,2021-08-25 17:28:00,NaN,Isotopo d11B_‰,-6.58

Funcion temporalidad

In [22]:
import pandas as pd

def generar_temporalidad(archivo_csv):
    """
    Genera un DataFrame de temporalidad con la fecha mínima, la fecha máxima y la cantidad de datos
    por 'Nombre infraestructura' a partir de un archivo CSV.
    
    Parameters:
    archivo_csv (str): Ruta al archivo CSV
    
    Returns:
    pd.DataFrame: DataFrame con la temporalidad
    """
    # Cargar el archivo CSV en un DataFrame
    # df = pd.read_excel(archivo_csv)
    df = archivo_csv
    
    # Convertir la columna 'Fecha' a tipo datetime
    df['Fecha'] = pd.to_datetime(df['Fecha_Muestra'])
    
    df
    
    # Agrupar por 'Nombre infraestructura' y calcular fecha mínima, fecha máxima y cantidad de datos
    temporalidad_df = df.groupby('Nombre_Infraestructura').agg(
        fecha_min=('Fecha', 'min'),
        fecha_max=('Fecha', 'max'),
        cantidad_datos=('Parametro', 'count')
    ).reset_index()
    
    # temporalidad_df['fecha_min'] = temporalidad_df['fecha_min'].dt.strftime('%d %B %Y')
    # temporalidad_df['fecha_max'] = temporalidad_df['fecha_max'].dt.strftime('%d %B %Y')
    
    return temporalidad_df

# Uso de la función
archivo = r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\SQM-Hidroquimica_Pivoted_05122023.xlsx"  # Reemplaza con la ruta a tu archivo CSV
resultado = generar_temporalidad(melted_df)
print(resultado)


resultado

    Nombre_Infraestructura           fecha_min           fecha_max  \
0                     A-46 1970-09-07 00:00:00 1970-09-07 00:00:00
1                     A-47 1969-12-01 00:00:00 1969-12-01 00:00:00
2                     A-49 1969-12-01 00:00:00 1969-12-01 00:00:00
3                     A-51 1969-12-01 00:00:00 1969-12-01 00:00:00
4                     A-53 1969-12-01 00:00:00 1969-12-01 00:00:00
..                     ...                 ...                 ...
290         SURGENCIA QUEL 2017-06-14 12:15:00 2019-04-14 12:05:00
291              Socaire-5 2007-07-24 00:00:00 2023-07-19 15:36:00
292              TOCONAO-5 2021-08-24 00:00:00 2021-08-24 17:00:00
293             W-DD16-901 2017-06-02 00:00:00 2017-06-02 13:18:00
294                 puilaR 2016-04-14 00:00:00 2018-02-16 16:30:00

     cantidad_datos
0                11
1                11
2                11
3                10
4                10
..              ...
290             198
291            3351
292              53
293              48
294              74

[295 rows x 4 columns]

,Nombre_Infraestructura,fecha_min,fecha_max,cantidad_datos
0,A-46,1970-09-07 00:00:00,1970-09-07 00:00:00,11
1,A-47,1969-12-01 00:00:00,1969-12-01 00:00:00,11
2,A-49,1969-12-01 00:00:00,1969-12-01 00:00:00,11
3,A-51,1969-12-01 00:00:00,1969-12-01 00:00:00,10
4,A-53,1969-12-01 00:00:00,1969-12-01 00:00:00,10
...,...,...,...,...
290,SURGENCIA QUEL,2017-06-14 12:15:00,2019-04-14 12:05:00,198
291,Socaire-5,2007-07-24 00:00:00,2023-07-19 15:36:00,3351
292,TOCONAO-5,2021-08-24 00:00:00,2021-08-24 17:00:00,53
293,W-DD16-901,2017-06-02 00:00:00,2017-06-02 13:18:00,48
294,puilaR,2016-04-14 00:00:00,2018-02-16 16:30:00,74

LIENA DE BASE (ENTREGADA POR ANNELI)

In [24]:
import pandas as pd

# Cargar el archivo Excel
file_path = r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\SQM-Hidroquimica_Pivoted_05122023.xlsx"

# excel_data = pd.ExcelFile(file_path)

# Cargar los datos de la hoja 'SQM-HQ-PIVOT'
data_df = pd.read_excel(file_path)

# Identificar las columnas a "melt"
columns_to_melt = data_df.columns[6:]  # Comenzando desde la séptima columna hasta el final

# Realizar el melt del dataframe
melted_df = data_df.melt(id_vars=data_df.columns[:6], value_vars=columns_to_melt,
                         var_name='Parametro', value_name='Valor')

# Filtrar solo las filas donde 'Valor' no es nulo y es numérico
melted_df = melted_df[pd.to_numeric(melted_df['Valor'], errors='coerce').notnull()]
# Mostrar las primeras filas del dataframe transformado para verificar
print(melted_df.head())

# Si deseas guardar el dataframe transformado a un nuevo archivo Excel
melted_df

    Object_ID Nombre_Infraestructura Nombre_Recepcion       Nombre_Muestra  \
13         49               AGUADA 1   99873/2016-1.0        3522|AGUADA 1
18         49               AGUADA 1  222570/2017-1.0          85|AGUADA 1
20         49               AGUADA 1   72406/2018-1.0       Aguada 1|43130
26         49               AGUADA 1  435774/2018-1.0  AGUADA 1|29-08-2018
28         53               Allana-1    Desc_ALS_7_24    ALLANA|39287|PSAH

         Fecha_Muestra Laboratorio_Origen  \
13 2016-03-13 17:00:00                ALS
18 2017-06-05 14:17:00                ALS
20 2018-01-30 13:15:00                ALS
26 2018-08-29 15:16:00                ALS
28 2007-07-24 00:00:00                ALS

                              Parametro  Valor
13  Alcalinidad Total (CaCO3)_mgCaCO3/L  150.6
18  Alcalinidad Total (CaCO3)_mgCaCO3/L  156.0
20  Alcalinidad Total (CaCO3)_mgCaCO3/L  217.3
26  Alcalinidad Total (CaCO3)_mgCaCO3/L  154.0
28  Alcalinidad Total (CaCO3)_mgCaCO3/L  103.0

,Object_ID,Nombre_Infraestructura,Nombre_Recepcion,Nombre_Muestra,Fecha_Muestra,Laboratorio_Origen,Parametro,Valor
13,49,AGUADA 1,99873/2016-1.0,3522|AGUADA 1,2016-03-13 17:00:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,150.60
18,49,AGUADA 1,222570/2017-1.0,85|AGUADA 1,2017-06-05 14:17:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,156.00
20,49,AGUADA 1,72406/2018-1.0,Aguada 1|43130,2018-01-30 13:15:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,217.30
26,49,AGUADA 1,435774/2018-1.0,AGUADA 1|29-08-2018,2018-08-29 15:16:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,154.00
28,53,Allana-1,Desc_ALS_7_24,ALLANA|39287|PSAH,2007-07-24 00:00:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,103.00
...,...,...,...,...,...,...,...,...
1937573,242,L4-11,NaN,NaN,2021-08-24 15:29:00,NaN,Isotopo d11B_‰,-7.24
1937878,243,L4-12,NaN,NaN,2021-08-24 14:58:00,NaN,Isotopo d11B_‰,-6.36
1937948,246,L4-15,NaN,NaN,2021-08-25 17:05:00,NaN,Isotopo d11B_‰,-6.85
1938012,247,L4-16,NaN,NaN,2021-08-25 18:00:00,NaN,Isotopo d11B_‰,-5.95
1938386,251,L4-5,NaN,NaN,2021-08-25 17:28:00,NaN,Isotopo d11B_‰,-6.58

ETIQUETAMOS LOS DATOS DE LAS ESTACIONES SOLICITADAS

In [25]:
df = melted_df

# Lista de infraestructuras para etiquetar
infraestructuras_a_etiquetar = [
    '2017', 'CUÑA 4', 'CUÑA 5', 'L4-10', 'L4-10-S', 'L4-11', 'L4-12', 'L4-15',
    'L4-16', 'L4-17', 'L4-3', 'L4-4', 'L4-5', 'L4-6', 'L4-7', 'L4-8', 'L4-9',
    'Q2', 'SOCAIRE-5', 'SQUEL'
]

# Crear la nueva columna 'Solicitud_HQ' con valores 1 donde 'Nombre_Infraestructura' esté en la lista
df['Solicitud_HQ'] = df['Nombre_Infraestructura'].apply(lambda x: 1 if x in infraestructuras_a_etiquetar else 0)


df

,Object_ID,Nombre_Infraestructura,Nombre_Recepcion,Nombre_Muestra,Fecha_Muestra,Laboratorio_Origen,Parametro,Valor,Solicitud_HQ
13,49,AGUADA 1,99873/2016-1.0,3522|AGUADA 1,2016-03-13 17:00:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,150.60,0
18,49,AGUADA 1,222570/2017-1.0,85|AGUADA 1,2017-06-05 14:17:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,156.00,0
20,49,AGUADA 1,72406/2018-1.0,Aguada 1|43130,2018-01-30 13:15:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,217.30,0
26,49,AGUADA 1,435774/2018-1.0,AGUADA 1|29-08-2018,2018-08-29 15:16:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,154.00,0
28,53,Allana-1,Desc_ALS_7_24,ALLANA|39287|PSAH,2007-07-24 00:00:00,ALS,Alcalinidad Total (CaCO3)_mgCaCO3/L,103.00,0
...,...,...,...,...,...,...,...,...,...
1937573,242,L4-11,NaN,NaN,2021-08-24 15:29:00,NaN,Isotopo d11B_‰,-7.24,1
1937878,243,L4-12,NaN,NaN,2021-08-24 14:58:00,NaN,Isotopo d11B_‰,-6.36,1
1937948,246,L4-15,NaN,NaN,2021-08-25 17:05:00,NaN,Isotopo d11B_‰,-6.85,1
1938012,247,L4-16,NaN,NaN,2021-08-25 18:00:00,NaN,Isotopo d11B_‰,-5.95,1
1938386,251,L4-5,NaN,NaN,2021-08-25 17:28:00,NaN,Isotopo d11B_‰,-6.58,1

In [27]:
import pandas as pd

# Lista de rutas de archivo
file_paths = [
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_CalidadPSAH(29.04.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopos(29.04.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_Isotopos_InformeF2_L4-12 (25.01.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_PSAH_InformeF2_L4-12 (25.01.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicos_PuntosInfEfec_L5-10.csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicosInfEfec_L1-17.csv"
]

# Crear una lista para almacenar los DataFrames y otra para almacenar las estructuras
dataframes = []
structures = []

# Leer cada archivo CSV, agregarlo a la lista de DataFrames y guardar su estructura
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dataframes.append(df)
    structures.append(df.columns.tolist())

# Mostrar las estructuras de cada DataFrame
for i, structure in enumerate(structures):
    print(f"Estructura del archivo {i+1}: {structure}")

# Verificar si todas las estructuras son iguales
all_equal = all(structure == structures[0] for structure in structures)

if all_equal:
    print("Todas las estructuras son iguales.")
else:
    print("Las estructuras no son iguales.")

Estructura del archivo 1: ['AliasInfraestructura', 'Campanna', 'Comentario', 'FechaMuestra', 'FUENTE', 'NombreAnalito', 'NombreDescriptor', 'NombreGrupoTrabajo', 'NombreInfraestructura', 'NombreLaboratorio', 'NombreMetodo', 'NombreMuestra', 'NombreMuestraPadre', 'NombreRecepcion', 'NombreTipoMuestra', 'NombreUnidad', 'TIPOANALISIS', 'IdAnalisisQuimico', 'IdCalidad', 'Prioridad', 'ValorAnalitico', 'ValorAnaliticoNum']
Estructura del archivo 2: ['AliasInfraestructura', 'Campanna', 'Comentario', 'FechaMuestra', 'FUENTE', 'NombreAnalito', 'NombreDescriptor', 'NombreGrupoTrabajo', 'NombreInfraestructura', 'NombreLaboratorio', 'NombreMetodo', 'NombreMuestra', 'NombreMuestraPadre', 'NombreRecepcion', 'NombreTipoMuestra', 'NombreUnidad', 'TIPOANALISIS', 'IdAnalisisQuimico', 'IdCalidad', 'Prioridad', 'ValorAnalitico', 'ValorAnaliticoNum']
Estructura del archivo 3: ['Alias Infraestructura', 'Campanna', 'Comentario', 'Coordenada Utm Este', 'Coordenada Utm Norte', 'Fecha Muestra', 'FUENTE', 'Id Analisis Quimico', 'Id Calidad', 'Id Calidad (copia)', 'Nombre Acuifero Muestreado', 'Nombre Analito', 'Nombre Descriptor', 'Nombre Estado Habilitacion', 'Nombre Grupo Trabajo', 'Nombre Infraestructura', 'Nombre Laboratorio', 'Nombre Laguna', 'Nombre Metodo', 'Nombre Muestra', 'Nombre Muestra Padre', 'Nombre Origen Agua', 'Nombre Recepcion', 'Nombre Red Muestreo', 'Nombre Regimen Muestreo', 'Nombre Sector', 'Nombre Sistema Cooordenadas', 'Nombre Tipo Cota', 'Nombre Tipo Medicion Coordenada', 'Nombre Tipo Muestra', 'Nombre Unidad', 'Nombre Uso Punto', 'TIPOANALISIS', 'Valor Analitico Num', 'Coordenada Utm Este (copia)', 'Coordenada Utm Norte (copia)', 'Id Analisis Quimico (copia)', 'Valor Analitico']
Estructura del archivo 4: ['Alias Infraestructura', 'Campanna', 'Comentario', 'Coordenada Utm Este', 'Coordenada Utm Norte', 'Fecha Muestra', 'FUENTE', 'Id Analisis Quimico', 'Id Calidad', 'Nombre Acuifero Muestreado', 'Nombre Analito', 'Nombre Descriptor', 'Nombre Estado Habilitacion', 'Nombre Grupo Trabajo', 'Nombre Infraestructura', 'Nombre Laboratorio', 'Nombre Laguna', 'Nombre Metodo', 'Nombre Muestra', 'Nombre Muestra Padre', 'Nombre Origen Agua', 'Nombre Recepcion', 'Nombre Red Muestreo', 'Nombre Regimen Muestreo', 'Nombre Sector', 'Nombre Sistema Cooordenadas', 'Nombre Tipo Cota', 'Nombre Tipo Medicion Coordenada', 'Nombre Tipo Muestra', 'Nombre Unidad', 'Nombre Uso Punto', 'TIPOANALISIS', 'Valor Analitico Num', 'Coordenada Utm Este (copia)', 'Coordenada Utm Norte (copia)', 'Valor Analitico']
Estructura del archivo 5: ['Alias Infraestructura', 'Campanna', 'Comentario', 'Coordenada Utm Este', 'Coordenada Utm Norte', 'Fecha Muestra', 'FUENTE', 'Id Analisis Quimico', 'Id Calidad', 'Nombre Analito', 'Nombre Descriptor', 'Nombre Grupo Trabajo', 'Nombre Infraestructura', 'Nombre Laboratorio', 'Nombre Metodo', 'Nombre Muestra', 'Nombre Muestra Padre', 'Nombre Origen Agua', 'Nombre Recepcion', 'Nombre Regimen Muestreo', 'Nombre Sistema Cooordenadas', 'Nombre Tipo Cota', 'Nombre Tipo Medicion Coordenada', 'Nombre Tipo Muestra', 'Nombre Unidad', 'Nombre Uso Punto', 'TIPOANALISIS', 'Valor Analitico Num', 'Id Analisis Quimico (copia)', 'Prioridad', 'Valor Analitico']
Estructura del archivo 6: ['Alias Infraestructura', 'Campanna', 'Comentario', 'Coordenada Utm Este', 'Coordenada Utm Norte', 'EstadoInforme', 'Fecha Muestra', 'FUENTE', 'Id Analisis Quimico', 'Id Calidad', 'Nombre Acuifero Muestreado', 'Nombre Analito', 'Nombre Descriptor', 'Nombre Estado Habilitacion', 'Nombre Grupo Trabajo', 'Nombre Infraestructura', 'Nombre Laboratorio', 'Nombre Laguna', 'Nombre Metodo', 'Nombre Muestra', 'Nombre Muestra Padre', 'Nombre Origen Agua', 'Nombre Recepcion', 'Nombre Red Muestreo', 'Nombre Regimen Muestreo', 'Nombre Sector', 'Nombre Sistema Cooordenadas', 'Nombre Tipo Cota', 'Nombre Tipo Medicion Coordenada', 'Nombre Tipo Muestra', 'Nombre Unidad', 'Nombre Uso Punto', 'Prioridad (copia)', 'TIPOANALISIS', 'Valor Analitico Num', 'Visitado', 'Coordenada Utm Este (copia)', 'Coordenada Utm Norte (copia)', 'Id Analisis Quimico (copia)', 'Prioridad', 'Valor Analitico']
Las estructuras no son iguales.

C:\Users\fdona\AppData\Local\Temp\ipykernel_5824\898281943.py:19: DtypeWarning: Columns (5,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [128]:
df_global = pd.DataFrame()

In [136]:


# Lista de rutas de archivo
file_paths = [
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_CalidadPSAH(29.04.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopos(29.04.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_Isotopos_InformeF2_L4-12 (25.01.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_PSAH_InformeF2_L4-12 (25.01.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicos_PuntosInfEfec_L5-10.csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicosInfEfec_L1-17.csv"
]

ruta = r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicosInfEfec_L1-17.csv"
    # Cargar el archivo CSV en un DataFrame
df = pd.read_csv(ruta)

# Listado de las columnas que quieres extraer
columnas_a_extraer = [
    'Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra', 'Fecha Muestra',
    'Nombre Analito', 'Nombre Unidad', 'Valor Analitico', 'Nombre Descriptor',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Metodo',
    'Id Calidad', 'Valor Analitico Num']

# Extraer las columnas deseadas
df_extraido = df[columnas_a_extraer]
df_global = pd.concat([df_global, df_extraido], axis=0)
# Guardar el nuevo DataFrame en un nuevo archivo CSV

df_global

C:\Users\fdona\AppData\Local\Temp\ipykernel_5824\1858231013.py:13: DtypeWarning: Columns (5,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta)

,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,Nombre Grupo Trabajo,Nombre Laboratorio,Nombre Metodo,Id Calidad,Valor Analitico Num
0,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Calcio,mg/L,824.400,NaN,PSAH,ALS,Desc,1,824.400
1,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Cloruro,mg/L,70200.000,NaN,PSAH,ALS,Desc,1,70200.000
2,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,DurezaTotal,mg/L,21429.900,NaN,PSAH,ALS,Desc,1,21429.900
3,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Fosforo,mg/L,0.880,NaN,PSAH,ALS,Desc,1,0.880
4,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Magnesio,mg/L,4702.500,NaN,PSAH,ALS,Desc,1,4702.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67199,12264/2024,L7-3,L7-3|12-02-2024|ALS,12/02/2024 02:35:00 p. m.,SolidosSuspendidosTotales,mg/L,25.000,NaN,PSAH,ALS,SM 2540 D,0,25.000
67200,12264/2024,L7-3,L7-3|12-02-2024|ALS,12/02/2024 02:35:00 p. m.,pH,pH,8.590,NaN,PSAH,ALS,SM 4500-H+ B,0,8.590
67201,12264/2024,L7-3,L7-3|12-02-2024|ALS,12/02/2024 02:35:00 p. m.,TemperaturaPh,°C,25.000,NaN,PSAH,ALS,SM 4500-H+ B,0,25.000
67202,12264/2024,L7-3,L7-3|12-02-2024|ALS,12/02/2024 02:35:00 p. m.,Densidad,g/ml,0.994,NaN,PSAH,ALS,ASTM D1429-08,0,0.994
67203,12264/2024,L7-3,L7-3|12-02-2024|ALS,12/02/2024 02:35:00 p. m.,Conductividad,uS/cm,1889.000,NaN,PSAH,ALS,SM 2510 B,0,1889.000

In [118]:
import pandas as pd

file_paths = [
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_CalidadPSAH(29.04.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopos(29.04.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_Isotopos_InformeF2_L4-12 (25.01.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_PSAH_InformeF2_L4-12 (25.01.2024).csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicos_PuntosInfEfec_L5-10.csv",
    r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicosInfEfec_L1-17.csv"
]

# Listado de las columnas que quieres extraer
columnas_a_extraer = [
    'Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra', 'Fecha Muestra',
    'Nombre Analito', 'Nombre Unidad', 'Valor Analitico', 'Nombre Descriptor',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Metodo',
    'Id Calidad', 'Valor Analitico Num'
]



for ruta in file_paths:
    # Cargar el archivo CSV en un DataFrame
    df = pd.read_csv(ruta)

    # Verificar que las columnas a extraer están en el DataFrame
    columnas_presentes = [col for col in columnas_a_extraer if col in df.columns]
    
    # Mostrar advertencia si alguna columna no está presente
    columnas_faltantes = [col for col in columnas_a_extraer if col not in df.columns]
    if columnas_faltantes:
        print(f"Advertencia: Las siguientes columnas no están en el archivo {ruta}: {columnas_faltantes}")

    # Extraer las columnas deseadas
    if columnas_presentes:
        df_extraido = df[columnas_presentes]
        # Concatenar los resultados al DataFrame global
        df_global = pd.concat([df_global, df_extraido], axis=0)

Advertencia: Las siguientes columnas no están en el archivo G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_CalidadPSAH(29.04.2024).csv: ['LaboratorioOrigen']
Advertencia: Las siguientes columnas no están en el archivo G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopos(29.04.2024).csv: ['LaboratorioOrigen']
Advertencia: Las siguientes columnas no están en el archivo G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_Isotopos_InformeF2_L4-12 (25.01.2024).csv: ['NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra', 'FechaMuestra', 'NombreAnalito', 'NombreUnidad', 'ValorAnalitico', 'NombreDescriptor', 'LaboratorioOrigen', 'NombreGrupoTrabajo', 'NombreLaboratorio', 'NombreMetodo', 'IdCalidad', 'ValorAnaliticoNum']
Advertencia: Las siguientes columnas no están en el archivo G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Extracto_PSAH_InformeF2_L4-12 (25.01.2024).csv: ['NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra', 'FechaMuestra', 'NombreAnalito', 'NombreUnidad', 'ValorAnalitico', 'NombreDescriptor', 'LaboratorioOrigen', 'NombreGrupoTrabajo', 'NombreLaboratorio', 'NombreMetodo', 'IdCalidad', 'ValorAnaliticoNum']
Advertencia: Las siguientes columnas no están en el archivo G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicos_PuntosInfEfec_L5-10.csv: ['NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra', 'FechaMuestra', 'NombreAnalito', 'NombreUnidad', 'ValorAnalitico', 'NombreDescriptor', 'LaboratorioOrigen', 'NombreGrupoTrabajo', 'NombreLaboratorio', 'NombreMetodo', 'IdCalidad', 'ValorAnaliticoNum']
Advertencia: Las siguientes columnas no están en el archivo G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\GV_AnalisisQuimicosInfEfec_L1-17.csv: ['NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra', 'FechaMuestra', 'NombreAnalito', 'NombreUnidad', 'ValorAnalitico', 'NombreDescriptor', 'LaboratorioOrigen', 'NombreGrupoTrabajo', 'NombreLaboratorio', 'NombreMetodo', 'IdCalidad', 'ValorAnaliticoNum']

C:\Users\fdona\AppData\Local\Temp\ipykernel_5824\563557706.py:24: DtypeWarning: Columns (5,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta)

In [111]:
df_global1

,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,NombreAnalito,NombreUnidad,ValorAnalitico,NombreDescriptor,NombreGrupoTrabajo,NombreLaboratorio,NombreMetodo,IdCalidad,ValorAnaliticoNum,Ruta_Archivo
0,5833_2022_SQM Salar,REGLILLA BURRO MUERTO CONAF,REGLILLA BURRO MUERTO CONAF|18-01-2022,18/01/2022 12:46:00 p. m.,Salinidad,‰,1.000000,<,PSAH,ALS,Desc,0,0.500000,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
1,10. F-Q OCTUBRE 2022,L1-4,L1-4|19-10-2022,19/10/2022 11:18:00 a. m.,DensidadTerreno,g/ml,1.205000,NaN,PSAH,SQM,Desc,0,1.205000,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
2,10. F-Q OCTUBRE 2022,L2-3,L2-3|27-10-2022,27/10/2022 12:45:00 p. m.,DensidadTerreno,g/ml,1.001000,NaN,PSAH,SQM,Desc,0,1.001000,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
3,07. F-Q JULIO 2023,L1-6,L1-6|16-07-2023|SQM,16/07/2023 10:57:00 a. m.,DensidadTerreno,g/ml,1.225000,NaN,PSAH,SQM,Desc,0,1.225000,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
4,10. F-Q OCTUBRE 2023,L2-3,L2-3|30-10-2023|SQM,30/10/2023 03:22:00 p. m.,DensidadTerreno,g/ml,1.002000,NaN,PSAH,SQM,Desc,0,1.002000,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,Ambiental,WATERLOO,Desc,1,2.013404,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
448,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,Ambiental,WATERLOO,Desc,1,-76.617054,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
449,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.228390,NaN,Ambiental,WATERLOO,Desc,1,-19.228390,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
450,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,Ambiental,WATERLOO,Desc,1,-11.365764,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...
451,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.876140,NaN,Ambiental,WATERLOO,Desc,1,-2.876140,G:\Unidades compartidas\03.1 Proyectos SQM\SQM...

In [125]:
# declarar df_csvs como datframe
df_csvs = pd.DataFrame()

In [137]:
#  a df_csvs se le añade concat df_extraido
df_csvs = pd.concat([df_csvs, df_global], axis=0)

In [139]:
df_csvs.to_excel('3csvadelante.xlsx', index=False)

In [9]:
column_bd = ['NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
             
       'FechaMuestra', 'Nombre Analito', 'NombreUnidad','Valor analitico y Descriptor', 
       'Descriptor', 'GrupoTrabajo', 'NombreLaboratorio',
       
       'Método', 'Calidad', 'Valor']


csv1 = pd.read_excel('3csvadelante.xlsx')
csv2 = pd.read_excel('2primeroscvs.xlsx')


csv1.columns

Index(['Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra',
       'Fecha Muestra', 'Nombre Analito', 'Nombre Unidad', 'Valor Analitico',
       'Nombre Descriptor', 'Nombre Grupo Trabajo', 'Nombre Laboratorio',
       'Nombre Metodo', 'Id Calidad', 'Valor Analitico Num'],
      dtype='object')

In [10]:
csv1.columns = column_bd

In [ ]:
csv1

In [14]:
df_concat = pd.concat([csv1, csv2], axis=0)

In [15]:
df_concat

,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,GrupoTrabajo,NombreLaboratorio,Método,Calidad,Valor
0,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo D,‰,4.357000,NaN,Ambiental,SGS,Desc,1,4.357000
1,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo d18O- H2O,‰,7.832000,NaN,Ambiental,SGS,Desc,1,7.832000
2,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo D,‰,-38.980000,NaN,Ambiental,SGS,Desc,1,-38.980000
3,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo d18O- H2O,‰,-3.735000,NaN,Ambiental,SGS,Desc,1,-3.735000
4,ES13-30192.002,LAG AGUAS DE QUELANA _RWL,542|LAG AGUAS DE QUELANA _RWL,26/10/2013 02:00:00 p. m.,Isotopo D,‰,33.084000,NaN,Ambiental,SGS,Desc,1,33.084000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16345,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,Ambiental,WATERLOO,Desc,1,2.013404
16346,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,Ambiental,WATERLOO,Desc,1,-76.617054
16347,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.228390,NaN,Ambiental,WATERLOO,Desc,1,-19.228390
16348,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,Ambiental,WATERLOO,Desc,1,-11.365764
16349,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.876140,NaN,Ambiental,WATERLOO,Desc,1,-2.876140

In [28]:
import pandas as pd

def generar_temporalidad(archivo_csv):
    """
    Genera un DataFrame de temporalidad con la fecha mínima, la fecha máxima y la cantidad de datos
    por 'Nombre infraestructura' a partir de un archivo CSV.
    
    Parameters:
    archivo_csv (str): Ruta al archivo CSV
    
    Returns:
    pd.DataFrame: DataFrame con la temporalidad
    """
    # Cargar el archivo CSV en un DataFrame
    # df = pd.read_excel(archivo_csv)
    df = archivo_csv
    
    # Convertir la columna 'Fecha' a tipo datetime
    df['Fecha'] = pd.to_datetime(df['FechaMuestra'])
    
    df
    
    # Agrupar por 'Nombre infraestructura' y calcular fecha mínima, fecha máxima y cantidad de datos
    temporalidad_df = df.groupby('NombreInfraestructura').agg(
        fecha_min=('Fecha', 'min'),
        fecha_max=('Fecha', 'max'),
        cantidad_datos=('Valor', 'count')
    ).reset_index()
    
    # temporalidad_df['fecha_min'] = temporalidad_df['fecha_min'].dt.strftime('%d %B %Y')
    # temporalidad_df['fecha_max'] = temporalidad_df['fecha_max'].dt.strftime('%d %B %Y')
    
    return temporalidad_df

# Uso de la función
archivo = r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\SQM-Hidroquimica_Pivoted_05122023.xlsx"  # Reemplaza con la ruta a tu archivo CSV
resultado = generar_temporalidad(df_concat)
print(resultado)


resultado

    NombreInfraestructura           fecha_min           fecha_max  \
0                    1905 2008-11-14 16:10:00 2008-11-14 16:10:00
1                    1906 2008-09-01 13:40:00 2022-10-19 11:20:00
2                    2017 2017-06-06 10:42:00 2017-06-06 10:42:00
3                    2021 2008-09-01 16:47:00 2016-03-28 16:20:00
4                    3070 1986-04-12 00:00:00 1986-04-12 00:00:00
..                    ...                 ...                 ...
258             TALABRE 1 2016-02-25 00:00:00 2016-02-25 00:00:00
259             TALABRE-2 2015-01-10 00:00:00 2015-01-10 00:00:00
260                 VE-38 2021-01-07 10:02:00 2021-01-07 10:02:00
261            W-DD16-901 2017-02-06 13:18:00 2017-02-06 13:18:00
262                puilaR 2016-04-14 00:00:00 2018-02-16 16:30:00

     cantidad_datos
0                11
1                97
2                 2
3                68
4                17
..              ...
258              26
259              20
260              52
261              46
262              72

[263 rows x 4 columns]

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\2366723770.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Fecha'] = pd.to_datetime(df['FechaMuestra'])

,NombreInfraestructura,fecha_min,fecha_max,cantidad_datos
0,1905,2008-11-14 16:10:00,2008-11-14 16:10:00,11
1,1906,2008-09-01 13:40:00,2022-10-19 11:20:00,97
2,2017,2017-06-06 10:42:00,2017-06-06 10:42:00,2
3,2021,2008-09-01 16:47:00,2016-03-28 16:20:00,68
4,3070,1986-04-12 00:00:00,1986-04-12 00:00:00,17
...,...,...,...,...
258,TALABRE 1,2016-02-25 00:00:00,2016-02-25 00:00:00,26
259,TALABRE-2,2015-01-10 00:00:00,2015-01-10 00:00:00,20
260,VE-38,2021-01-07 10:02:00,2021-01-07 10:02:00,52
261,W-DD16-901,2017-02-06 13:18:00,2017-02-06 13:18:00,46
262,puilaR,2016-04-14 00:00:00,2018-02-16 16:30:00,72

In [34]:
df_combined = pd.merge(df_concat, df_bdnuevasestaciones, 
                       left_on='NombreInfraestructura', 
                       right_on='HOLEID', 
                       how='left')  # Cambiar a 'left' para asegurar un left join

In [35]:
df_combined

,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,GrupoTrabajo,NombreLaboratorio,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo D,‰,4.357000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,291.0
1,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo d18O- H2O,‰,7.832000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,291.0
2,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo D,‰,-38.980000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,291.0
3,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo d18O- H2O,‰,-3.735000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,291.0
4,ES13-30192.002,LAG AGUAS DE QUELANA _RWL,542|LAG AGUAS DE QUELANA _RWL,26/10/2013 02:00:00 p. m.,Isotopo D,‰,33.084000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,291.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127998,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,Ambiental,WATERLOO,...,SI,Soncor,None,POINT (589607.28 7416216.46),-23.361257,-68.123298,None,None,None,154.0
127999,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,96.0
128000,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.228390,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,96.0
128001,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,96.0
128002,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.876140,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,96.0

CARGAR UN NUEVO DF CON LAS ESTACIONES NUEVAS

In [86]:
df_mewestaciones = pd.read_excel(r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\NuevasEstaciones.xlsx", sheet_name='Hoja1')

In [87]:
df_mewestaciones

,HOLEID,OrigenAgua,Fuente,Nombre_Equivalencia,X_UtmEste,Y_UtmNorte,CotaRef_msnm,DATUM,MIN_FechaCoordenadaNivel,MAX_FechaCoordenadaNivel,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,CBM-01,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,NaN,584010,74212611,NaN,WGS84,NaN,NaN,...,NO,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
1,BARROS NEGROS (POZO)_RWL,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,BARROS NEGROS (POZO)_RWL,585803,7416976,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
2,MULLAY-1,NaN,GV_AnalisisQuimicosInfEfec_L1-1.csv,MULLAY-1,59991895,742264506,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
3,ATA-8,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,ATA-8,6238147132,7420076306,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
4,ATA-9,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,ATA-9,6242397102,7420101305,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
5,ALLANA,Agua Subterránea,GV_AnalisisQuimicosInfEfec_L1-1.csv,ALLANA,59895761,741483802,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
6,8290,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,8290,6078698296,7419686327,NaN,WGS84,NaN,NaN,...,NaN,Soncor,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
7,AFORO QUEBRADA SONCOR,NaN,GV_AnalisisQuimicosInfEfec_L1-1.csv,AFORO QUEBRADA SONCOR,607076,7419639,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
8,CARV-11,NaN,GV_AnalisisQuimicosInfEfec_L1-1.csv,CARV-11,591063885,7418178063,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN
9,7626,Agua Subterránea,GV_AnalisisQuimicosInfEfec_L1-1.csv,7626,592600935,7412746394,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,NaN

UNIMOS NUEVAS ESTACIONES A LAS EXISTENTES EN LA BD

In [88]:
df_bdnuevasestaciones = pd.concat([df_infraestructuras, df_mewestaciones], axis=0, ignore_index=True)

In [48]:
df_infraestructuras.columns

Index(['HOLEID', 'OrigenAgua', 'Fuente', 'Nombre_Equivalencia', 'X_UtmEste',
       'Y_UtmNorte', 'CotaRef_msnm', 'DATUM', 'MIN_FechaCoordenadaNivel',
       'MAX_FechaCoordenadaNivel', 'RanuraMin_From_m', 'RanuraMax_To_m',
       'ProfundidadTotal_m', 'TIENE_DATO_NIVEL', 'TIENE_DATO_PH',
       'TIENE_DATO_QCA', 'TIENE_DATO_ESTRATI', 'SISTEMA', 'Alias', 'geometry',
       'Latitud', 'Longitud', 'Activacion', 'Indicador', 'Sistema2',
       'Object_ID'],
      dtype='object')

In [43]:
df_mewestaciones.columns

Index(['HOLEID ', 'OrigenAgua', 'Fuente', 'Nombre_Equivalencia', 'X_UtmEste',
       'Y_UtmNorte', 'CotaRef_msnm', 'DATUM', 'MIN_FechaCoordenadaNivel',
       'MAX_FechaCoordenadaNivel', 'RanuraMin_From_m', 'RanuraMax_To_m',
       'ProfundidadTotal_m', 'TIENE_DATO_NIVEL', 'TIENE_DATO_PH',
       'TIENE_DATO_QCA', 'TIENE_DATO_ESTRATI', 'SISTEMA', 'Alias', 'geometry',
       'Latitud', 'Longitud', 'Activacion', 'Indicador', 'Sistema2',
       'Object_ID'],
      dtype='object')

In [62]:
df_bdnuevasestaciones

,HOLEID,OrigenAgua,Fuente,Nombre_Equivalencia,X_UtmEste,Y_UtmNorte,CotaRef_msnm,DATUM,MIN_FechaCoordenadaNivel,MAX_FechaCoordenadaNivel,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,1001,Agua Subterránea,SQM,None,5.751900e+05,7.392246e+06,2301.100,WGS84,None,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.26314320414922 -23.57848819842006),-23.578488,-68.263143,None,None,None,1
1,1023,Agua Subterránea,Historico MINSAL (1988),None,5.842021e+05,7.415050e+06,2300.580,WGS84,32108,32910,...,NO,None,None,POINT (584202.0600000001 7415049.6),-23.372083,-68.176112,None,None,None,2
2,1024,Agua Subterránea,SQM,None,5.894750e+05,7.391600e+06,2300.950,WGS84,None,None,...,None,Peine,None,POINT (-68.12312414806739 -23.58359588624011),-23.583596,-68.123124,None,None,None,3
3,1027,Agua Subterránea,SQM,None,5.897970e+05,7.424645e+06,2308.776,WGS84,None,None,...,None,Soncor,None,POINT (-68.1219425028462 -23.28511956597051),-23.285120,-68.121943,None,None,None,4
4,1028,Agua Subterránea,SQM,None,5.844330e+05,7.383998e+06,2301.448,WGS84,None,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,CBM-01,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,NaN,5.840100e+05,7.421261e+07,NaN,WGS84,NaN,NaN,...,NO,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,521
521,BARROS NEGROS (POZO)_RWL,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,BARROS NEGROS (POZO)_RWL,5.858030e+05,7.416976e+06,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,522
522,MULLAY-1,NaN,GV_AnalisisQuimicosInfEfec_L1-1.csv,MULLAY-1,5.999190e+07,7.422645e+08,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,523
523,ATA-8,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,ATA-8,6.238147e+09,7.420076e+09,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,524
524,ATA-9,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,ATA-9,6.242397e+09,7.420101e+09,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,525

RESETEAMOS EL OBJECT_ID

In [96]:
df_bdnuevasestaciones['Object_ID'] = range(1, len(df_bdnuevasestaciones) + 1)

GENERAMOS EL CRUCE ENTRE TABLAS CON MUESTRAS Y TABLA INFRAESTRUCTURA

In [99]:
df_combined = pd.merge(df_concat, df_bdnuevasestaciones, 
                       left_on='NombreInfraestructura', 
                       right_on='HOLEID', 
                       how='inner')  # Cambiar a 'left' para asegurar un left join

In [100]:
df_combined

,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,GrupoTrabajo,NombreLaboratorio,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo D,‰,4.357000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,294
1,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo d18O- H2O,‰,7.832000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,294
2,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo D,‰,-38.980000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,294
3,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo d18O- H2O,‰,-3.735000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,294
4,ES13-30192.002,LAG AGUAS DE QUELANA _RWL,542|LAG AGUAS DE QUELANA _RWL,26/10/2013 02:00:00 p. m.,Isotopo D,‰,33.084000,NaN,Ambiental,SGS,...,NO,None,None,POINT (593163 7403837),-23.472867,-68.087747,None,None,None,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127637,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,Ambiental,WATERLOO,...,SI,Soncor,None,POINT (589607.28 7416216.46),-23.361257,-68.123298,None,None,None,156
127638,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,97
127639,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.228390,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,97
127640,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,97
127641,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.876140,NaN,Ambiental,WATERLOO,...,NO,None,Chaxa (SQM),POINT (583530.01 7424240.32),-23.289106,-68.183195,None,None,None,97

In [68]:
df_concentraciones.columns

Index(['ID_Union', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
       'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
       'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
       'GrupoTrabajo', 'NombreLaboratorio',
       'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
       'EIA2022'],
      dtype='object')

EXTRAEMOS LAS COLUMNAS NECESARIAS E IMPUTAMOS EN NULL LAS SIN DATOS

In [101]:
columnas_deseadas = [
    'Object_ID', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
    'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
    'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
    'GrupoTrabajo', 'NombreLaboratorio',
    'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
    'EIA2022'
]

# Añadir las columnas faltantes con valores nulos
for columna in columnas_deseadas:
    if columna not in df_combined.columns:
        df_combined[columna] = None



# Seleccionar y reordenar las columnas deseadas
df_NuevaCarga = df_combined[columnas_deseadas]

In [102]:
df_NuevaCarga

,Object_ID,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,Calidad,Valor,EIA2022
0,294,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo D,‰,4.357000,NaN,None,Ambiental,SGS,None,Desc,1,4.357000,None
1,294,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo d18O- H2O,‰,7.832000,NaN,None,Ambiental,SGS,None,Desc,1,7.832000,None
2,294,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo D,‰,-38.980000,NaN,None,Ambiental,SGS,None,Desc,1,-38.980000,None
3,294,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo d18O- H2O,‰,-3.735000,NaN,None,Ambiental,SGS,None,Desc,1,-3.735000,None
4,294,ES13-30192.002,LAG AGUAS DE QUELANA _RWL,542|LAG AGUAS DE QUELANA _RWL,26/10/2013 02:00:00 p. m.,Isotopo D,‰,33.084000,NaN,None,Ambiental,SGS,None,Desc,1,33.084000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127637,156,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,None,Ambiental,WATERLOO,None,Desc,1,2.013404,None
127638,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,None,Ambiental,WATERLOO,None,Desc,1,-76.617054,None
127639,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.228390,NaN,None,Ambiental,WATERLOO,None,Desc,1,-19.228390,None
127640,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,None,Ambiental,WATERLOO,None,Desc,1,-11.365764,None
127641,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.876140,NaN,None,Ambiental,WATERLOO,None,Desc,1,-2.876140,None

RENOMBRAMOS OBJECT_ID POR "ID_union"

In [103]:
# renombrar columna Object_ID por ID_Union
df_NuevaCarga.rename(columns={'Object_ID': 'ID_Union'}, inplace=True)

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\3195274003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NuevaCarga.rename(columns={'Object_ID': 'ID_Union'}, inplace=True)

REVISAR DF

In [104]:
df_NuevaCarga

,ID_Union,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,Calidad,Valor,EIA2022
0,294,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo D,‰,4.357000,NaN,None,Ambiental,SGS,None,Desc,1,4.357000,None
1,294,ES14-02867.001,LAG AGUAS DE QUELANA _RWL,635|LAG AGUAS DE QUELANA _RWL,21/01/2014 03:30:00 p. m.,Isotopo d18O- H2O,‰,7.832000,NaN,None,Ambiental,SGS,None,Desc,1,7.832000,None
2,294,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo D,‰,-38.980000,NaN,None,Ambiental,SGS,None,Desc,1,-38.980000,None
3,294,ES13-14049.003,LAG AGUAS DE QUELANA _RWL,379|LAG AGUAS DE QUELANA _RWL,19/05/2013 01:30:00 p. m.,Isotopo d18O- H2O,‰,-3.735000,NaN,None,Ambiental,SGS,None,Desc,1,-3.735000,None
4,294,ES13-30192.002,LAG AGUAS DE QUELANA _RWL,542|LAG AGUAS DE QUELANA _RWL,26/10/2013 02:00:00 p. m.,Isotopo D,‰,33.084000,NaN,None,Ambiental,SGS,None,Desc,1,33.084000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127637,156,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,None,Ambiental,WATERLOO,None,Desc,1,2.013404,None
127638,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,None,Ambiental,WATERLOO,None,Desc,1,-76.617054,None
127639,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.228390,NaN,None,Ambiental,WATERLOO,None,Desc,1,-19.228390,None
127640,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,None,Ambiental,WATERLOO,None,Desc,1,-11.365764,None
127641,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.876140,NaN,None,Ambiental,WATERLOO,None,Desc,1,-2.876140,None

SE JUNTA LA NUEVA DATA CON LA EXISTENTE EN LA DB

In [105]:
df_update = pd.concat([df_concentraciones, df_NuevaCarga], axis=0, ignore_index=True)

In [106]:
df_update

,ID_Union,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,Calidad,Valor,EIA2022
0,1,462849/2018-1.0,4,43|10-09-2018,2018-09-10 10:08:00,Alcalinidad Total (CaCO3),mgCaCO3/L,183,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,183.000000,None
1,1,462849/2018-1.0,4,43|10-09-2018,2018-09-10 10:08:00,AlcalinidadBicarbonato,mgCaCO3/L,153.6,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,153.600000,None
2,1,462849/2018-1.0,4,43|10-09-2018,2018-09-10 10:08:00,AlcalinidadCarbonato,mgCaCO3/L,29.5,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,29.500000,None
3,1,462849/2018-1.0,4,43|10-09-2018,2018-09-10 10:08:00,Aluminio,mg/L,1.497,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,1.497000,None
4,1,462849/2018-1.0,4,43|10-09-2018,2018-09-10 10:08:00,Arsenico,mg/L,4.678,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,4.678000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234621,156,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,None,Ambiental,WATERLOO,None,Desc,1,2.013404,None
234622,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,None,Ambiental,WATERLOO,None,Desc,1,-76.617054,None
234623,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.22839,NaN,None,Ambiental,WATERLOO,None,Desc,1,-19.228390,None
234624,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,None,Ambiental,WATERLOO,None,Desc,1,-11.365764,None
234625,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.87614,NaN,None,Ambiental,WATERLOO,None,Desc,1,-2.876140,None

SE VUELVE A HACER EL INNER JOIN PARA OBTENER EL OBJECT ID ACTUALIZADO

In [107]:
df_update_new = pd.merge(df_update, df_bdnuevasestaciones, 
                       left_on='NombreInfraestructura', 
                       right_on='HOLEID', 
                       how='inner')  # Cambiar a 'left' para asegurar un left join

EXTRAEMOS LAS COLUMNAS EN ORDEN Y FOMATO DE LA BD

In [108]:
columnas_deseadas = [
    'Object_ID', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
    'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
    'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
    'GrupoTrabajo', 'NombreLaboratorio',
    'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
    'EIA2022'
]

# Añadir las columnas faltantes con valores nulos
for columna in columnas_deseadas:
    if columna not in df_update_new.columns:
        df_update_new[columna] = None



# Seleccionar y reordenar las columnas deseadas
df_HQ = df_update_new[columnas_deseadas]

In [109]:
df_HQ

,Object_ID,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,Calidad,Valor,EIA2022
0,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,Alcalinidad Total (CaCO3),mgCaCO3/L,198.2,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,198.200000,None
1,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,AlcalinidadBicarbonato,mgCaCO3/L,197.2,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,197.200000,None
2,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,AlcalinidadCarbonato,mgCaCO3/L,1,<,ALS,Ambiental,ALS_Laboratorio,SI,None,None,0.500000,None
3,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,Arsenico,mg/L,1.5612,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,1.561200,None
4,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,Boro,mg/L,6.388,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,6.388000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232732,156,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,None,Ambiental,WATERLOO,None,Desc,1,2.013404,None
232733,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,None,Ambiental,WATERLOO,None,Desc,1,-76.617054,None
232734,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.22839,NaN,None,Ambiental,WATERLOO,None,Desc,1,-19.228390,None
232735,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,None,Ambiental,WATERLOO,None,Desc,1,-11.365764,None
232736,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.87614,NaN,None,Ambiental,WATERLOO,None,Desc,1,-2.876140,None

RENOMBRAR OBJECT_ID POR ID_Union

In [112]:
df_HQ.rename(columns={'Object_ID': 'ID_Union'}, inplace=True)

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\478830844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HQ.rename(columns={'Object_ID': 'ID_Union'}, inplace=True)

In [113]:
df_HQ

,ID_Union,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,Calidad,Valor,EIA2022
0,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,Alcalinidad Total (CaCO3),mgCaCO3/L,198.2,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,198.200000,None
1,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,AlcalinidadBicarbonato,mgCaCO3/L,197.2,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,197.200000,None
2,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,AlcalinidadCarbonato,mgCaCO3/L,1,<,ALS,Ambiental,ALS_Laboratorio,SI,None,None,0.500000,None
3,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,Arsenico,mg/L,1.5612,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,1.561200,None
4,4,99853/2016-1.0,1027,3503|1027,2016-03-10 19:05:00,Boro,mg/L,6.388,None,ALS,Ambiental,ALS_Laboratorio,SI,None,None,6.388000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232732,156,2018303,L1-6,L1-6|43124,24/01/2018 01:25:00 p. m.,Isotopo d18O- H2O,‰,2.013404,NaN,None,Ambiental,WATERLOO,None,Desc,1,2.013404,None
232733,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo D,‰,-76.617054,NaN,None,Ambiental,WATERLOO,None,Desc,1,-76.617054,None
232734,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo D,‰,-19.22839,NaN,None,Ambiental,WATERLOO,None,Desc,1,-19.228390,None
232735,97,2017484-3.pdf,CHAXA,1096|EST. METEO. CHAXA,20/06/2017 12:00:00 a. m.,Isotopo d18O- H2O,‰,-11.365764,NaN,None,Ambiental,WATERLOO,None,Desc,1,-11.365764,None
232736,97,2018303,CHAXA,EST. METEO. CHAXA|43189,30/03/2018 11:30:00 a. m.,Isotopo d18O- H2O,‰,-2.87614,NaN,None,Ambiental,WATERLOO,None,Desc,1,-2.876140,None

In [114]:
df_HQ.to_sql(table_name1, engine, index=False, if_exists='replace',)

737

In [110]:
df_bdnuevasestaciones

,HOLEID,OrigenAgua,Fuente,Nombre_Equivalencia,X_UtmEste,Y_UtmNorte,CotaRef_msnm,DATUM,MIN_FechaCoordenadaNivel,MAX_FechaCoordenadaNivel,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,1001,Agua Subterránea,SQM,None,5.751900e+05,7.392246e+06,2301.100,WGS84,None,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.26314320414922 -23.57848819842006),-23.578488,-68.263143,None,None,None,1
1,1023,Agua Subterránea,Historico MINSAL (1988),None,5.842021e+05,7.415050e+06,2300.580,WGS84,32108,32910,...,NO,None,None,POINT (584202.0600000001 7415049.6),-23.372083,-68.176112,None,None,None,2
2,1024,Agua Subterránea,SQM,None,5.894750e+05,7.391600e+06,2300.950,WGS84,None,None,...,None,Peine,None,POINT (-68.12312414806739 -23.58359588624011),-23.583596,-68.123124,None,None,None,3
3,1027,Agua Subterránea,SQM,None,5.897970e+05,7.424645e+06,2308.776,WGS84,None,None,...,None,Soncor,None,POINT (-68.1219425028462 -23.28511956597051),-23.285120,-68.121943,None,None,None,4
4,1028,Agua Subterránea,SQM,None,5.844330e+05,7.383998e+06,2301.448,WGS84,None,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,ALLANA,Agua Subterránea,GV_AnalisisQuimicosInfEfec_L1-1.csv,ALLANA,5.989576e+07,7.414838e+08,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,526
526,8290,Agua Superficial,GV_AnalisisQuimicosInfEfec_L1-1.csv,8290,6.078698e+09,7.419686e+09,NaN,WGS84,NaN,NaN,...,NaN,Soncor,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,527
527,AFORO QUEBRADA SONCOR,NaN,GV_AnalisisQuimicosInfEfec_L1-1.csv,AFORO QUEBRADA SONCOR,6.070760e+05,7.419639e+06,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,528
528,CARV-11,NaN,GV_AnalisisQuimicosInfEfec_L1-1.csv,CARV-11,5.910639e+08,7.418178e+09,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,529
529,7626,Agua Subterránea,GV_AnalisisQuimicosInfEfec_L1-1.csv,7626,5.926009e+08,7.412746e+09,NaN,WGS84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,L4-12 Efectividad,NaN,NaN,530

TABLA INFRAESTRUCTURA E HIDROQUIMICA ACTUALIZADA
OBTENER DIRECTAMENTE DE LA CONECCIONA LA BD

In [115]:
df_HQ.columns

Index(['ID_Union', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
       'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
       'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
       'GrupoTrabajo', 'NombreLaboratorio',
       'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
       'EIA2022'],
      dtype='object')

In [205]:
data_Excel = pd.read_excel(r"G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\ANALISIS_QUIMICOS_INFORME_L5-10_08.11.2023_v1 (1).xlsx", sheet_name='Data')

In [206]:
columnas_deseadas = [
    'Object_ID', 'Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra',
    'Fecha Muestra', 'Nombre Analito', 'Nombre Unidad',
    'Valor Analitico', 'Nombre Descriptor', 'LaboratorioOrigen',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio',
    'Validación   concentración histórica', 'Nombre Metodo', 'Id Calidad', 'Valor Analitico Num',
    'EIA2022'
]

# Añadir las columnas faltantes con valores nulos
for columna in columnas_deseadas:
    if columna not in data_Excel.columns:
        data_Excel[columna] = None



# Seleccionar y reordenar las columnas deseadas
data_Excel_carga = data_Excel[columnas_deseadas]

In [207]:
data_Excel_carga.drop(columns=['Object_ID'], inplace=True)
data_Excel_carga

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\2736783180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_Excel_carga.drop(columns=['Object_ID'], inplace=True)

,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,LaboratorioOrigen,Nombre Grupo Trabajo,Nombre Laboratorio,Validación concentración histórica,Nombre Metodo,Id Calidad,Valor Analitico Num,EIA2022
0,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Calcio,mg/L,824.40,NaN,None,PSAH,ALS,None,Desc,1,824.40,None
1,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Cloruro,mg/L,70200.00,NaN,None,PSAH,ALS,None,Desc,1,70200.00,None
2,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,DurezaTotal,mg/L,21429.90,NaN,None,PSAH,ALS,None,Desc,1,21429.90,None
3,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Fosforo,mg/L,0.88,NaN,None,PSAH,ALS,None,Desc,1,0.88,None
4,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Magnesio,mg/L,4702.50,NaN,None,PSAH,ALS,None,Desc,1,4702.50,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10272,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Potasio,mg/L,3140.00,NaN,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,3140.00,None
10273,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Sodio,mg/L,16886.00,NaN,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,16886.00,None
10274,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Sulfato,mg/L,435.00,NaN,None,PSAH Complementario,ALS,None,SM 4500 D,0,435.00,None
10275,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Cloruro,mg/L,1026.90,NaN,None,PSAH Complementario,ALS,None,SM 4500-Cl B,0,1026.90,None
10276,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Alcalinidad Total (CaCO3),mgCaCO3/L,351.80,NaN,None,PSAH Complementario,ALS,None,SM 2320,0,351.80,None

In [208]:
data_Excel_carga

,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,LaboratorioOrigen,Nombre Grupo Trabajo,Nombre Laboratorio,Validación concentración histórica,Nombre Metodo,Id Calidad,Valor Analitico Num,EIA2022
0,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Calcio,mg/L,824.40,NaN,None,PSAH,ALS,None,Desc,1,824.40,None
1,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Cloruro,mg/L,70200.00,NaN,None,PSAH,ALS,None,Desc,1,70200.00,None
2,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,DurezaTotal,mg/L,21429.90,NaN,None,PSAH,ALS,None,Desc,1,21429.90,None
3,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Fosforo,mg/L,0.88,NaN,None,PSAH,ALS,None,Desc,1,0.88,None
4,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Magnesio,mg/L,4702.50,NaN,None,PSAH,ALS,None,Desc,1,4702.50,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10272,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Potasio,mg/L,3140.00,NaN,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,3140.00,None
10273,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Sodio,mg/L,16886.00,NaN,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,16886.00,None
10274,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Sulfato,mg/L,435.00,NaN,None,PSAH Complementario,ALS,None,SM 4500 D,0,435.00,None
10275,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Cloruro,mg/L,1026.90,NaN,None,PSAH Complementario,ALS,None,SM 4500-Cl B,0,1026.90,None
10276,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Alcalinidad Total (CaCO3),mgCaCO3/L,351.80,NaN,None,PSAH Complementario,ALS,None,SM 2320,0,351.80,None

In [209]:
df_dataExcel = pd.merge(data_Excel_carga, df_infraestructuras, 
                       left_on='Nombre Infraestructura', 
                       right_on='HOLEID', 
                       how='inner')  # Cambiar a 'left' para asegurar un left join

df_dataExcel

,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,LaboratorioOrigen,Nombre Grupo Trabajo,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Calcio,mg/L,824.40,NaN,None,PSAH,...,NO,Aguas de Quelana,None,POINT (592251.6 7406210.74),-23.451480,-68.096816,Punto de Monitoreo,None,None,242
1,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Cloruro,mg/L,70200.00,NaN,None,PSAH,...,NO,Aguas de Quelana,None,POINT (592251.6 7406210.74),-23.451480,-68.096816,Punto de Monitoreo,None,None,242
2,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,DurezaTotal,mg/L,21429.90,NaN,None,PSAH,...,NO,Aguas de Quelana,None,POINT (592251.6 7406210.74),-23.451480,-68.096816,Punto de Monitoreo,None,None,242
3,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Fosforo,mg/L,0.88,NaN,None,PSAH,...,NO,Aguas de Quelana,None,POINT (592251.6 7406210.74),-23.451480,-68.096816,Punto de Monitoreo,None,None,242
4,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Magnesio,mg/L,4702.50,NaN,None,PSAH,...,NO,Aguas de Quelana,None,POINT (592251.6 7406210.74),-23.451480,-68.096816,Punto de Monitoreo,None,None,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10272,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Potasio,mg/L,3140.00,NaN,None,PSAH Complementario,...,NO,Aguas de Quelana,None,POINT (593360.4300000001 7406127.78),-23.452166,-68.085956,Punto de Monitoreo,Indicador de Estado,None,256
10273,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Sodio,mg/L,16886.00,NaN,None,PSAH Complementario,...,NO,Aguas de Quelana,None,POINT (593360.4300000001 7406127.78),-23.452166,-68.085956,Punto de Monitoreo,Indicador de Estado,None,256
10274,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Sulfato,mg/L,435.00,NaN,None,PSAH Complementario,...,NO,Aguas de Quelana,None,POINT (593971.42 7403543.67),-23.475470,-68.079813,Punto de Monitoreo,None,None,266
10275,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Cloruro,mg/L,1026.90,NaN,None,PSAH Complementario,...,NO,Aguas de Quelana,None,POINT (593971.42 7403543.67),-23.475470,-68.079813,Punto de Monitoreo,None,None,266
10276,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Alcalinidad Total (CaCO3),mgCaCO3/L,351.80,NaN,None,PSAH Complementario,...,NO,Aguas de Quelana,None,POINT (593971.42 7403543.67),-23.475470,-68.079813,Punto de Monitoreo,None,None,266

In [210]:
columnas_deseadas = [
    'Object_ID', 'Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra',
    'Fecha Muestra', 'Nombre Analito', 'Nombre Unidad',
    'Valor Analitico', 'Nombre Descriptor', 'LaboratorioOrigen',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio',
    'Validación   concentración histórica', 'Nombre Metodo', 'Id Calidad', 'Valor Analitico Num',
    'EIA2022'
]

# Asegurar que los nombres de las columnas sean consistentes
# y añadir las columnas faltantes con valores nulos
for columna in columnas_deseadas:
    if columna not in df_dataExcel.columns:
        df_dataExcel[columna] = None

# Seleccionar y reordenar las columnas deseadas
data_Excel_carga = df_dataExcel[columnas_deseadas]

In [212]:
data_Excel_carga

,Object_ID,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,LaboratorioOrigen,Nombre Grupo Trabajo,Nombre Laboratorio,Validación concentración histórica,Nombre Metodo,Id Calidad,Valor Analitico Num,EIA2022
0,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Calcio,mg/L,824.40,NaN,None,PSAH,ALS,None,Desc,1,824.40,None
1,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Cloruro,mg/L,70200.00,NaN,None,PSAH,ALS,None,Desc,1,70200.00,None
2,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,DurezaTotal,mg/L,21429.90,NaN,None,PSAH,ALS,None,Desc,1,21429.90,None
3,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Fosforo,mg/L,0.88,NaN,None,PSAH,ALS,None,Desc,1,0.88,None
4,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Magnesio,mg/L,4702.50,NaN,None,PSAH,ALS,None,Desc,1,4702.50,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10272,256,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Potasio,mg/L,3140.00,NaN,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,3140.00,None
10273,256,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Sodio,mg/L,16886.00,NaN,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,16886.00,None
10274,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Sulfato,mg/L,435.00,NaN,None,PSAH Complementario,ALS,None,SM 4500 D,0,435.00,None
10275,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Cloruro,mg/L,1026.90,NaN,None,PSAH Complementario,ALS,None,SM 4500-Cl B,0,1026.90,None
10276,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Alcalinidad Total (CaCO3),mgCaCO3/L,351.80,NaN,None,PSAH Complementario,ALS,None,SM 2320,0,351.80,None

In [213]:
columnas_deseadasBD = [
    'Object_ID', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
    'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
    'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
    'GrupoTrabajo', 'NombreLaboratorio',
    'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
    'EIA2022'
]

In [214]:
data_Excel_carga.columns = columnas_deseadasBD

In [217]:
Update_HQ = pd.concat([df_concentraciones,data_Excel_carga], axis=0, ignore_index=True)

In [226]:
Update_HQ.to_excel('Update_HQ.xlsx', index=False)

In [219]:
Update_HQ.to_sql(table_name1, engine, index=False, if_exists='replace',)

14

TRAEMOS DE LA BD LA TABLA HIDROQUIMICA

In [379]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name1 = 'SQM-Hidroquimica'
# table_name2 = 'SQM-Infraestructuras'


df_hidroquimica = pd.read_sql_table(table_name1, con=engine)#Trae la tabla de la bda un dataframe
df_infraestructuras = pd.read_sql_table(table_name2, con=engine)#

In [223]:

df_hidroquimica['Analito_unidad'] = df_hidroquimica['Nombre Analito'] + '_' + df_hidroquimica['NombreUnidad']

In [381]:
df_hidroquimica['FechaMuestra'] = df_hidroquimica['FechaMuestra'].apply(
    lambda x: x.replace('/', '-') if isinstance(x, str) else x
)

In [382]:
df_hidroquimica['FechaMuestra'] = pd.to_datetime(df_hidroquimica['FechaMuestra'], errors='raise')

ValueError: time data "21-01-2014 03:30:00 p. m." doesn't match format "%Y-%m-%d %H:%M:%S", at position 1005. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [256]:
NuevaData = pd.read_excel('Update_HQ.xlsx')

In [326]:
df_hidroquimica

,ID_Union,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,Calidad,Valor,EIA2022,Analito_unidad,PK
0,215,None,L2-22,None,2018-01-15 15:27:00,Calcio,mg/L,650.2,None,None,Ambiental,ALS,None,Desc,1,650.200,None,Calcio_mg/L,1
1,215,None,L2-22,None,2018-01-15 15:27:00,Estroncio,mg/L,13.43,None,None,Ambiental,ALS,None,Desc,1,13.430,None,Estroncio_mg/L,2
2,215,None,L2-22,None,2018-01-15 15:27:00,Fosforo,mg/L,1.711,None,None,Ambiental,ALS,None,Desc,1,1.711,None,Fosforo_mg/L,3
3,215,None,L2-22,None,2018-01-15 15:27:00,Hierro,mg/L,0.203,None,None,Ambiental,ALS,None,Desc,1,0.203,None,Hierro_mg/L,4
4,215,None,L2-22,None,2018-01-15 15:27:00,Litio,mg/L,881.1,None,None,Ambiental,ALS,None,Desc,1,881.100,None,Litio_mg/L,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243009,256,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Potasio,mg/L,3140,None,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,3140.000,None,Potasio_mg/L,243010
243010,256,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Sodio,mg/L,16886,None,None,PSAH Complementario,ALS,None,ICP-MS -EPA 6020,0,16886.000,None,Sodio_mg/L,243011
243011,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Sulfato,mg/L,435,None,None,PSAH Complementario,ALS,None,SM 4500 D,0,435.000,None,Sulfato_mg/L,243012
243012,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Cloruro,mg/L,1026.9,None,None,PSAH Complementario,ALS,None,SM 4500-Cl B,0,1026.900,None,Cloruro_mg/L,243013
243013,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Alcalinidad Total (CaCO3),mgCaCO3/L,351.8,None,None,PSAH Complementario,ALS,None,SM 2320,0,351.800,None,Alcalinidad Total (CaCO3)_mgCaCO3/L,243014

In [383]:

newFEcha = pd.read_excel(r"C:\Users\fdona\Downloads\Updated_HQ_with_Formatted_Dates.xlsx")

In [385]:
newFEcha['FechaMuestra_Formatted'] = pd.to_datetime(newFEcha['FechaMuestra_Formatted'], errors='raise')

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\2905432906.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  newFEcha['FechaMuestra_Formatted'] = pd.to_datetime(newFEcha['FechaMuestra_Formatted'], errors='raise')

In [386]:
newFEcha

,ID_Union,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,Nombre Analito,NombreUnidad,Valor analitico y Descriptor,Descriptor,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,Calidad,Valor,EIA2022,FechaMuestra_Formatted
0,215,NaN,L2-22,NaN,2018-01-15 15:27:00,Calcio,mg/L,650.2,NaN,NaN,Ambiental,ALS,NaN,Desc,1,650.200,NaN,2018-01-15
1,215,NaN,L2-22,NaN,2018-01-15 15:27:00,Estroncio,mg/L,13.43,NaN,NaN,Ambiental,ALS,NaN,Desc,1,13.430,NaN,2018-01-15
2,215,NaN,L2-22,NaN,2018-01-15 15:27:00,Fosforo,mg/L,1.711,NaN,NaN,Ambiental,ALS,NaN,Desc,1,1.711,NaN,2018-01-15
3,215,NaN,L2-22,NaN,2018-01-15 15:27:00,Hierro,mg/L,0.203,NaN,NaN,Ambiental,ALS,NaN,Desc,1,0.203,NaN,2018-01-15
4,215,NaN,L2-22,NaN,2018-01-15 15:27:00,Litio,mg/L,881.1,NaN,NaN,Ambiental,ALS,NaN,Desc,1,881.100,NaN,2018-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243009,256,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Potasio,mg/L,3140,NaN,NaN,PSAH Complementario,ALS,NaN,ICP-MS -EPA 6020,0,3140.000,NaN,2023-04-10
243010,256,103166/2023,L4-8,L4-8|04-10-2023|BI|ALS,04/10/2023 01:18:00 p. m.,Sodio,mg/L,16886,NaN,NaN,PSAH Complementario,ALS,NaN,ICP-MS -EPA 6020,0,16886.000,NaN,2023-04-10
243011,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Sulfato,mg/L,435,NaN,NaN,PSAH Complementario,ALS,NaN,SM 4500 D,0,435.000,NaN,2023-04-10
243012,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Cloruro,mg/L,1026.9,NaN,NaN,PSAH Complementario,ALS,NaN,SM 4500-Cl B,0,1026.900,NaN,2023-04-10
243013,266,103182/2023,L5-3,L5-3|04-10-2023|BI|ALS,04/10/2023 10:42:00 a. m.,Alcalinidad Total (CaCO3),mgCaCO3/L,351.8,NaN,NaN,PSAH Complementario,ALS,NaN,SM 2320,0,351.800,NaN,2023-04-10

In [333]:
import numpy as np

df_hidroquimica['Valor'] = pd.to_numeric(df_hidroquimica['Valor'], errors='coerce')


df_hidroquimica['Valor'] = df_hidroquimica['Valor'].fillna('9999999')
index_columns = [
    'ID_Union', 'NombreInfraestructura','FechaMuestra',
    'GrupoTrabajo', 'NombreLaboratorio'
  
    
]

# Creando la tabla pivotada sin aplicar una función de agregación específica
df_pivot = pd.pivot_table(
    df_hidroquimica,
    index=index_columns,
    columns=['Analito_unidad'],
    values='Valor',
    aggfunc='max',  # Utilizamos 'first' para tomar el primer valor disponible
   
).reset_index()

In [334]:
# df_pivot.to_excel('Pivot_HQ.xlsx', index=False)
df_pivot

Analito_unidad,ID_Union,NombreInfraestructura,FechaMuestra,GrupoTrabajo,NombreLaboratorio,Alcalinidad Total (CaCO3)_mgCaCO3/L,AlcalinidadBicarbonato_mgCaCO3/L,AlcalinidadCarbonato_mgCaCO3/L,Aluminio Disuelto_mg/L,Aluminio_mg/L,...,TemperaturaConductividad_°C,TemperaturaPh_°C,TemperaturaTerreno_°C,Titanio Disuelto_mg/L,Titanio_mg/L,Vanadio Disuelto_mg/L,Vanadio_mg/L,Zinc Disuelto_mg/L,Zinc_mg/L,pH_pH
0,1,1001,2007-08-01 00:00:00,PSAH,ALS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1001,2007-10-31 00:00:00,PSAH,ALS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1001,2008-02-02 00:00:00,PSAH,ALS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1001,2008-02-02 00:00:00,PSAH,SQM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1001,2008-04-29 00:00:00,PSAH,ALS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17504,529,CARV-11,29/07/2021 08:45:00 a. m.,Ambiental,ALS,532.0,532.0,0.5,NaN,46.23,...,NaN,25.0,NaN,NaN,NaN,NaN,NaN,0.0025,0.845,7.78
17505,529,CARV-11,29/07/2021 08:45:00 a. m.,Ambiental,MOAM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17506,529,CARV-11,29/07/2021 08:45:00 a. m.,Ambiental,RUTGERS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17507,529,CARV-11,29/07/2021 08:45:00 a. m.,Ambiental,WATERLOO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17508,530,7626,25/11/1986 12:00:00 a. m.,Ambiental,NC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.06

In [275]:

# Crear dataframe test_df con las columnas analito unidad y valor de df_hidroquimica
df_hidroquimica['PK'] = range(1, len(df_hidroquimica) + 1)

In [276]:
pivoted_df = df_hidroquimica.pivot(index='PK', columns='Analito_unidad', values='Valor')

In [277]:
pivoted_df

Analito_unidad,NaN,Alcalinidad Total (CaCO3)_mgCaCO3/L,AlcalinidadBicarbonato_mgCaCO3/L,AlcalinidadCarbonato_mgCaCO3/L,Aluminio Disuelto_mg/L,Aluminio_mg/L,Antimonio Disuelto_mg/L,Antimonio_mg/L,Arsenico Disuelto_mg/L,Arsenico_mg/L,...,TemperaturaConductividad_°C,TemperaturaPh_°C,TemperaturaTerreno_°C,Titanio Disuelto_mg/L,Titanio_mg/L,Vanadio Disuelto_mg/L,Vanadio_mg/L,Zinc Disuelto_mg/L,Zinc_mg/L,pH_pH
PK,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243014,NaN,351.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [317]:
import numpy as np


index_columns = [
    'ID_Union', 'NombreInfraestructura','FechaMuestra'
    
]

# Creando la tabla pivotada sin aplicar una función de agregación específica
df_pivot = pd.pivot_table(
    df_hidroquimica,
    index=index_columns,
    columns=['Analito_unidad'],
    values='Valor',
    aggfunc='max',  # Utilizamos 'first' para tomar el primer valor disponible
   
).reset_index()

TypeError: agg function failed [how->max,dtype->object]

In [314]:
df_pivot

Analito_unidad,PK,NombreInfraestructura,FechaMuestra,Alcalinidad Total (CaCO3)_mgCaCO3/L,AlcalinidadBicarbonato_mgCaCO3/L,AlcalinidadCarbonato_mgCaCO3/L,Aluminio Disuelto_mg/L,Aluminio_mg/L,Antimonio Disuelto_mg/L,Antimonio_mg/L,...,TemperaturaConductividad_°C,TemperaturaPh_°C,TemperaturaTerreno_°C,Titanio Disuelto_mg/L,Titanio_mg/L,Vanadio Disuelto_mg/L,Vanadio_mg/L,Zinc Disuelto_mg/L,Zinc_mg/L,pH_pH
0,1,L2-22,2018-01-15 15:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,L2-22,2018-01-15 15:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,L2-22,2018-01-15 15:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,L2-22,2018-01-15 15:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,L2-22,2018-01-15 15:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242555,243010,L4-8,04/10/2023 01:18:00 p. m.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242556,243011,L4-8,04/10/2023 01:18:00 p. m.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242557,243012,L5-3,04/10/2023 10:42:00 a. m.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242558,243013,L5-3,04/10/2023 10:42:00 a. m.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242559,243014,L5-3,04/10/2023 10:42:00 a. m.,351.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [315]:
pivoted_df = df_hidroquimica.pivot_table(
   
    index=[
        'ID_Union', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
        'FechaMuestra', 'LaboratorioOrigen', 'GrupoTrabajo', 'NombreLaboratorio',
        'Validación   concentración histórica', 'Método', 'Calidad', 'EIA2022'
    ],
    columns=['Analito_unidad'],
    values='Valor',
    aggfunc='max'
).reset_index()

In [316]:
pivoted_df

Empty DataFrame
Columns: [ID_Union, NombreRecepcion, NombreInfraestructura, NombreMuestra, FechaMuestra, LaboratorioOrigen, GrupoTrabajo, NombreLaboratorio, Validación   concentración histórica, Método, Calidad, EIA2022]
Index: []

In [365]:
df_Data_pivoted = pd.read_excel(r"C:\Users\fdona\Downloads\_CREATE_TABLE_SQM_Hidroquimica_pivot_AS_SELECT_ID_Union_NombreRe_202406141557.xlsx")

In [368]:
df_Data_pivoted['FechaMuestra'] = df_Data_pivoted['FechaMuestra'].apply(
    lambda x: x.replace('/', '-') if isinstance(x, str) else x
)
df_Data_pivoted['FechaMuestra'] = pd.to_datetime(df_Data_pivoted['FechaMuestra'], errors='raise')

In [ ]:
df_Data_pivoted

In [372]:
infraestructuras = [
    '2017', 'CUÑA 4', 'CUÑA 5', 'L4-10', 'L4-10-S', 'L4-11', 'L4-12', 'L4-15',
    'L4-16', 'L4-17', 'L4-3', 'L4-4', 'L4-5', 'L4-6', 'L4-7', 'L4-8', 'L4-9', 
    'Q2', 'SOCAIRE-5', 'SQUEL'
]

filtered_df = df_Data_pivoted[df_Data_pivoted['NombreInfraestructura'].isin(infraestructuras)]

In [373]:
filtered_df

,ID_Union,NombreRecepcion,NombreInfraestructura,NombreMuestra,FechaMuestra,LaboratorioOrigen,GrupoTrabajo,NombreLaboratorio,Validación concentración histórica,Método,...,Mercurio_mg/L,Antimonio_mg/L,Selenio_mg/L,Estaño_mg/L,Titanio_mg/L,Talio_mg/L,Bario Total_mg/L,Estroncio Total_mg/L,Silicio Total_mg/L,Hidrocarburos Volátiles C6-C10_mg/L
796,114,2016249_8.xls,CUÑA 4,3590|CUÑA 4,2016-04-14 17:20:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,114,2017484-3.pdf,CUÑA 4,115|CUÑA 4,2017-06-12 15:35:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,114,Desc_WATERLOO,CUÑA 4,3877|CUÑA 4,2008-09-16 13:28:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,115,2016249_8.xls,CUÑA 5,3591|CUÑA 5,2016-04-14 17:00:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,115,2017484-3.pdf,CUÑA 5,116|CUÑA 5,2017-06-12 16:05:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9715,257,T 2016-2017 SQM,L4-9,L4-9 / 2017-JUL-27 T SQM,2017-07-27 08:00:00,NaN,PSAH,SQM,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9716,257,T 2016-2017 SQM,L4-9,L4-9 / 2017-OCT-24 T SQM,2017-10-24 00:00:00,NaN,PSAH,SQM,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13927,426,2016249_8.xls,Q2,3527|Q2,2016-03-14 12:15:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20433,472,2016249_8.xls,SQUEL,3582|S5,2016-04-14 16:20:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20434,472,2016249_8.xls,SQUEL,3587|SQUEL,2016-04-14 16:10:00,NaN,Ambiental,WATERLOO,NaN,Desc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [378]:
ruta_archivo = r'G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Export_BD_SQM\Export_Infraestructuras.xlsx'
df_infraestructuras.to_excel(ruta_archivo, index=False)

In [387]:
# subir dataframe newFEchaa la base de datos con tablename1
newFEcha.to_sql(table_name1, engine, index=False, if_exists='replace',)

14

In [388]:
df_formated_Fecha = pd.read_excel(r'C:\Users\fdona\Downloads\Updated_HQ_with_Formatted_Dates.xlsx')

In [390]:
# df_formated_Fecha
df_formated_Fecha['FechaMuestra'] = pd.to_datetime(df_formated_Fecha['FechaMuestra'], errors='raise')

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\3836643182.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_formated_Fecha['FechaMuestra'] = pd.to_datetime(df_formated_Fecha['FechaMuestra'], errors='raise')

In [392]:
df_formated_Fecha

df_formated_Fecha.to_sql(table_name1, engine, index=False, if_exists='replace',)

14

In [393]:
ruta_archivo = r'G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\03.WIP\03.Hidroquímica\Consolidacion_BD\Export_BD_SQM\Export_TotalData_pivotBD.xlsx'
df_formated_Fecha.to_excel(ruta_archivo, index=False)

NUEVOS DATOS BD MAESTRA

In [398]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name1 = 'SQM-Hidroquimica'
table_name2 = 'SQM-Infraestructuras'


df_bd_hidroquimica = pd.read_sql_table(table_name1, con=engine)#Trae la tabla de la bda un dataframe
df_infraestructuras = pd.read_sql_table(table_name2, con=engine)#

In [395]:
df_data_nueva = pd.read_csv(r'G:\Unidades compartidas\03.1 Proyectos SQM\SQM-049_Informe Efectividad L4-12 (17Jul2024)\02.Antecedentes\01.Cliente\02 CALIDAD DE AGUA\CalidadAgua_PSAH_L4-12(14-06-24).csv', sep=',')

In [396]:
df_data_nueva

,Alias Infraestructura,Campanna,Comentario,Coordenada Utm Este,Coordenada Utm Norte,EstadoInforme,Fecha Muestra,FechaAnalisis,FechaEmisionInforme,FechaRecepcionLab,...,Nombre Uso Punto,Prioridad (copia),TIPOANALISIS,Valor Analitico Num,Visitado,Coordenada Utm Este (copia),Coordenada Utm Norte (copia),Id Analisis Quimico (copia),Prioridad,Valor Analitico
0,NaN,1_2014,NaN,592251.599,7406210.740,VALIDADO,24/01/2014 12:00:00 a. m.,NaN,NaN,NaN,...,Punto PSA,1,Laboratorio,824.40,VISITADO,592251.599,7406210.740,252184,1,824.40
1,NaN,1_2014,NaN,592251.599,7406210.740,VALIDADO,24/01/2014 12:00:00 a. m.,NaN,NaN,NaN,...,Punto PSA,1,Laboratorio,70200.00,VISITADO,592251.599,7406210.740,252185,1,70200.00
2,NaN,1_2014,NaN,592251.599,7406210.740,VALIDADO,24/01/2014 12:00:00 a. m.,NaN,NaN,NaN,...,Punto PSA,1,Laboratorio,21429.90,VISITADO,592251.599,7406210.740,252186,1,21429.90
3,NaN,1_2014,NaN,592251.599,7406210.740,VALIDADO,24/01/2014 12:00:00 a. m.,NaN,NaN,NaN,...,Punto PSA,1,Laboratorio,0.88,VISITADO,592251.599,7406210.740,252187,1,0.88
4,NaN,1_2014,NaN,592251.599,7406210.740,VALIDADO,24/01/2014 12:00:00 a. m.,NaN,NaN,NaN,...,Punto PSA,1,Laboratorio,4702.50,VISITADO,592251.599,7406210.740,252188,1,4702.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,NaN,SDA_04_2024,NaN,585967.230,7405467.671,EN REVISION,29/04/2024 03:45:00 p. m.,03/05/2024 01:15:00 p. m.,18/05/2024 12:00:00 p. m.,02/05/2024 12:00:00 p. m.,...,Punto PSA,2,Laboratorio,345150.00,VISITADO,585967.230,7405467.671,454012,2,345150.00
6645,NaN,SDA_04_2024,NaN,585967.230,7405467.671,EN REVISION,29/04/2024 03:45:00 p. m.,03/05/2024 01:15:00 p. m.,18/05/2024 12:00:00 p. m.,02/05/2024 12:00:00 p. m.,...,Punto PSA,2,Laboratorio,74.00,VISITADO,585967.230,7405467.671,454013,2,74.00
6646,NaN,SDA_04_2024,NaN,585967.230,7405467.671,EN REVISION,29/04/2024 03:45:00 p. m.,03/05/2024 01:15:00 p. m.,18/05/2024 12:00:00 p. m.,02/05/2024 12:00:00 p. m.,...,Punto PSA,2,Laboratorio,378865.00,VISITADO,585967.230,7405467.671,454014,2,378865.00
6647,NaN,SDA_04_2024,NaN,585967.230,7405467.671,EN REVISION,29/04/2024 03:45:00 p. m.,02/05/2024 01:00:00 p. m.,18/05/2024 12:00:00 p. m.,02/05/2024 12:00:00 p. m.,...,Punto PSA,2,Laboratorio,2.50,VISITADO,585967.230,7405467.671,454015,2,2.50
6648,NaN,SDA_04_2024,NaN,585967.230,7405467.671,EN REVISION,29/04/2024 03:45:00 p. m.,02/05/2024 02:00:00 p. m.,18/05/2024 12:00:00 p. m.,02/05/2024 12:00:00 p. m.,...,Punto PSA,2,Laboratorio,7.60,VISITADO,585967.230,7405467.671,454016,2,7.60

In [423]:
df_bd_hidroquimica.columns

extract_columns = ['Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra',
       'Fecha Muestra', 'Nombre Analito', 'Nombre Unidad',
       'Valor Analitico', 'Nombre Descriptor',
       'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Metodo', 'Id Calidad', 'Valor Analitico Num']

In [430]:
df_bd_hidroquimica.columns

Index(['ID_Union', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
       'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
       'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
       'GrupoTrabajo', 'NombreLaboratorio',
       'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
       'EIA2022'],
      dtype='object')

In [424]:
df_extraidoHQ = df_data_nueva[extract_columns]

In [407]:
df_extraidoHQ

,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,Nombre Laboratorio,Nombre Grupo Trabajo,Nombre Laboratorio,Nombre Metodo,Id Calidad,Valor Analitico Num
0,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Calcio,mg/L,824.40,NaN,ALS,PSAH,ALS,Desc,1,824.40
1,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Cloruro,mg/L,70200.00,NaN,ALS,PSAH,ALS,Desc,1,70200.00
2,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,DurezaTotal,mg/L,21429.90,NaN,ALS,PSAH,ALS,Desc,1,21429.90
3,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Fosforo,mg/L,0.88,NaN,ALS,PSAH,ALS,Desc,1,0.88
4,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Magnesio,mg/L,4702.50,NaN,ALS,PSAH,ALS,Desc,1,4702.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,SolidosDisueltosTotales,mg/L,345150.00,NaN,ALS,PSAH,ALS,SM 2540 C,0,345150.00
6645,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,SolidosSuspendidosTotales,mg/L,74.00,NaN,ALS,PSAH,ALS,SM 2540 D,0,74.00
6646,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,SolidosTotales,mg/L,378865.00,NaN,ALS,PSAH,ALS,SM 2540 B,0,378865.00
6647,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,Temperatura recepción,°C,2.50,NaN,ALS,PSAH,ALS,SM 2550 B,0,2.50
6648,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,pH,pH,7.60,NaN,ALS,PSAH,ALS,SM 4500-H+ B,0,7.60

In [445]:
df_combined99 = pd.merge(df_extraidoHQ, df_bdnuevasestaciones, 
                       left_on='Nombre Infraestructura', 
                       right_on='HOLEID', 
                       how='inner')  # Cambiar a 'left' para asegurar un left join

In [426]:
df_combined99.columns

Index(['Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra',
       'Fecha Muestra', 'Nombre Analito', 'Nombre Unidad', 'Valor Analitico',
       'Nombre Descriptor', 'Nombre Grupo Trabajo', 'Nombre Laboratorio',
       'Nombre Metodo', 'Id Calidad', 'Valor Analitico Num', 'HOLEID',
       'OrigenAgua', 'Fuente', 'Nombre_Equivalencia', 'X_UtmEste',
       'Y_UtmNorte', 'CotaRef_msnm', 'DATUM', 'MIN_FechaCoordenadaNivel',
       'MAX_FechaCoordenadaNivel', 'RanuraMin_From_m', 'RanuraMax_To_m',
       'ProfundidadTotal_m', 'TIENE_DATO_NIVEL', 'TIENE_DATO_PH',
       'TIENE_DATO_QCA', 'TIENE_DATO_ESTRATI', 'SISTEMA', 'Alias', 'geometry',
       'Latitud', 'Longitud', 'Activacion', 'Indicador', 'Sistema2',
       'Object_ID'],
      dtype='object')

In [419]:
df_combined99 = df_combined99.rename(columns={'columna2': 'nueva_columna2'})

In [446]:
columnas_deseadas = [
    'Object_ID', 'Nombre Recepcion', 'Nombre Infraestructura', 'Nombre Muestra',
    'Fecha Muestra', 'Nombre Analito', 'Nombre Unidad',
    'Valor Analitico', 'Nombre Descriptor', 'LaboratorioOrigen',
    'Nombre Grupo Trabajo', 'Nombre Laboratorio',
    'Validación   concentración histórica', 'Nombre Metodo', 'Id Calidad', 'Valor Analitico Num',
    'EIA2022'
]

# Añadir las columnas faltantes con valores nulos
for columna in columnas_deseadas:
    if columna not in df_combined99.columns:
        df_combined99[columna] = None



# Seleccionar y reordenar las columnas deseadas
df_NuevaCarga99 = df_combined99[columnas_deseadas]

In [447]:
df_NuevaCarga99

,Object_ID,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,LaboratorioOrigen,Nombre Grupo Trabajo,Nombre Laboratorio,Validación concentración histórica,Nombre Metodo,Id Calidad,Valor Analitico Num,EIA2022
0,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Calcio,mg/L,824.40,NaN,None,PSAH,ALS,None,Desc,1,824.40,None
1,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Cloruro,mg/L,70200.00,NaN,None,PSAH,ALS,None,Desc,1,70200.00,None
2,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,DurezaTotal,mg/L,21429.90,NaN,None,PSAH,ALS,None,Desc,1,21429.90,None
3,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Fosforo,mg/L,0.88,NaN,None,PSAH,ALS,None,Desc,1,0.88,None
4,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,24/01/2014 12:00:00 a. m.,Magnesio,mg/L,4702.50,NaN,None,PSAH,ALS,None,Desc,1,4702.50,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,SolidosDisueltosTotales,mg/L,345150.00,NaN,None,PSAH,ALS,None,SM 2540 C,0,345150.00,None
6645,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,SolidosSuspendidosTotales,mg/L,74.00,NaN,None,PSAH,ALS,None,SM 2540 D,0,74.00,None
6646,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,SolidosTotales,mg/L,378865.00,NaN,None,PSAH,ALS,None,SM 2540 B,0,378865.00,None
6647,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,Temperatura recepción,°C,2.50,NaN,None,PSAH,ALS,None,SM 2550 B,0,2.50,None
6648,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,29/04/2024 03:45:00 p. m.,pH,pH,7.60,NaN,None,PSAH,ALS,None,SM 4500-H+ B,0,7.60,None

In [448]:
df_fechanew = df_NuevaCarga99
df_fechanew['Fecha Muestra'] = df_fechanew['Fecha Muestra'].str.replace(' a. m.', '', regex=False)
df_fechanew['Fecha Muestra'] = df_fechanew['Fecha Muestra'].str.replace(' p. m.', '', regex=False)

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\2811409573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fechanew['Fecha Muestra'] = df_fechanew['Fecha Muestra'].str.replace(' a. m.', '', regex=False)
C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\2811409573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fechanew['Fecha Muestra'] = df_fechanew['Fecha Muestra'].str.replace(' p. m.', '', regex=False)

In [453]:

df_fechanew['Fecha Muestra'] = pd.to_datetime(df_fechanew['Fecha Muestra'])
df_fechanew

C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\2290419028.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_fechanew['Fecha Muestra'] = pd.to_datetime(df_fechanew['Fecha Muestra'])
C:\Users\fdona\AppData\Local\Temp\ipykernel_4072\2290419028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fechanew['Fecha Muestra'] = pd.to_datetime(df_fechanew['Fecha Muestra'])

,Object_ID,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,LaboratorioOrigen,Nombre Grupo Trabajo,Nombre Laboratorio,Validación concentración histórica,Nombre Metodo,Id Calidad,Valor Analitico Num,EIA2022
0,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Calcio,mg/L,824.40,NaN,None,PSAH,ALS,None,Desc,1,824.40,None
1,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Cloruro,mg/L,70200.00,NaN,None,PSAH,ALS,None,Desc,1,70200.00,None
2,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,DurezaTotal,mg/L,21429.90,NaN,None,PSAH,ALS,None,Desc,1,21429.90,None
3,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Fosforo,mg/L,0.88,NaN,None,PSAH,ALS,None,Desc,1,0.88,None
4,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Magnesio,mg/L,4702.50,NaN,None,PSAH,ALS,None,Desc,1,4702.50,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,SolidosDisueltosTotales,mg/L,345150.00,NaN,None,PSAH,ALS,None,SM 2540 C,0,345150.00,None
6645,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,SolidosSuspendidosTotales,mg/L,74.00,NaN,None,PSAH,ALS,None,SM 2540 D,0,74.00,None
6646,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,SolidosTotales,mg/L,378865.00,NaN,None,PSAH,ALS,None,SM 2540 B,0,378865.00,None
6647,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,Temperatura recepción,°C,2.50,NaN,None,PSAH,ALS,None,SM 2550 B,0,2.50,None
6648,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,pH,pH,7.60,NaN,None,PSAH,ALS,None,SM 4500-H+ B,0,7.60,None

In [ ]:
['ID_Union', 'NombreRecepcion', 'NombreInfraestructura', 'NombreMuestra',
       'FechaMuestra', 'Nombre Analito', 'NombreUnidad',
       'Valor analitico y Descriptor', 'Descriptor', 'LaboratorioOrigen',
       'GrupoTrabajo', 'NombreLaboratorio',
       'Validación   concentración histórica', 'Método', 'Calidad', 'Valor',
       'EIA2022']

In [455]:
df_fechanew = df_fechanew.rename(columns={'Object_ID': 'ID_Union'})

In [456]:
df_fechanew

,ID_Union,Nombre Recepcion,Nombre Infraestructura,Nombre Muestra,Fecha Muestra,Nombre Analito,Nombre Unidad,Valor Analitico,Nombre Descriptor,LaboratorioOrigen,Nombre Grupo Trabajo,Nombre Laboratorio,Validación concentración histórica,Nombre Metodo,Id Calidad,Valor Analitico Num,EIA2022
0,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Calcio,mg/L,824.40,NaN,None,PSAH,ALS,None,Desc,1,824.40,None
1,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Cloruro,mg/L,70200.00,NaN,None,PSAH,ALS,None,Desc,1,70200.00,None
2,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,DurezaTotal,mg/L,21429.90,NaN,None,PSAH,ALS,None,Desc,1,21429.90,None
3,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Fosforo,mg/L,0.88,NaN,None,PSAH,ALS,None,Desc,1,0.88,None
4,242,Desc_ALS_7_24,L4-10,L4-10|41663|PSAH,2014-01-24 00:00:00,Magnesio,mg/L,4702.50,NaN,None,PSAH,ALS,None,Desc,1,4702.50,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,SolidosDisueltosTotales,mg/L,345150.00,NaN,None,PSAH,ALS,None,SM 2540 C,0,345150.00,None
6645,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,SolidosSuspendidosTotales,mg/L,74.00,NaN,None,PSAH,ALS,None,SM 2540 D,0,74.00,None
6646,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,SolidosTotales,mg/L,378865.00,NaN,None,PSAH,ALS,None,SM 2540 B,0,378865.00,None
6647,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,Temperatura recepción,°C,2.50,NaN,None,PSAH,ALS,None,SM 2550 B,0,2.50,None
6648,254,37849/2024,L4-6,L4-6|29-04-2024|ALS,2024-04-29 15:45:00,pH,pH,7.60,NaN,None,PSAH,ALS,None,SM 4500-H+ B,0,7.60,None

In [457]:
df_fechanew.to_excel('DATANUEVA-20-06-24.xlsx', index=False)

In [ ]:
# CARGAR A LA BASE DE DATOS TABLA HIDROQUIMICA
df_fechanew.to_sql(table_name1, engine, index=False, if_exists='replace',)

FALTA HACER EL CONCAT DE LA DATA NUEVA CON LA DATA DE LA BD Y SUBIR LA DATA A LA BD Y LUEGO PIVOTEAR LA TABLA