coneccion bd

In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
evap = 'SQM-EVaporacion_MET'
precp = 'SQM-Pp-Diaria'


df_evap = pd.read_sql_table(evap, con=engine)#Trae la tabla de la bda un dataframe
df_pp = pd.read_sql_table(precp, con=engine)#

In [7]:
df_pp

,Punto de monitoreo,Fecha,Unidad,Tipo,Frecuencia,Valor,Comentarios,Archivo,Fuente,OBJECT_ID
0,Camar (DGA),1986-01-01,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,20
1,Camar (DGA),1986-01-02,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,20
2,Camar (DGA),1986-01-03,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,20
3,Camar (DGA),1986-01-04,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,20
4,Camar (DGA),1986-01-05,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,20
...,...,...,...,...,...,...,...,...,...,...
163089,Toconao Experimental (DGA),2023-07-02,mm,Prec (mm),Diario,1.582176,NaN,NaN,DGA,21
163090,Toconao Experimental (DGA),2023-08-01,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,21
163091,Toconao Experimental (DGA),2023-08-02,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,21
163092,Toconao Experimental (DGA),2023-09-01,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,21
163093,Toconao Experimental (DGA),2023-09-02,mm,Prec (mm),Diario,0.000000,NaN,NaN,DGA,21

In [8]:
import pandas as pd

def generar_temporalidad(archivo_csv):
    """
    Genera un DataFrame de temporalidad con la fecha mínima, la fecha máxima y la cantidad de datos
    por 'Nombre infraestructura' a partir de un dataset de concentraciones.

    Returns:
    pd.DataFrame: DataFrame con la temporalidad
    """
    # Cargar el archivo CSV en un DataFrame
    df = archivo_csv
    
    # Convertir la columna 'Fecha' a tipo datetime
    # df['Fecha'] = pd.to_datetime(df['FechaMuestra'])
    
    # Agrupar por 'Nombre infraestructura' y calcular fecha mínima, fecha máxima y cantidad de datos
    temporalidad_df = df.groupby('Punto de monitoreo').agg(
        fecha_min=('Fecha', 'min'),
        fecha_max=('Fecha', 'max'),
        cantidad_datos=('Valor', 'count')
    ).reset_index()
    # temporalidad_df['fecha_min'] = temporalidad_df['fecha_min'].dt.strftime('%d %B %Y')
    # temporalidad_df['fecha_max'] = temporalidad_df['fecha_max'].dt.strftime('%d %B %Y')
    
    return temporalidad_df

# Uso de la función
archivo = 'ruta/al/archivo.csv'  # Reemplaza con la ruta a tu archivo CSV
resultado = generar_temporalidad(df_pp)
print(resultado)
resultado

            Punto de monitoreo  fecha_min  fecha_max  cantidad_datos
0                  Camar (DGA) 1986-01-01 2023-09-02           13613
1                  Chaxa (SQM) 1986-01-01 2023-10-31           13818
2               El Tatio (DGA) 1986-01-01 2022-08-31           13392
3                    KCL (SQM) 1986-01-01 2023-10-31           13817
4             Monturaqui (DGA) 1986-01-01 2022-08-31           13392
5                  Peine (DGA) 1986-01-01 2023-09-02           13613
6             Rio Grande (DGA) 1986-01-01 2023-09-02           13613
7                    SCL (ALB) 1986-01-01 2022-08-31           13392
8   San Pedro de Atacama (DGA) 1986-01-01 2023-09-02           13605
9                Socaire (DGA) 1986-01-01 2023-09-02           13613
10               Talabre (DGA) 1986-01-01 2023-09-02           13613
11  Toconao Experimental (DGA) 1986-01-01 2023-09-02           13613

            Punto de monitoreo  fecha_min  fecha_max  cantidad_datos
0                  Camar (DGA) 1986-01-01 2023-09-02           13613
1                  Chaxa (SQM) 1986-01-01 2023-10-31           13818
2               El Tatio (DGA) 1986-01-01 2022-08-31           13392
3                    KCL (SQM) 1986-01-01 2023-10-31           13817
4             Monturaqui (DGA) 1986-01-01 2022-08-31           13392
5                  Peine (DGA) 1986-01-01 2023-09-02           13613
6             Rio Grande (DGA) 1986-01-01 2023-09-02           13613
7                    SCL (ALB) 1986-01-01 2022-08-31           13392
8   San Pedro de Atacama (DGA) 1986-01-01 2023-09-02           13605
9                Socaire (DGA) 1986-01-01 2023-09-02           13613
10               Talabre (DGA) 1986-01-01 2023-09-02           13613
11  Toconao Experimental (DGA) 1986-01-01 2023-09-02           13613

In [9]:
resultado.to_excel('Temporalidad_PP.xlsx', index=False)