In [6]:
import pandas as pd
import os

directory_path = "G:\\Unidades compartidas\\03.1 Proyectos SQM\\SQM-048 Informe Efectividad L1-4 Mayo (Abr.2024)\\02.Antecedentes\\01.Cliente\\0.3 Química"

excel_files = [file for file in os.listdir(directory_path) if file.endswith(('.csv'))]

excel_files

['BBDDParaExtractosQuimica_InfoEfec_L1-4_CalidadPSAH(29.04.2024).csv',
 'BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopos(29.04.2024).csv']

In [157]:
ruta_1 = "G:\\Unidades compartidas\\03.1 Proyectos SQM\\SQM-048 Informe Efectividad L1-4 Mayo (Abr.2024)\\02.Antecedentes\\01.Cliente\\0.3 Química\\BBDDParaExtractosQuimica_InfoEfec_L1-4_CalidadPSAH(29.04.2024).csv"
ruta_2 = "G:\\Unidades compartidas\\03.1 Proyectos SQM\\SQM-048 Informe Efectividad L1-4 Mayo (Abr.2024)\\02.Antecedentes\\01.Cliente\\0.3 Química\\BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopos(29.04.2024).csv"

df_data1 = pd.read_csv(ruta_2, sep=',')

df_data1

,AliasInfraestructura,Campanna,Comentario,FechaMuestra,FUENTE,NombreAnalito,NombreDescriptor,NombreGrupoTrabajo,NombreInfraestructura,NombreLaboratorio,...,NombreMuestraPadre,NombreRecepcion,NombreTipoMuestra,NombreUnidad,TIPOANALISIS,IdAnalisisQuimico,IdCalidad,Prioridad,ValorAnalitico,ValorAnaliticoNum
0,NaN,Borde E_Invierno 2017_LP,NaN,05/06/2017 04:15:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,L1-17,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154644,1,NaN,-55.122286,-55.122286
1,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 03:15:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,L1-10,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154600,1,NaN,-17.244757,-17.244757
2,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 12:50:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,L1-4,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154556,1,NaN,-1.224910,-1.224910
3,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 02:07:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,L1-6,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154578,1,NaN,-12.547436,-12.547436
4,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 01:23:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,L1-7,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154567,1,NaN,-1.448025,-1.448025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,NaN,Verano 2018,NaN,24/01/2018 01:25:00 p. m.,Linea Base EIA verano 2018 Borde E,Isotopo d18O- H2O,NaN,Ambiental,L1-6,WATERLOO,...,NaN,2018303,Rutina,‰,Laboratorio,279505,1,NaN,2.013404,2.013404
448,NaN,Agua lluvia 2017,NaN,20/06/2017 12:00:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D,NaN,Ambiental,CHAXA,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,153435,1,NaN,-76.617054,-76.617054
449,NaN,Lluvia Marzo 2018,NaN,30/03/2018 11:30:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D,NaN,Ambiental,CHAXA,WATERLOO,...,NaN,2018303,Rutina,‰,Laboratorio,279316,1,NaN,-19.228390,-19.228390
450,NaN,Agua lluvia 2017,NaN,20/06/2017 12:00:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O,NaN,Ambiental,CHAXA,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154837,1,NaN,-11.365764,-11.365764
451,NaN,Lluvia Marzo 2018,NaN,30/03/2018 11:30:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O,NaN,Ambiental,CHAXA,WATERLOO,...,NaN,2018303,Rutina,‰,Laboratorio,279317,1,NaN,-2.876140,-2.876140

In [158]:

df_data1.columns

df_data1 = df_data1[['NombreInfraestructura','AliasInfraestructura', 'Campanna', 'Comentario', 'FechaMuestra',
                     'FUENTE', 'NombreAnalito', 'NombreDescriptor', 'NombreGrupoTrabajo',
                     'NombreLaboratorio', 'NombreMetodo',
                     'NombreMuestra', 'NombreMuestraPadre', 'NombreRecepcion',
                     'NombreTipoMuestra', 'NombreUnidad', 'TIPOANALISIS',
                     'IdAnalisisQuimico', 'IdCalidad', 'Prioridad', 'ValorAnalitico',
                     'ValorAnaliticoNum']]


df_data1

,NombreInfraestructura,AliasInfraestructura,Campanna,Comentario,FechaMuestra,FUENTE,NombreAnalito,NombreDescriptor,NombreGrupoTrabajo,NombreLaboratorio,...,NombreMuestraPadre,NombreRecepcion,NombreTipoMuestra,NombreUnidad,TIPOANALISIS,IdAnalisisQuimico,IdCalidad,Prioridad,ValorAnalitico,ValorAnaliticoNum
0,L1-17,NaN,Borde E_Invierno 2017_LP,NaN,05/06/2017 04:15:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154644,1,NaN,-55.122286,-55.122286
1,L1-10,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 03:15:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154600,1,NaN,-17.244757,-17.244757
2,L1-4,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 12:50:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154556,1,NaN,-1.224910,-1.224910
3,L1-6,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 02:07:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154578,1,NaN,-12.547436,-12.547436
4,L1-7,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 01:23:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154567,1,NaN,-1.448025,-1.448025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,L1-6,NaN,Verano 2018,NaN,24/01/2018 01:25:00 p. m.,Linea Base EIA verano 2018 Borde E,Isotopo d18O- H2O,NaN,Ambiental,WATERLOO,...,NaN,2018303,Rutina,‰,Laboratorio,279505,1,NaN,2.013404,2.013404
448,CHAXA,NaN,Agua lluvia 2017,NaN,20/06/2017 12:00:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,153435,1,NaN,-76.617054,-76.617054
449,CHAXA,NaN,Lluvia Marzo 2018,NaN,30/03/2018 11:30:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2018303,Rutina,‰,Laboratorio,279316,1,NaN,-19.228390,-19.228390
450,CHAXA,NaN,Agua lluvia 2017,NaN,20/06/2017 12:00:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154837,1,NaN,-11.365764,-11.365764
451,CHAXA,NaN,Lluvia Marzo 2018,NaN,30/03/2018 11:30:00 a. m.,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O,NaN,Ambiental,WATERLOO,...,NaN,2018303,Rutina,‰,Laboratorio,279317,1,NaN,-2.876140,-2.876140

In [136]:
df_data1.head(5)

,NombreInfraestructura,AliasInfraestructura,Campanna,Comentario,FechaMuestra,FUENTE,NombreAnalito,NombreDescriptor,NombreGrupoTrabajo,NombreLaboratorio,...,NombreMuestraPadre,NombreRecepcion,NombreTipoMuestra,NombreUnidad,TIPOANALISIS,IdAnalisisQuimico,IdCalidad,Prioridad,ValorAnalitico,ValorAnaliticoNum
0,L1-17,NaN,Borde E_Invierno 2017_LP,NaN,05/06/2017 04:15:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154644,1,NaN,-55.122286,-55.122286
1,L1-10,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 03:15:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154600,1,NaN,-17.244757,-17.244757
2,L1-4,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 12:50:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154556,1,NaN,-1.224910,-1.224910
3,L1-6,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 02:07:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154578,1,NaN,-12.547436,-12.547436
4,L1-7,NaN,Borde E_Invierno 2017_LP,NaN,04/06/2017 01:23:00 p. m.,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,Ambiental,WATERLOO,...,NaN,2017484-3.pdf,Rutina,‰,Laboratorio,154567,1,NaN,-1.448025,-1.448025

In [159]:
import psycopg2
from sqlalchemy import create_engine

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name = 'SQM-Infraestructuras'

df_data_bd = pd.read_sql_table(table_name, con=engine)#Trae la tabla de la bda un dataframe

# df_update = pd.concat([df_data_bd, df_merged], axis=1) # se le añade la nueva info
# df_update = df_merged
# Crear la tabla en la base de datos y BORRA LA EXISTENTE
# df_update.to_sql(table_name, engine, index=False, if_exists='replace',)

In [139]:
df_data_bd

,HOLEID,OrigenAgua,Fuente,Nombre_Equivalencia,X_UtmEste,Y_UtmNorte,CotaRef_msnm,DATUM,MIN_FechaCoordenadaNivel,MAX_FechaCoordenadaNivel,...,TIENE_DATO_ESTRATI,SISTEMA,Alias,geometry,Latitud,Longitud,Activacion,Indicador,Sistema2,Object_ID
0,1001,Agua Subterránea,SQM,None,575190.00,7392246.0,2301.100,WGS84,None,None,...,None,Nucleo Salar de Atacama,None,POINT (-68.26314320414922 -23.57848819842006),-23.578488,-68.263143,None,None,None,1
1,1023,Agua Subterránea,Historico MINSAL (1988),None,584202.06,7415049.6,2300.580,WGS84,32108,32910,...,NO,None,None,POINT (584202.0600000001 7415049.6),-23.372083,-68.176112,None,None,None,2
2,1024,Agua Subterránea,SQM,None,589475.00,7391600.0,2300.950,WGS84,None,None,...,None,Peine,None,POINT (-68.12312414806739 -23.58359588624011),-23.583596,-68.123124,None,None,None,3
3,1027,Agua Subterránea,SQM,None,589797.00,7424645.0,2308.776,WGS84,None,None,...,None,Soncor,None,POINT (-68.1219425028462 -23.28511956597051),-23.285120,-68.121943,None,None,None,4
4,1028,Agua Subterránea,SQM,None,584433.00,7383998.0,2301.448,WGS84,None,None,...,None,Peine,None,POINT (-68.17210151073537 -23.65252654027481),-23.652527,-68.172102,None,None,None,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,A8,Rama Tamarugo,SQM,None,597052.00,7409693.0,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,None,None,None,518
516,A38,Rama Tamarugo,SQM,None,598677.00,7409695.0,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,None,None,None,514
517,A44,Rama Tamarugo,SQM,None,598449.00,7409740.0,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,None,None,None,515
518,A47,Rama Tamarugo,SQM,None,598581.00,7409758.0,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,None,None,None,516
519,A7,Rama Tamarugo,SQM,None,597031.00,7409692.0,NaN,WGS84,None,None,...,None,None,None,None,NaN,NaN,None,None,None,517

In [160]:
df_infraestructuras = df_data_bd
df_concentraciones = df_data1

# Realizando un merge/join en Python
df_combinado = pd.merge(df_concentraciones, df_infraestructuras[['HOLEID', 'X_UtmEste', 'Y_UtmNorte']],
                        left_on='NombreInfraestructura', right_on='HOLEID', how='left')

In [161]:
df_combinado.drop(columns=['HOLEID'], inplace=True)

In [162]:
df_combinado.columns

Index(['NombreInfraestructura', 'AliasInfraestructura', 'Campanna',
       'Comentario', 'FechaMuestra', 'FUENTE', 'NombreAnalito',
       'NombreDescriptor', 'NombreGrupoTrabajo', 'NombreLaboratorio',
       'NombreMetodo', 'NombreMuestra', 'NombreMuestraPadre',
       'NombreRecepcion', 'NombreTipoMuestra', 'NombreUnidad', 'TIPOANALISIS',
       'IdAnalisisQuimico', 'IdCalidad', 'Prioridad', 'ValorAnalitico',
       'ValorAnaliticoNum', 'X_UtmEste', 'Y_UtmNorte'],
      dtype='object')

In [164]:
# column_order = [
#     'Nombre Infraestructura', 'AliasInfraestructura', 'Campanna', 'NombreMuestra',
#     'X_UtmEste', 'Y_UtmNorte', 'FechaMuestra', 'IdAnalisisQuimico',
#     'IdCalidad', 'TIPOANALISIS', 'NombreGrupoTrabajo', 'Nombre Laboratorio',
#     'Nombre Metodo', 'Nombre Muestra Padre', 'Nombre Origen Agua', 'NombreLaboratorio',
#     'Nombre Regimen Muestreo', 'Nombre Sistema Coordenadas', 'Nombre Tipo Cota',
#     'Nombre Tipo Medicion Coordenada', 'Nombre Tipo Muestra', 'Nombre Uso Punto',
#     'Nombre Analito', 'Nombre Unidad', 'Nombre Descriptor', 'Valor Analitico',
#     'Valor Analitico Num', 'Procedencia', 'Tipo_analisis_BD', 'Comentario',
#     'Fuente_D', 'Nombre Analito_Unidad'
# ]


df_combinado = df_combinado[[
    'NombreInfraestructura', 'AliasInfraestructura', 'Campanna', 'NombreMuestra',
    'X_UtmEste', 'Y_UtmNorte', 'FechaMuestra','IdAnalisisQuimico',
    'IdCalidad', 'TIPOANALISIS','NombreGrupoTrabajo','NombreLaboratorio', 
    'NombreMetodo', 'NombreMuestraPadre', 'NombreRecepcion','NombreTipoMuestra',
    'FUENTE', 'NombreAnalito','NombreDescriptor','ValorAnalitico',
    'ValorAnaliticoNum','Comentario','NombreUnidad'
    ]]

df_combinado.head(5)

,NombreInfraestructura,AliasInfraestructura,Campanna,NombreMuestra,X_UtmEste,Y_UtmNorte,FechaMuestra,IdAnalisisQuimico,IdCalidad,TIPOANALISIS,...,NombreMuestraPadre,NombreRecepcion,NombreTipoMuestra,FUENTE,NombreAnalito,NombreDescriptor,ValorAnalitico,ValorAnaliticoNum,Comentario,NombreUnidad
0,L1-17,NaN,Borde E_Invierno 2017_LP,86|L1-17,591453.18,7418238.88,05/06/2017 04:15:00 p. m.,154644,1,Laboratorio,...,NaN,2017484-3.pdf,Rutina,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-55.122286,-55.122286,NaN,‰
1,L1-10,NaN,Borde E_Invierno 2017_LP,82|L1-10,587382.18,7417519.37,04/06/2017 03:15:00 p. m.,154600,1,Laboratorio,...,NaN,2017484-3.pdf,Rutina,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-17.244757,-17.244757,NaN,‰
2,L1-4,NaN,Borde E_Invierno 2017_LP,78|L1-4,588137.91,7416184.62,04/06/2017 12:50:00 p. m.,154556,1,Laboratorio,...,NaN,2017484-3.pdf,Rutina,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-1.224910,-1.224910,NaN,‰
3,L1-6,NaN,Borde E_Invierno 2017_LP,80|L1-6,589607.28,7416216.46,04/06/2017 02:07:00 p. m.,154578,1,Laboratorio,...,NaN,2017484-3.pdf,Rutina,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-12.547436,-12.547436,NaN,‰
4,L1-7,NaN,Borde E_Invierno 2017_LP,79|L1-7,587729.78,7416377.66,04/06/2017 01:23:00 p. m.,154567,1,Laboratorio,...,NaN,2017484-3.pdf,Rutina,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-1.448025,-1.448025,NaN,‰

In [165]:
df_combinado['Nombre Sistema Coordenada'] = 'WSG84'
df_combinado['Nombre Origen Agua'] = 'NULL'
df_combinado['Nombre Regimen Muestreo'] = 'NULL'
df_combinado['Tipo_analisis_BD'] = 'Quimica'

In [146]:
df_combinado.head(5)

,NombreInfraestructura,AliasInfraestructura,Campanna,NombreMuestra,X_UtmEste,Y_UtmNorte,FechaMuestra,IdAnalisisQuimico,IdCalidad,TIPOANALISIS,...,FUENTE,NombreAnalito,NombreDescriptor,ValorAnalitico,ValorAnaliticoNum,Comentario,NombreUnidad,Nombre Sistema Coordenada,Nombre Origen Agua,Nombre Regimen Muestreo
0,L1-17,NaN,Borde E_Invierno 2017_LP,86|L1-17,591453.18,7418238.88,05/06/2017 04:15:00 p. m.,154644,1,Laboratorio,...,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-55.122286,-55.122286,NaN,‰,WSG84,NULL,NULL
1,L1-10,NaN,Borde E_Invierno 2017_LP,82|L1-10,587382.18,7417519.37,04/06/2017 03:15:00 p. m.,154600,1,Laboratorio,...,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-17.244757,-17.244757,NaN,‰,WSG84,NULL,NULL
2,L1-4,NaN,Borde E_Invierno 2017_LP,78|L1-4,588137.91,7416184.62,04/06/2017 12:50:00 p. m.,154556,1,Laboratorio,...,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-1.224910,-1.224910,NaN,‰,WSG84,NULL,NULL
3,L1-6,NaN,Borde E_Invierno 2017_LP,80|L1-6,589607.28,7416216.46,04/06/2017 02:07:00 p. m.,154578,1,Laboratorio,...,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-12.547436,-12.547436,NaN,‰,WSG84,NULL,NULL
4,L1-7,NaN,Borde E_Invierno 2017_LP,79|L1-7,587729.78,7416377.66,04/06/2017 01:23:00 p. m.,154567,1,Laboratorio,...,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-1.448025,-1.448025,NaN,‰,WSG84,NULL,NULL

In [166]:
df_combinado = df_combinado[[
    'NombreInfraestructura', 'AliasInfraestructura', 'Campanna', 'NombreMuestra',
    'X_UtmEste', 'Y_UtmNorte', 'FechaMuestra','IdAnalisisQuimico',
    'IdCalidad', 'TIPOANALISIS','NombreGrupoTrabajo','NombreLaboratorio', 
    'NombreMetodo', 'NombreMuestraPadre', 'Nombre Origen Agua', 'NombreRecepcion', 'NombreTipoMuestra','Nombre Regimen Muestreo','Nombre Sistema Coordenada',
    'FUENTE', 'NombreAnalito','NombreDescriptor','ValorAnalitico',
    'ValorAnaliticoNum','Comentario','NombreUnidad'
    ]]

df_combinado

,NombreInfraestructura,AliasInfraestructura,Campanna,NombreMuestra,X_UtmEste,Y_UtmNorte,FechaMuestra,IdAnalisisQuimico,IdCalidad,TIPOANALISIS,...,NombreTipoMuestra,Nombre Regimen Muestreo,Nombre Sistema Coordenada,FUENTE,NombreAnalito,NombreDescriptor,ValorAnalitico,ValorAnaliticoNum,Comentario,NombreUnidad
0,L1-17,NaN,Borde E_Invierno 2017_LP,86|L1-17,591453.18,7418238.88,05/06/2017 04:15:00 p. m.,154644,1,Laboratorio,...,Rutina,NULL,WSG84,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-55.122286,-55.122286,NaN,‰
1,L1-10,NaN,Borde E_Invierno 2017_LP,82|L1-10,587382.18,7417519.37,04/06/2017 03:15:00 p. m.,154600,1,Laboratorio,...,Rutina,NULL,WSG84,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-17.244757,-17.244757,NaN,‰
2,L1-4,NaN,Borde E_Invierno 2017_LP,78|L1-4,588137.91,7416184.62,04/06/2017 12:50:00 p. m.,154556,1,Laboratorio,...,Rutina,NULL,WSG84,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-1.224910,-1.224910,NaN,‰
3,L1-6,NaN,Borde E_Invierno 2017_LP,80|L1-6,589607.28,7416216.46,04/06/2017 02:07:00 p. m.,154578,1,Laboratorio,...,Rutina,NULL,WSG84,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-12.547436,-12.547436,NaN,‰
4,L1-7,NaN,Borde E_Invierno 2017_LP,79|L1-7,587729.78,7416377.66,04/06/2017 01:23:00 p. m.,154567,1,Laboratorio,...,Rutina,NULL,WSG84,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D,NaN,-1.448025,-1.448025,NaN,‰
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,L1-6,NaN,Verano 2018,L1-6|43124,589607.28,7416216.46,24/01/2018 01:25:00 p. m.,279505,1,Laboratorio,...,Rutina,NULL,WSG84,Linea Base EIA verano 2018 Borde E,Isotopo d18O- H2O,NaN,2.013404,2.013404,NaN,‰
448,CHAXA,NaN,Agua lluvia 2017,1096|EST. METEO. CHAXA,583530.01,7424240.32,20/06/2017 12:00:00 a. m.,153435,1,Laboratorio,...,Rutina,NULL,WSG84,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D,NaN,-76.617054,-76.617054,NaN,‰
449,CHAXA,NaN,Lluvia Marzo 2018,EST. METEO. CHAXA|43189,583530.01,7424240.32,30/03/2018 11:30:00 a. m.,279316,1,Laboratorio,...,Rutina,NULL,WSG84,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D,NaN,-19.228390,-19.228390,NaN,‰
450,CHAXA,NaN,Agua lluvia 2017,1096|EST. METEO. CHAXA,583530.01,7424240.32,20/06/2017 12:00:00 a. m.,154837,1,Laboratorio,...,Rutina,NULL,WSG84,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O,NaN,-11.365764,-11.365764,NaN,‰
451,CHAXA,NaN,Lluvia Marzo 2018,EST. METEO. CHAXA|43189,583530.01,7424240.32,30/03/2018 11:30:00 a. m.,279317,1,Laboratorio,...,Rutina,NULL,WSG84,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O,NaN,-2.876140,-2.876140,NaN,‰

In [167]:
df_combinado['Nombre Tipo Cota'] = 'NULL'
df_combinado['Nombre Tipo Medicion Coordenada'] = 'Desc'
df_combinado['Nombre Uso Punto'] = 'NULL'

In [170]:
df_combinado['Procedencia'] = 'BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopos(29.04.2024).csv'

In [172]:
df_combinado['Tipo_analisis_BD'] = 'Quimica'

In [ ]:
df_combinado

In [174]:
df_combinado = df_combinado[[
    'NombreInfraestructura', 'AliasInfraestructura', 'Campanna', 'NombreMuestra',
    'X_UtmEste', 'Y_UtmNorte', 'FechaMuestra','IdAnalisisQuimico',
    'IdCalidad', 'TIPOANALISIS','NombreGrupoTrabajo','NombreLaboratorio', 
    'NombreMetodo', 'NombreMuestraPadre', 'Nombre Origen Agua', 'NombreRecepcion','NombreTipoMuestra', 
    'Nombre Regimen Muestreo','Nombre Sistema Coordenada','Nombre Tipo Cota','Nombre Tipo Medicion Coordenada',
    'NombreTipoMuestra','Nombre Uso Punto', 'NombreAnalito','NombreUnidad','NombreDescriptor','ValorAnalitico',
    'ValorAnaliticoNum','Procedencia','Tipo_analisis_BD','Comentario','FUENTE'
    ]]

In [156]:
df_combinado.head(5)

,NombreInfraestructura,AliasInfraestructura,Campanna,NombreMuestra,X_UtmEste,Y_UtmNorte,FechaMuestra,IdAnalisisQuimico,IdCalidad,TIPOANALISIS,...,NombreDescriptor,ValorAnalitico,ValorAnaliticoNum,Comentario,NombreUnidad,Tipo_analisis_BD,Nombre Analito_Unidad,Nombre Tipo Cota,Nombre Tipo Medicion Coordenada,Nombre Uso Punto
0,L1-17,NaN,Borde E_Invierno 2017_LP,86|L1-17,591453.18,7418238.88,05/06/2017 04:15:00 p. m.,154644,1,Laboratorio,...,NaN,-55.122286,-55.122286,NaN,‰,Quimica,Isotopo D_‰,NULL,Desc,NULL
1,L1-10,NaN,Borde E_Invierno 2017_LP,82|L1-10,587382.18,7417519.37,04/06/2017 03:15:00 p. m.,154600,1,Laboratorio,...,NaN,-17.244757,-17.244757,NaN,‰,Quimica,Isotopo D_‰,NULL,Desc,NULL
2,L1-4,NaN,Borde E_Invierno 2017_LP,78|L1-4,588137.91,7416184.62,04/06/2017 12:50:00 p. m.,154556,1,Laboratorio,...,NaN,-1.224910,-1.224910,NaN,‰,Quimica,Isotopo D_‰,NULL,Desc,NULL
3,L1-6,NaN,Borde E_Invierno 2017_LP,80|L1-6,589607.28,7416216.46,04/06/2017 02:07:00 p. m.,154578,1,Laboratorio,...,NaN,-12.547436,-12.547436,NaN,‰,Quimica,Isotopo D_‰,NULL,Desc,NULL
4,L1-7,NaN,Borde E_Invierno 2017_LP,79|L1-7,587729.78,7416377.66,04/06/2017 01:23:00 p. m.,154567,1,Laboratorio,...,NaN,-1.448025,-1.448025,NaN,‰,Quimica,Isotopo D_‰,NULL,Desc,NULL

In [175]:

df_combinado['Nombre Analito_Unidad'] = df_combinado['NombreAnalito'].astype(str) + '_' + df_combinado['NombreUnidad'].astype(str)

C:\Users\fdona\AppData\Local\Temp\ipykernel_22888\1772380606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combinado['Nombre Analito_Unidad'] = df_combinado['NombreAnalito'].astype(str) + '_' + df_combinado['NombreUnidad'].astype(str)

In [177]:
df_combinado = df_combinado[[
    'NombreInfraestructura', 'AliasInfraestructura', 'Campanna', 'NombreMuestra',
    'X_UtmEste', 'Y_UtmNorte', 'FechaMuestra','IdAnalisisQuimico',
    'IdCalidad', 'TIPOANALISIS','NombreGrupoTrabajo','NombreLaboratorio', 
    'NombreMetodo', 'NombreMuestraPadre', 'Nombre Origen Agua', 'NombreRecepcion','Nombre Regimen Muestreo','Nombre Sistema Coordenada','Nombre Tipo Cota','Nombre Tipo Medicion Coordenada',
    'NombreTipoMuestra','Nombre Uso Punto', 'NombreAnalito','NombreUnidad','NombreDescriptor','ValorAnalitico',
    'ValorAnaliticoNum','Procedencia','Tipo_analisis_BD','Comentario','FUENTE','Nombre Analito_Unidad'
    ]]

In [179]:
df_combinado.head(5)

,NombreInfraestructura,AliasInfraestructura,Campanna,NombreMuestra,X_UtmEste,Y_UtmNorte,FechaMuestra,IdAnalisisQuimico,IdCalidad,TIPOANALISIS,...,NombreAnalito,NombreUnidad,NombreDescriptor,ValorAnalitico,ValorAnaliticoNum,Procedencia,Tipo_analisis_BD,Comentario,FUENTE,Nombre Analito_Unidad
0,L1-17,NaN,Borde E_Invierno 2017_LP,86|L1-17,591453.18,7418238.88,05/06/2017 04:15:00 p. m.,154644,1,Laboratorio,...,Isotopo D,‰,NaN,-55.122286,-55.122286,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D_‰
1,L1-10,NaN,Borde E_Invierno 2017_LP,82|L1-10,587382.18,7417519.37,04/06/2017 03:15:00 p. m.,154600,1,Laboratorio,...,Isotopo D,‰,NaN,-17.244757,-17.244757,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D_‰
2,L1-4,NaN,Borde E_Invierno 2017_LP,78|L1-4,588137.91,7416184.62,04/06/2017 12:50:00 p. m.,154556,1,Laboratorio,...,Isotopo D,‰,NaN,-1.224910,-1.224910,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D_‰
3,L1-6,NaN,Borde E_Invierno 2017_LP,80|L1-6,589607.28,7416216.46,04/06/2017 02:07:00 p. m.,154578,1,Laboratorio,...,Isotopo D,‰,NaN,-12.547436,-12.547436,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D_‰
4,L1-7,NaN,Borde E_Invierno 2017_LP,79|L1-7,587729.78,7416377.66,04/06/2017 01:23:00 p. m.,154567,1,Laboratorio,...,Isotopo D,‰,NaN,-1.448025,-1.448025,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"MC modelo 3D Soncor, modelo 2D Aguas de Quel...",Isotopo D_‰

In [182]:
df_combinado['Nombre Tipo Muestra'] = df_concentraciones['NombreTipoMuestra']

In [183]:
# df_combinado   # Dataframe con carga para la bd
order_columns = [
    'Nombre Infraestructura', 'Alias Infraestructura', 'Campanna', 'Nombre Muestra',
    'Coordenada Utm Este', 'Coordenada Utm Norte', 'Fecha Muestra','Id Analisis Quimico',
    'Id Calidad', 'Tipoanalisis','Nombre Grupo Trabajo','Nombre Laboratorio', 
    'Nombre Metodo', 'Nombre Muestra Padre', 'Nombre Origen Agua', 'Nombre Recepcion','Nombre Regimen Muestreo','Nombre Sistema Cooordenadas','Nombre Tipo Cota','Nombre Tipo Medicion Coordenada',
    'Nombre Tipo Muestra','Nombre Uso Punto', 'Nombre Analito','Nombre Unidad','Nombre Descriptor','Valor Analitico',
    'Valor Analitico Num','Procedencia','Tipo_analisis_BD','Comentario','Fuente_D','Nombre Analito_Unidad']

df_combinado.columns = order_columns

In [92]:
df_combinado.head(5)

,Nombre Infraestructura,Alias Infraestructura,Campanna,Nombre Muestra,Coordenada Utm Este,Coordenada Utm Norte,Fecha Muestra,Id Analisis Quimico,Id Calidad,Tipoanalisis,...,Nombre Analito,Nombre Unidad,Nombre Descriptor,Valor Analitico,Valor Analitico Num,Procedencia,Tipo_analisis_BD,Comentario,Fuente_D,Nombre Analito_Unidad
0,REGLILLA BURRO MUERTO CONAF,REGLILLA BURRO MUERTO CONAF,PSAH_01_2022,REGLILLA BURRO MUERTO CONAF|18-01-2022,584153.88,7424262.51,18/01/2022 12:46:00 p. m.,395904,0,Laboratorio,...,Salinidad,‰,<,1.000,0.500,BBDDParaExtractosQuimica_InfoEfec_L1-4_Calidad...,Quimica,NaN,PSAH,Salinidad_‰
1,L1-4,NaN,Octubre 2022,L1-4|19-10-2022,588137.91,7416184.62,19/10/2022 11:18:00 a. m.,409293,0,Terreno,...,DensidadTerreno,g/ml,NaN,1.205,1.205,BBDDParaExtractosQuimica_InfoEfec_L1-4_Calidad...,Quimica,"3,125 Lts. para muestra, 7 envases. CE medida ...",PSAH,DensidadTerreno_g/ml
2,L2-3,NaN,Octubre 2022,L2-3|27-10-2022,596808.82,7415774.08,27/10/2022 12:45:00 p. m.,409297,0,Terreno,...,DensidadTerreno,g/ml,NaN,1.001,1.001,BBDDParaExtractosQuimica_InfoEfec_L1-4_Calidad...,Quimica,"BI: 4 envases, Muestra: 3 envases, D-1: 3 enva...",PSAH,DensidadTerreno_g/ml
3,L1-6,NaN,SDA_07_2023,L1-6|16-07-2023|SQM,589607.28,7416216.46,16/07/2023 10:57:00 a. m.,430758,0,Terreno,...,DensidadTerreno,g/ml,NaN,1.225,1.225,BBDDParaExtractosQuimica_InfoEfec_L1-4_Calidad...,Quimica,NaN,PSAH,DensidadTerreno_g/ml
4,L2-3,NaN,SDA_10_2023,L2-3|30-10-2023|SQM,596808.82,7415774.08,30/10/2023 03:22:00 p. m.,444207,0,Terreno,...,DensidadTerreno,g/ml,NaN,1.002,1.002,BBDDParaExtractosQuimica_InfoEfec_L1-4_Calidad...,Quimica,NaN,PSAH,DensidadTerreno_g/ml

In [184]:
import psycopg2
from sqlalchemy import create_engine

# Credenciales db
host = 'localhost'
database = 'DB_SQM-SALAR'
username = 'postgres'  
password = '1234' 

# Crea la coneccion
conn = psycopg2.connect(
    host=host,
    database=database,
    user=username,
    password=password
)

engine = create_engine('postgresql://'+username+':'+password+'@'+host+'/'+database)
table_name = 'SQM-Concentraciones_NEW'

df_data_concentraciones_bd = pd.read_sql_table(table_name, con=engine)#Trae la tabla de la bda un dataframe

# df_update = pd.concat([df_data_bd, df_merged], axis=1) # se le añade la nueva info
# df_update = df_merged
# Crear la tabla en la base de datos y BORRA LA EXISTENTE
# df_update.to_sql(table_name, engine, index=False, if_exists='replace',)

In [1]:
df_data_concentraciones_bd

NameError: name 'df_data_concentraciones_bd' is not defined

In [186]:
df_update = pd.concat([df_data_concentraciones_bd, df_combinado], ignore_index=False, axis=0)

In [188]:
df_update

,Nombre Infraestructura,Alias Infraestructura,Campanna,Nombre Muestra,Coordenada Utm Este,Coordenada Utm Norte,Fecha Muestra,Id Analisis Quimico,Id Calidad,Tipoanalisis,...,Nombre Analito,Nombre Unidad,Nombre Descriptor,Valor Analitico,Valor Analitico Num,Procedencia,Tipo_analisis_BD,Comentario,Fuente_D,Nombre Analito_Unidad
0,P-20B SDC,None,SC_8_2019,SC-03|28-08-2019,3.709479e+11,7.384985e+12,2019-08-28 00:00:00,340784,1,Laboratorio,...,Niquel,mg/L,None,"1,46",1.46,GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv,Quimica,None,DIA Salar del Carmen,Niquel_mg/L
1,VE-19,VE-19,nov-20,VE-19|12-11-2020,NaN,NaN,2020-11-12 00:00:00,360821,0,Laboratorio,...,Bario,mg/L,None,"0,04",0.04,GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv,Quimica,None,Caracterización Vertientes,Bario_mg/L
2,P-20B SDC,None,SC_9_2019,SC-03|26-09-2019,3.709479e+11,7.384985e+12,2019-09-26 00:00:00,340741,1,Laboratorio,...,Niquel,mg/L,None,"2,94",2.94,GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv,Quimica,None,DIA Salar del Carmen,Niquel_mg/L
3,P-20B SDC,None,SC_11_2019,SC-03|28-11-2019,3.709479e+11,7.384985e+12,2019-11-28 00:00:00,347056,1,Laboratorio,...,Niquel,mg/L,None,"2,89",2.89,GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv,Quimica,None,DIA Salar del Carmen,Niquel_mg/L
4,P-20B SDC,None,SC_12_2019,SC-03|30-12-2019,3.709479e+11,7.384985e+12,2019-12-30 00:00:00,347110,1,Laboratorio,...,Niquel,mg/L,None,"1,18",1.18,GV_AnalisisQuimicosV2_PSAH extracción_Extract.csv,Quimica,None,DIA Salar del Carmen,Niquel_mg/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,L1-6,NaN,Verano 2018,L1-6|43124,5.896073e+05,7.416216e+06,24/01/2018 01:25:00 p. m.,279505,1,Laboratorio,...,‰,NaN,2.013404,2.013404,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,Linea Base EIA verano 2018 Borde E,Isotopo d18O- H2O_‰,Rutina
448,CHAXA,NaN,Agua lluvia 2017,1096|EST. METEO. CHAXA,5.835300e+05,7.424240e+06,20/06/2017 12:00:00 a. m.,153435,1,Laboratorio,...,‰,NaN,-76.617054,-76.617054,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D_‰,Rutina
449,CHAXA,NaN,Lluvia Marzo 2018,EST. METEO. CHAXA|43189,5.835300e+05,7.424240e+06,30/03/2018 11:30:00 a. m.,279316,1,Laboratorio,...,‰,NaN,-19.22839,-19.22839,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo D_‰,Rutina
450,CHAXA,NaN,Agua lluvia 2017,1096|EST. METEO. CHAXA,5.835300e+05,7.424240e+06,20/06/2017 12:00:00 a. m.,154837,1,Laboratorio,...,‰,NaN,-11.365764,-11.365764,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O_‰,Rutina
451,CHAXA,NaN,Lluvia Marzo 2018,EST. METEO. CHAXA|43189,5.835300e+05,7.424240e+06,30/03/2018 11:30:00 a. m.,279317,1,Laboratorio,...,‰,NaN,-2.87614,-2.87614,BBDDParaExtractosQuimica_InfoEfec_L1-4_Isotopo...,Quimica,NaN,"TESIS ISÓTOPOS ANDES, CSIC",Isotopo d18O- H2O_‰,Rutina

In [187]:
df_update.columns

Index(['Nombre Infraestructura', 'Alias Infraestructura', 'Campanna',
       'Nombre Muestra', 'Coordenada Utm Este', 'Coordenada Utm Norte',
       'Fecha Muestra', 'Id Analisis Quimico', 'Id Calidad', 'Tipoanalisis',
       'Nombre Grupo Trabajo', 'Nombre Laboratorio', 'Nombre Metodo',
       'Nombre Muestra Padre', 'Nombre Origen Agua', 'Nombre Recepcion',
       'Nombre Regimen Muestreo', 'Nombre Sistema Cooordenadas',
       'Nombre Tipo Cota', 'Nombre Tipo Medicion Coordenada',
       'Nombre Tipo Muestra', 'Nombre Uso Punto', 'Nombre Analito',
       'Nombre Unidad', 'Nombre Descriptor', 'Valor Analitico',
       'Valor Analitico Num', 'Procedencia', 'Tipo_analisis_BD', 'Comentario',
       'Fuente_D', 'Nombre Analito_Unidad'],
      dtype='object')

In [189]:
df_update.to_sql('SQM-Concentraciones_NEW', engine, index=False, if_exists='replace',)

405