In [1]:
"""@author: César Godoy Delaigue"""

import pandas as pd
import numpy as np
import xlrd
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import unicodedata
import sqlalchemy
import pyodbc
import matplotlib.pyplot as plt
import os
from datetime import datetime
pd.__version__

'2.1.4'

1.- Listar todos los archivos Excel en tu directorio:

In [5]:
path = r'C:\Entorno Desarrollo\PROYECTO SQM-SALAR\Nueva_Activacion_L4-12\Niveles\Todos_los_sistemas'
files = [f for f in os.listdir(path) if f.endswith('.xlsx')]

2.- Definir una función para procesar y agregar la información al DataFrame final:

In [6]:
def process_file(filename, path):
    xls = pd.ExcelFile(os.path.join(path, filename))
    sheets = xls.sheet_names  # Obtén todas las hojas en el archivo
    
    all_data = []  # crear una lista para almacenar los dataframes
    for sheet in sheets:
        df = pd.read_excel(xls, sheet_name=sheet)
        df['Hoja'] = sheet  # Añadir una columna con el nombre de la hoja
        all_data.append(df)
        
    return pd.concat(all_data, ignore_index=True)

3.- Combina todos los archivos en un DataFrame:

In [7]:
all_files_data = [process_file(f, path) for f in files]
combined_df = pd.concat(all_files_data, ignore_index=True)

C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\1374426627.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(all_data, ignore_index=True)
C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\1374426627.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(all_data, ignore_index=True)
C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\1374426627.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(all_data, ignore_index=True)
C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\1374426627.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(all_data, ignore_index=True)
C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\2752875607.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(all_files_data, ignore_index=True)

4.- Guarda el DataFrame en un nuevo archivo Excel con hojas separadas:

In [8]:
with pd.ExcelWriter(os.path.join(path, 'Niveles_file.xlsx')) as writer:
    for sheet_name in ['Nivel Manual', 'Nivel Continuo', 'Nivel Continuo 1']:
        subset = combined_df[combined_df['Hoja'] == sheet_name]
        subset.drop(columns=['Hoja'], inplace=True)
        subset.to_excel(writer, sheet_name=sheet_name, index=False)

C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\3060028505.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.drop(columns=['Hoja'], inplace=True)
C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\3060028505.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.drop(columns=['Hoja'], inplace=True)
C:\Users\cgodo\AppData\Local\Temp\ipykernel_32036\3060028505.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.drop(columns=['Hoja'], inplace=True)

In [20]:
# Read the Excel file
file_path = r"C:\Entorno Desarrollo\PROYECTO SQM-SALAR\Procesa_Niveles_Octubre2023\ProcesaNivelesTodos\Niveles_Update_19122023.xlsx"
df_manual = pd.read_excel(file_path, sheet_name='Nivel Manual')
df_continuo = pd.read_excel(file_path, sheet_name='Nivel Continuo')
df_continuo1 = pd.read_excel(file_path, sheet_name='Nivel Continuo 1')

# Combine the sheets into a single dataframe
combined_df = pd.concat([df_manual, df_continuo, df_continuo1], ignore_index=True)

# Save the combined dataframe to a new Excel file
combined_file_path = r"C:\Entorno Desarrollo\PROYECTO SQM-SALAR\Procesa_Niveles_Octubre2023\ProcesaNivelesTodos\Combined_Niveles_ALL.xlsx"
combined_df.to_excel(combined_file_path, index=False)

print(f"The combined file has been saved at: {combined_file_path}")

The combined file has been saved at: C:\Entorno Desarrollo\PROYECTO SQM-SALAR\Procesa_Niveles_Octubre2023\ProcesaNivelesTodos\Combined_Niveles_ALL.xlsx

In [11]:
ruta = r'C:\Entorno Desarrollo\PROYECTO SQM-SALAR\Nueva_Activacion_L4-12\Niveles\Todos_los_sistemas\niveles_file.xlsx'


df_Niveles_update = pd.read_excel(ruta, engine="openpyxl", sheet_name='Nivel Continuo 1')

In [44]:
df_Niveles_update.head()

,Fecha,Compañia,Punto de monitoreo,Tipo nivel,Nivel (msnm),Cota Punto Referencia (msnm),Nivel bajo referencia (m)
0,2021-03-30 21:00:00,SQM,L13-4,Continuo1,2301.431,"2.302,472",1.041
1,2021-03-31 21:00:00,SQM,L13-4,Continuo1,2301.433,"2.302,472",1.039
2,2021-03-31 21:00:00,SQM,L13-4,Continuo1,2301.433,"2.302,472",1.039
3,2021-04-01 21:00:00,SQM,L13-4,Continuo1,2301.433,"2.302,472",1.039
4,2021-04-01 21:00:00,SQM,L13-4,Continuo1,2301.433,"2.302,472",1.039

In [45]:
df_Niveles_update['Cota Punto Referencia (msnm)'] = df_Niveles_update['Cota Punto Referencia (msnm)'].str.replace('.', '').str.replace(',', '.').astype(float)

In [46]:
df_Niveles_update.head()

,Fecha,Compañia,Punto de monitoreo,Tipo nivel,Nivel (msnm),Cota Punto Referencia (msnm),Nivel bajo referencia (m)
0,2021-03-30 21:00:00,SQM,L13-4,Continuo1,2301.431,2302.472,1.041
1,2021-03-31 21:00:00,SQM,L13-4,Continuo1,2301.433,2302.472,1.039
2,2021-03-31 21:00:00,SQM,L13-4,Continuo1,2301.433,2302.472,1.039
3,2021-04-01 21:00:00,SQM,L13-4,Continuo1,2301.433,2302.472,1.039
4,2021-04-01 21:00:00,SQM,L13-4,Continuo1,2301.433,2302.472,1.039

In [47]:
df_Niveles_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101907 entries, 0 to 101906
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Fecha                         101907 non-null  object
 1   Compañia                      101907 non-null  object
 2   Punto de monitoreo            101907 non-null  object
 3   Tipo nivel                    101907 non-null  object
 4   Nivel (msnm)                  101907 non-null  float64
 5   Cota Punto Referencia (msnm)  101907 non-null  float64
 6   Nivel bajo referencia (m)     101907 non-null  float64
dtypes: float64(3), object(4)
memory usage: 5.4+ MB

In [48]:
from sqlalchemy import create_engine

# Crear conexión a la base de datos
engine = create_engine('postgresql://postgres:Godoca1977$@localhost:5432/DB_SQM-SALAR')

In [49]:
# Exportar dataframe a la tabla 'table_name' en la base de datos
df_Niveles_update.to_sql('SQM-Niveles-Continuos1_Soncor', engine, index=False, schema="public", if_exists='replace')

907

5.- Actualiza BD PostgreSQL

In [46]:
from sqlalchemy import create_engine
from datetime import datetime

# Crear conexión a la base de datos
engine = create_engine('postgresql://postgres:Godoca1977$@localhost:5432/DB_SQM-SALAR')

# Leer la tabla existente en la base de datos
df_existing = pd.read_sql('SELECT * FROM "DataSetNivel_Piezometrico_SQM_V0"', engine)

In [47]:
df_existing.head()

,Fecha,Compañia,Punto de monitoreo,Tipo nivel,Nivel (msnm),Cota Referencia(msnm),Prof Nivel (m),Sub-Sistema,Sistema
0,2006-02-28 14:25:00,SQM,CAMAR-2,Manual,2323.208,2379.228,56.020,Aguas de Quelana,Aguas de Quelana
1,2006-03-31 12:12:00,SQM,CAMAR-2,Manual,2323.268,2379.228,55.960,Aguas de Quelana,Aguas de Quelana
2,2006-04-30 10:45:00,SQM,CAMAR-2,Manual,2323.248,2379.228,55.980,Aguas de Quelana,Aguas de Quelana
3,2006-05-31 17:05:00,SQM,CAMAR-2,Manual,2323.228,2379.228,56.000,Aguas de Quelana,Aguas de Quelana
4,2006-06-30 15:06:00,SQM,CAMAR-2,Manual,2323.253,2379.228,55.975,Aguas de Quelana,Aguas de Quelana

In [48]:
file_path = "Niveles_BD.xlsx"
df_existing.to_excel(file_path, index=False)

print(f"El archivo ha sido guardado en: {file_path}")

El archivo ha sido guardado en: Niveles_BD.xlsx

In [36]:
df_existing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100847 entries, 0 to 100846
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Fecha                  100847 non-null  datetime64[ns]
 1   Compañia               100847 non-null  object
 2   Punto de monitoreo     100847 non-null  object
 3   Tipo nivel             100847 non-null  object
 4   Nivel (msnm)           87157 non-null   float64
 5   Cota Referencia(msnm)  100847 non-null  float64
 6   Prof Nivel (m)         87157 non-null   float64
 7   Sub-Sistema            100847 non-null  object
 8   Sistema                100847 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 6.9+ MB

In [37]:
df_Niveles_update['Fecha'] = pd.to_datetime(df_Niveles_update['Fecha'])  # Asegurar que la columna Fecha es de tipo datetime
df_filtered = df_Niveles_update[df_Niveles_update['Fecha'] >= '2023-05-01']

Identificar y seleccionar solo las filas nuevas (que no están en la base de datos existente):

In [38]:
# Asumiendo que 'Fecha' y 'Punto de monitoreo' juntas hacen una clave única:

merged = df_existing.merge(df_filtered, on=['Fecha', 'Punto de monitoreo'], how='outer', indicator=True)
new_data = merged[merged['_merge'] == 'right_only'].drop(columns=['_merge'])

In [39]:
# Añadir la columna de fecha de actualización a la nueva data
new_data['Fecha Actualizacion'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [40]:
df_combined = pd.concat([df_existing, new_data], ignore_index=True)

In [41]:
# Exportar el dataframe combinado a Excel
file_path = "df_combined.xlsx"
df_combined.to_excel(file_path, index=False)

print(f"El archivo ha sido guardado en: {file_path}")

El archivo ha sido guardado en: df_combined.xlsx